/*
VERSION		MODIFIEDBY			MODIFIEDDATE	  HU			 MODIFICATION
1			Jonathan Merino     2026-03-13	      WMS 57728		 Initial code - Stored procedure based on pro_CycleCountDiscrepanciesReport
*/

CREATE OR ALTER   PROCEDURE [dbo].[AC_pro_CycleCountDiscrepanciesReport]
@countNumber	INT,
@idCompany		VARCHAR(16),
@withIdArea		XML = NULL,
@withOutIdArea	XML = NULL
AS
BEGIN
 

	CREATE TABLE #withIdArea (
				idClient			VARCHAR(16),
				idArea				UNIQUEIDENTIFIER,
				codeDiscrepancy		VARCHAR(64)
			)

	CREATE TABLE #withOutIdArea (
				idClient			VARCHAR(16),
				codeDiscrepancy		VARCHAR(64)
			)

	CREATE TABLE #report (
				[Date]				DATETIME,
				CycleCountNumber	INT,
				Warehouse			VARCHAR(512),
				Barcode				VARCHAR(32),
				[Location]			VARCHAR(64),
				Product				VARCHAR(64),
				[Description]		VARCHAR(256),
				Waybill				VARCHAR(32),
				BillTo				VARCHAR(512),
				Shipto				VARCHAR(512),
				Supplier			VARCHAR(512),
				CodeDiscrepancy		VARCHAR(64)
			)

	IF(@withIdArea IS NOT NULL)
		INSERT INTO #withIdArea
		SELECT 
			PARSENAME( T.c.value('.', 'VARCHAR(128)'), 3),
			PARSENAME( T.c.value('.', 'VARCHAR(128)'), 2),
			PARSENAME( T.c.value('.', 'VARCHAR(128)'), 1)
		FROM @withIdArea.nodes('/ArrayOfString/string') AS T(c)

	IF(@withOutIdArea IS NOT NULL)
		INSERT INTO #withOutIdArea
		SELECT 
			PARSENAME([Value], 2),
			PARSENAME([Value], 1)
		FROM [dbo].fnObtenerValoresXML(@withOutIdArea)

	IF(@withIdArea IS NOT NULL)
		BEGIN		
			INSERT INTO #report
			SELECT 
				CC.cycleCountDate,
				CC.CycleCountNumber,
				BD.nombre Warehouse,
				barcode,
				U.codigo,
				DM.nombre,
				CCD.productDescription,
				CCD.shipmentNumber,
				CLB.BillToName,
				CLC.nombre,				
				EX.nombre,
				CCD.CodeDiscrepancy
			FROM CycleCounts CC
				JOIN CycleCountDetails CCD WITH (NOLOCK) ON CC.id = CCD.idCycleCount AND CCD.isDiscrepancy = 1
				JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON GHD.id = CCD.idItem
				JOIN GuiasHouse GH WITH (NOLOCK) ON GHD.idGuiaHouse = GH.id
				JOIN #withIdArea WA ON GHD.ConsigneeId = WA.idClient AND CCD.codeDiscrepancy = WA.codeDiscrepancy
				JOIN DetalleMercancias DM ON CCD.idMerchandiseDetail = DM.id
				JOIN v_ClientsEntities CLB ON GH.BilltoConsigneeId = CLB.id
				JOIN v_ClientsEntities CLC ON WA.idClient = CLC.ConsigneeId
				JOIN Exportadores EX ON CCD.idExporter = EX.ID
				JOIN Bodegas BD ON CC.idWarehouse = BD.id
				JOIN UbicacionPiezas UP WITH (NOLOCK) ON CCD.idItem = UP.idGuiaHouseDetalle
				JOIN Ubicaciones U ON UP.idUbicacion = U.id 
				JOIN UbicacionesBodega UB ON U.idUbicacionBodega = UB.id AND UB.id = WA.idArea
			WHERE CC.cycleCountNumber = @countNumber AND CC.idCompany = @idCompany;			
			
			INSERT INTO #report
			SELECT 
				CC.cycleCountDate,
				CC.CycleCountNumber,
				BD.nombre Warehouse,
				CCDE.barcode,
				U.codigo,				
				'-' [product],
				'-' [description],
				'-' shipmentNumber,
				'-' BillTo,
				'-' Shipto,
				'-' Supplier,
				CCDE.CodeDiscrepancy
			FROM CycleCounts CC
				JOIN CycleCountDetailsErrors CCDE WITH (NOLOCK) ON CC.id = CCDE.idCycleCount
				JOIN #withIdArea WA ON WA.idClient = 'null' AND CCDE.codeDiscrepancy = WA.codeDiscrepancy
				JOIN Bodegas BD ON CC.idWarehouse = BD.id
				JOIN Ubicaciones U ON CCDE.idLocation = U.id
				JOIN UbicacionesBodega UB ON U.idUbicacionBodega = UB.id AND UB.id = WA.idArea
			WHERE CC.cycleCountNumber = @countNumber AND CC.idCompany = @idCompany;			
			
		END


	IF(@withOutIdArea IS NOT NULL)
		BEGIN
			INSERT INTO #report
			SELECT 
				CC.cycleCountDate,
				CC.CycleCountNumber,
				BD.nombre Warehouse,
				barcode,
				'-',
				DM.nombre,
				CCD.productDescription,
				[dbo].[fFormatoGuiaAerea](CCD.shipmentNumber),
				CLB.BillToName,
				CLC.nombre,
				EX.nombre,
				CCD.CodeDiscrepancy
			FROM CycleCounts CC
				JOIN CycleCountDetails CCD WITH (NOLOCK) ON CC.id = CCD.idCycleCount AND CCD.isDiscrepancy = 1
				JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON GHD.id = CCD.idItem
				JOIN GuiasHouse GH WITH (NOLOCK) ON GHD.idGuiaHouse = GH.id
				--JOIN #withOutIdArea WA ON GHD.idClienteFinal = WA.idClient AND CCD.codeDiscrepancy = WA.codeDiscrepancy
				JOIN #withIdArea WA ON GHD.ConsigneeId = WA.idClient AND CCD.codeDiscrepancy = WA.codeDiscrepancy
				JOIN DetalleMercancias DM ON CCD.idMerchandiseDetail = DM.id
				--JOIN Clientes CL ON WA.idClient = CL.id
				JOIN v_ClientsEntities CLB ON GH.BilltoConsigneeId = CLB.id
				JOIN v_ClientsEntities CLC ON WA.idClient = CLC.ConsigneeId
				JOIN Exportadores EX ON CCD.idExporter = EX.ID
				JOIN Bodegas BD ON CC.idWarehouse = BD.id 
			WHERE CC.cycleCountNumber = @countNumber
			AND CC.idCompany = @idCompany
			AND CCD.idLocation IS NULL;

			INSERT INTO #report
			SELECT 
				CC.cycleCountDate,
				CC.CycleCountNumber,
				BD.nombre Warehouse,
				CCDE.barcode,
				'-',
				'-' [product],				
				'-' [Description],
				'-' Waybill,
				'-' BillTo,
				'-' Shipto,
				'-' Supplier,
				CCDE.CodeDiscrepancy
			FROM CycleCounts CC
				JOIN CycleCountDetailsErrors CCDE WITH (NOLOCK) ON CC.id = CCDE.idCycleCount
				JOIN #withOutIdArea WA ON WA.idClient = 'null' AND CCDE.codeDiscrepancy = WA.codeDiscrepancy
				JOIN Bodegas BD ON CC.idWarehouse = BD.id
				JOIN Ubicaciones U ON CCDE.idLocation = U.id
				JOIN UbicacionesBodega UB ON U.idUbicacionBodega = UB.id
			WHERE CC.cycleCountNumber = @countNumber
			AND CC.idCompany = @idCompany				
			AND CCDE.idLocation IS NULL;			
		END

	SELECT 
		[Date], 
		CycleCountNumber, 
		Warehouse, 
		Barcode, 
		[Location], 
		Product, 
		[Description],
		Waybill,
		BillTo,
		Shipto, 
		Supplier, 	
		ISNULL(c.NombreIngles, r.CodeDiscrepancy) CodeDiscrepancy,
		ISNULL(c.identificador, r.CodeDiscrepancy) CodeDiscrepancySort
	FROM #report r
		LEFT JOIN Catalogos c ON r.CodeDiscrepancy = c.codigoRelacion AND c.codigo = 'CodeDiscrepancy'
	
END

/*

declare @p2 xml
set @p2=convert(xml,N'<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><string>CLI012405.c1ce65ac-9481-4362-b602-d11de52423c4.msgPiecesNotFound</string></ArrayOfString>')
declare @p3 xml
set @p3=convert(xml,N'<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><string>CLI012407.msgPiecesNotFound</string></ArrayOfString>')
exec dbo.pro_CycleCountDiscrepanciesReport @countNumber=1425022,@idCompany='EMP014',@withIdArea=@p2,@withOutIdArea=@p3


declare @p3 xml
set @p3=convert(xml,N'<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><string>CLI0412944.0bc9a621-620e-4098-87d1-6e6bafc6fb40.msgPiecesNotFound</string></ArrayOfString>')
exec dbo.pro_CycleCountDiscrepanciesReport @countNumber=1425021,@idCompany='EMP014',@withIdArea=@p3,@withOutIdArea=NULL


*/


