/*
VERSION		MODIFIEDBY			MODIFIEDDATE	HU			MODIFICATION
1			Jordan Chango       2026-02-02		57730		Initial Code - Based on pro_ObtenerPiezasClientesDetalle
*/
CREATE OR ALTER PROCEDURE [dbo].[AC_pro_GetClientsPiecesDetails] 
	@idEmpresa VARCHAR(16),
	@fechaDesde DATETIME = NULL,
	@fechaHasta DATETIME = NULL,
	@po VARCHAR(64) = NULL,
	@truckId VARCHAR(10) = NULL,
	@ShipToId VARCHAR(16) = NULL,
	@nroDocumento VARCHAR(32) = NULL,
	@nombreExportador VARCHAR(256) = NULL,
	@ConsigneeName VARCHAR(512) = NULL,
	@ShipToName VARCHAR(512) = NULL,
	@idManifiesto UNIQUEIDENTIFIER = NULL,
	@palletLabel VARCHAR(16) = NULL,
	@chofer VARCHAR(128) = NULL,
	@camion VARCHAR(16) = NULL,
	@puerta VARCHAR(16) = NULL,
	@nroDespacho VARCHAR(16) = NULL,
	@idBodega VARCHAR(16) = NULL,
	@idOrdenVenta UNIQUEIDENTIFIER = NULL,
	@idHeaderLabel UNIQUEIDENTIFIER = NULL,
	@fechaDespacho DATETIME = NULL,
	@esInventario BIT = NULL,
	@idCarrier VARCHAR(16) = NULL,
	@ConsigneeId VARCHAR(16) = NULL,
	@idTransporte VARCHAR(16) = NULL,
	@BillToId VARCHAR(16) = NULL,
	@BillToName VARCHAR(512) = NULL
AS
BEGIN
	BEGIN TRY
		DECLARE @idSinManifiesto UNIQUEIDENTIFIER = NEWID()

		IF (@fechaDespacho IS NOT NULL)
		BEGIN
			SELECT @fechaDesde = @fechaDespacho,
				@fechaHasta = @fechaDespacho;
		END;

		CREATE TABLE #TMP_Data (
			idGuiaHouseDetalle UNIQUEIDENTIFIER,
			idGuiaHouse UNIQUEIDENTIFIER,
			shipToId VARCHAR(16) NULL,
			estadoPieza VARCHAR(16) NULL,
			truckId VARCHAR(16) NULL,
			po VARCHAR(64) NULL,
			largoIn DECIMAL(18, 3),
			anchoIn DECIMAL(18, 3),
			altoIn DECIMAL(18, 3),
			fechaRecepcion DATETIME NULL,
			fechaDespacho DATETIME NULL,
			idCarrier VARCHAR(16) NOT NULL,
			idPC UNIQUEIDENTIFIER,
			nroGuia VARCHAR(32),
			entityId VARCHAR(16) NULL,
			consigneeId VARCHAR(16) NULL,
			house VARCHAR(32) NULL,
			idGuia VARCHAR(128),
			idExportador VARCHAR(16) NULL,
			idBodega VARCHAR(16),
			idUsuarioPicking VARCHAR(16)
			)

		CREATE TABLE #TMP_ShipTo (id VARCHAR(16))

		CREATE TABLE #TMP_Consignee (id VARCHAR(16))

		CREATE TABLE #TMP_BillTo (id VARCHAR(16))

		CREATE TABLE #TMP_Exportadores (id VARCHAR(16))

		CREATE TABLE #TMP_CarrierNoDelivery (
			id VARCHAR(16),
			valor VARCHAR(16)
			)

		INSERT INTO #TMP_CarrierNoDelivery
		SELECT T.id,
			PC.Valor AS valor
		FROM Transportes T
			INNER JOIN ParametrosCatalogos PC ON T.idTransportePrincipal = PC.IdEntidad
			INNER JOIN ParametrosLista PL ON PC.IdParametroLista = PL.Id AND PL.codigo = 'EsDelivery'
		WHERE PC.valor = 'NO'
			AND PL.Actor IN (
				'CARRIER',
				'TERRESTRE'
				)
			AND PL.idEmpresa = @idEmpresa

		INSERT INTO #TMP_Data
		SELECT GHD.id idGuiaHouseDetalle,
			GHD.idGuiaHouse,
			GHD.shipToId,
			GHD.estadoPieza,
			GHD.truckId,
			GHD.po,
			GHD.largoIn,
			GHD.anchoIn,
			GHD.altoIn,
			GHD.fechaRecepcion,
			pc.fechaDespacho,
			pc.idCarrier,
			pc.id idPC,
			GH.nroGuia,
			ISNULL(GH.BillToConsigneeId, GH.ConsigneeId) entityId,
			GH.ConsigneeId consigneeId,
			GH.house,
			GH.idGuia,
			GH.idExportador,
			GH.idBodega,
			PC.idUsuarioLogPicking
		FROM ProgramacionCarrier PC WITH (NOLOCK)
		INNER JOIN GuiasHouseDetalles GHD WITH (
				NOLOCK,
				INDEX = PK_GuiasHouseDetalles
				) ON PC.idguiahousedetalle = GHD.id
		INNER JOIN GuiasHouse GH WITH (NOLOCK) ON GHD.idGuiaHouse = GH.id
		WHERE PC.idCarrier NOT IN (
				SELECT id
				FROM #TMP_CarrierNoDelivery
				)
			AND PC.fechaDespacho BETWEEN @fechaDesde
				AND @fechaHasta
			AND PC.idCarrier = ISNULL(@idCarrier, PC.idCarrier)
			AND GH.idEmpresa = @idEmpresa

		---FILTROS LIKE
		IF (@po IS NOT NULL)
		BEGIN
			SELECT @po = '%' + @po + '%'
		END;

		IF (@truckId IS NOT NULL)
		BEGIN
			SELECT @truckId = '%' + @truckId + '%'
		END;

		IF (@nroDocumento IS NOT NULL)
		BEGIN
			SELECT @nroDocumento = '%' + @nroDocumento + '%'
		END;

		IF (@nombreExportador IS NOT NULL)
		BEGIN
			IF @idTransporte IS NOT NULL
			BEGIN
				INSERT INTO #TMP_Exportadores
				VALUES (@idTransporte)
			END
			ELSE
			BEGIN
				SELECT @nombreExportador = '%' + @nombreExportador + '%'

				INSERT INTO #TMP_Exportadores
				SELECT EX.id
				FROM Exportadores EX
				WHERE EX.nombreComercial LIKE @nombreExportador
			END
		END;

		IF (@ConsigneeName IS NOT NULL)
		BEGIN
			IF @ConsigneeId IS NOT NULL
			BEGIN
				INSERT INTO #TMP_Consignee
				VALUES (@ConsigneeId)
			END
			ELSE
			BEGIN
				INSERT INTO #TMP_Consignee
				SELECT id
				FROM f_SearchEntities(@ConsigneeName, 'Consignee')
			END
		END;

		IF (@BillToName IS NOT NULL)
		BEGIN
			IF @BillToId IS NOT NULL
			BEGIN
				INSERT INTO #TMP_BillTo
				SELECT id
				FROM v_ClientsEntities
				WHERE BillToId = @BillToId
			END
			ELSE
			BEGIN
				INSERT INTO #TMP_BillTo
				SELECT id
				FROM f_SearchEntities(@BillToName, 'BillTo')
			END
		END;

		IF (@ShipToName IS NOT NULL)
		BEGIN
			IF @ShipToId IS NOT NULL
			BEGIN
				INSERT INTO #TMP_ShipTo
				VALUES (@ShipToId)
			END
			ELSE
			BEGIN
				INSERT INTO #TMP_ShipTo
				SELECT id
				FROM f_SearchEntities(@ShipToName, 'ShipTo')
			END
		END;

		IF (@palletLabel IS NOT NULL)
		BEGIN
			SELECT @palletLabel = '%' + @palletLabel + '%'
		END;

		IF (@puerta IS NOT NULL)
		BEGIN
			SELECT @puerta = '%' + @puerta + '%'
		END;

		IF (@nroDespacho IS NOT NULL)
		BEGIN
			SELECT @nroDespacho = '%' + @nroDespacho + '%'
		END;

		IF (@camion IS NOT NULL)
		BEGIN
			SELECT @camion = '%' + @camion + '%'
		END;

		IF (@chofer IS NOT NULL)
		BEGIN
			SELECT @chofer = '%' + @chofer + '%'
		END;

		-----
		IF @po IS NULL
			AND @truckId IS NULL
			AND @ShipToId IS NULL
			AND @nroDocumento IS NULL
			AND @nombreExportador IS NULL
			AND @ConsigneeName IS NULL
			AND @ShipToName IS NULL
			AND @idManifiesto IS NULL
			AND @palletLabel IS NULL
			AND @chofer IS NULL
			AND @camion IS NULL
			AND @puerta IS NULL
			AND @nroDespacho IS NULL
			AND @idBodega IS NULL
			AND @idOrdenVenta IS NULL
			AND @idHeaderLabel IS NULL
			AND @fechaDespacho IS NULL
			AND @esInventario IS NULL
			AND @BillToName IS NULL
		BEGIN
			SELECT D.idGuiaHouseDetalle id,
				D.idGuiaHouse,
				D.nroGuia,
				D.fechaDespacho,
				ISNULL(UB.idBodega, D.idBodega) idBodega,
				ISNULL(BP.nombre, BG.nombre) nombreBodega,
				T.id idCarrier,
				T.nombre nombreCarrier,
				PCL.id idPaisAlt,
				PCL.nombre nombrePaisAlt,
				PCL.codigoISO codigoIsoPaisAlt,
				ECL.id idEstadoAlt,
				ECL.codigoISO codigoIsoEstadoAlt,
				ECL.nombre estadoAlt,
				SHI.id idClienteFinal,
				SHI.nombre NombreClienteFinal,
				P.id idPais,
				P.nombre nombrePais,
				P.codigoISO codigoIsoPais,
				E.id idEstado,
				E.codigoISO codigoIsoEstado,
				E.nombre estado,
				MAN.id idManifiesto,
				MAN.nroManifiesto,
				PRTE.codigoAduana descripcionPuertoFronterizo,
				D.estadoPieza [status],
				U.cargaTransito cargaTransitoNull,
				DD.nombreArchivo,
				DD.id idDocumentosDespacho,
				DD.mailEnviado,
				TEX.enviado transportExportMailEnviado,
				TEX.fechaEnvio,
				CASE WHEN EM.id IS NOT NULL THEN ISNULL(EM.nombres + ' ' + EM.apellidos, '') ELSE ISNULL(UCL.nombre, '') END usuarioEnvia,
				D.truckId,
				D.PO,
				D.consigneeId idClienteConsignee,
				CON.nombre NombreClienteConsignee,
				D.house,
				D.idGuia,
				D.largoIn,
				D.altoIn,
				D.anchoIn,
				(D.largoIn * D.altoIn * D.anchoIn) multiplicacionDimensiones,
				PL.pallet,
				SV.id idOrdenVenta,
				CASE WHEN SVD.picking = 1 THEN 1 WHEN D.idUsuarioPicking IS NOT NULL THEN 1 ELSE 0 END AS picking,
				CASE WHEN PM.nota = 'Escaner picking' THEN 1 ELSE 0 END despachoEscaner,
				DD.esPOD,
				D.fechaRecepcion,
				CAST(CASE WHEN SV.tipoVenta = 5
							AND SVD.tipoPieza = 1 THEN 1 WHEN SV.tipoVenta < 4 THEN 1 ELSE 0 END AS BIT) esInventario
			FROM #TMP_Data D
				INNER JOIN v_ClientsEntities SHI WITH (NOLOCK) ON D.ShipToId = SHI.id
				INNER JOIN v_ClientsEntities CON WITH (NOLOCK) ON D.EntityId = CON.id
				INNER JOIN Transportes T WITH (NOLOCK) ON D.idCarrier = T.id
				INNER JOIN Exportadores EX WITH (NOLOCK) ON D.idExportador = EX.id
				LEFT JOIN DetalleDespacho DLD WITH (NOLOCK) ON D.idGuiaHouseDetalle = DLD.idGuiaHouseDetalle
				LEFT JOIN EncabezadoDespacho ED WITH (NOLOCK) ON DLD.idEncabezadoDespacho = ED.id
				LEFT JOIN Empleados EMP WITH (NOLOCK) ON ED.idEmpleado = EMP.id
				LEFT JOIN VehiculosExportadores VE WITH (NOLOCK) ON (ED.idVehiculo = VE.id)
				LEFT JOIN Paises P WITH (NOLOCK) ON SHI.idPais = P.id
				LEFT JOIN Estados E WITH (NOLOCK) ON SHI.idEstado = E.id
				LEFT JOIN Paises PCL WITH (NOLOCK) ON CON.idPais = PCL.id
				LEFT JOIN Estados ECL WITH (NOLOCK) ON CON.idEstado = ECL.id
				LEFT JOIN ProgramacionManifiesto PM WITH (NOLOCK) ON D.idPC = PM.idProgramacionCarrier
				LEFT JOIN ManifiestosDespacho MAN WITH (NOLOCK) ON PM.idManifiestoDespacho = MAN.id
				OUTER APPLY (
					SELECT TOP 1 nombreArchivo,
						mailEnviado,
						id,
						esPOD
					FROM DocumentosDespacho
					WHERE MAN.id = idManifiesto
						AND idDocumento = 'DOC052395'
					ORDER BY IIF(nombreArchivo LIKE '%POD%', 1, 0) DESC
					) DD
				LEFT JOIN ProgramacionTE PTE WITH (NOLOCK) ON D.idPC = PTE.idProgramacionCarrier
				LEFT JOIN TransportacionExportacion TEX WITH (NOLOCK) ON PTE.idTE = TEX.id
				LEFT JOIN Puertos PRTE WITH (NOLOCK) ON TEX.idPuerto = PRTE.id
				LEFT JOIN Usuarios US WITH (NOLOCK) ON TEX.idUsuarioEnvio = US.id
				LEFT JOIN Empleados EM WITH (NOLOCK) ON US.idEntidad = EM.id
				LEFT JOIN v_ClientsEntities UCL WITH (NOLOCK) ON US.EntityTypeId = UCL.id
				LEFT JOIN PalletsDetalles PD WITH (NOLOCK) ON D.idGuiaHouseDetalle = PD.idGuiasHouseDetalle
				LEFT JOIN Pallets PL WITH (NOLOCK) ON PD.idPallet = PL.id
				LEFT JOIN SolicitudDeVentaDetalles SVD WITH (NOLOCK) ON SVD.idGuiaHouseDetalle = D.idGuiaHouseDetalle
				LEFT JOIN SolicitudDeVenta SV WITH (NOLOCK) ON SV.id = SVD.idSolicitud
				LEFT JOIN UbicacionPiezas UP WITH (NOLOCK) ON D.idGuiaHouseDetalle = UP.idGuiaHouseDetalle
				LEFT JOIN Ubicaciones U WITH (NOLOCK) ON UP.idUbicacion = U.id
				LEFT JOIN UbicacionesBodega UB WITH (NOLOCK) ON U.idUbicacionBodega = UB.id
				LEFT JOIN Bodegas BG WITH (NOLOCK) ON D.idBodega = BG.id
				LEFT JOIN Bodegas BP WITH (NOLOCK) ON UB.idBodega = BP.id
		END
		ELSE
		BEGIN
			IF @ShipToId IS NOT NULL
			BEGIN
				SELECT D.idGuiaHouseDetalle id,
					D.idGuiaHouse,
					D.nroGuia,
					D.fechaDespacho,
					ISNULL(UB.idBodega, D.idBodega) idBodega,
					ISNULL(BP.nombre, BG.nombre) nombreBodega,
					T.id idCarrier,
					T.nombre nombreCarrier,
					PCL.id idPaisAlt,
					PCL.nombre nombrePaisAlt,
					PCL.codigoISO codigoIsoPaisAlt,
					ECL.id idEstadoAlt,
					ECL.codigoISO codigoIsoEstadoAlt,
					ECL.nombre estadoAlt,
					CON.id idClienteFinal,
					CON.nombre NombreClienteFinal,
					P.id idPais,
					P.nombre nombrePais,
					P.codigoISO codigoIsoPais,
					E.id idEstado,
					E.codigoISO codigoIsoEstado,
					E.nombre estado,
					MAN.id idManifiesto,
					MAN.nroManifiesto,
					PRTE.codigoAduana descripcionPuertoFronterizo,
					D.estadoPieza [status],
					U.cargaTransito cargaTransitoNull,
					DD.nombreArchivo,
					DD.id idDocumentosDespacho,
					DD.mailEnviado,
					TEX.enviado transportExportMailEnviado,
					TEX.fechaEnvio,
					CASE WHEN EM.id IS NOT NULL THEN ISNULL(EM.nombres + ' ' + EM.apellidos, '') ELSE ISNULL(UCL.nombre, '') END usuarioEnvia,
					D.truckId,
					D.PO,
					D.consigneeId idClienteConsignee,
					CON.nombre NombreClienteConsignee,
					D.house,
					D.idGuia,
					D.largoIn,
					D.altoIn,
					D.anchoIn,
					(D.largoIn * D.altoIn * D.anchoIn) multiplicacionDimensiones,
					PL.pallet,
					SV.id idOrdenVenta,
					CASE WHEN SVD.picking = 1 THEN 1 WHEN D.idUsuarioPicking IS NOT NULL THEN 1 ELSE 0 END AS picking,
					CASE WHEN PM.nota = 'Escaner picking' THEN 1 ELSE 0 END despachoEscaner,
					DD.esPOD,
					D.fechaRecepcion,
					CAST(CASE WHEN SV.tipoVenta = 5
								AND SVD.tipoPieza = 1 THEN 1 WHEN SV.tipoVenta < 4 THEN 1 ELSE 0 END AS BIT) esInventario
				FROM #TMP_Data D
					INNER JOIN v_ClientsEntities SHI WITH (NOLOCK) ON D.shipToId = SHI.id
					INNER JOIN v_ClientsEntities CON WITH (NOLOCK) ON D.entityId = CON.id
					INNER JOIN Transportes T WITH (NOLOCK) ON D.idCarrier = T.id
					INNER JOIN Exportadores EX WITH (NOLOCK) ON D.idExportador = EX.id
					LEFT JOIN DetalleDespacho DLD WITH (NOLOCK) ON D.idGuiaHouseDetalle = DLD.idGuiaHouseDetalle
					LEFT JOIN EncabezadoDespacho ED WITH (NOLOCK) ON DLD.idEncabezadoDespacho = ED.id
					LEFT JOIN Empleados EMP WITH (NOLOCK) ON ED.idEmpleado = EMP.id
					LEFT JOIN VehiculosExportadores VE WITH (NOLOCK) ON (ED.idVehiculo = VE.id)
					LEFT JOIN Paises P WITH (NOLOCK) ON SHI.idPais = P.id
					LEFT JOIN Estados E WITH (NOLOCK) ON SHI.idEstado = E.id
					LEFT JOIN Paises PCL WITH (NOLOCK) ON CON.idPais = PCL.id
					LEFT JOIN Estados ECL WITH (NOLOCK) ON CON.idEstado = ECL.id
					LEFT JOIN ProgramacionManifiesto PM WITH (NOLOCK) ON D.idPC = PM.idProgramacionCarrier
					LEFT JOIN ManifiestosDespacho MAN WITH (NOLOCK) ON PM.idManifiestoDespacho = MAN.id
					OUTER APPLY (
						SELECT TOP 1 nombreArchivo,
							mailEnviado,
							id,
							esPOD
						FROM DocumentosDespacho
						WHERE MAN.id = idManifiesto
							AND idDocumento = 'DOC052395'
						ORDER BY IIF(nombreArchivo LIKE '%POD%', 1, 0) DESC
						) DD
					LEFT JOIN ProgramacionTE PTE WITH (NOLOCK) ON D.idPC = PTE.idProgramacionCarrier
					LEFT JOIN TransportacionExportacion TEX WITH (NOLOCK) ON PTE.idTE = TEX.id
					LEFT JOIN Puertos PRTE WITH (NOLOCK) ON TEX.idPuerto = PRTE.id
					LEFT JOIN Usuarios US WITH (NOLOCK) ON TEX.idUsuarioEnvio = US.id
					LEFT JOIN Empleados EM WITH (NOLOCK) ON US.idEntidad = EM.id
					LEFT JOIN v_ClientsEntities UCL WITH (NOLOCK) ON US.EntityTypeId = UCL.id
					LEFT JOIN PalletsDetalles PD WITH (NOLOCK) ON D.idGuiaHouseDetalle = PD.idGuiasHouseDetalle
					LEFT JOIN Pallets pl WITH (NOLOCK) ON PD.idPallet = PL.id
					LEFT JOIN SolicitudDeVentaDetalles SVD WITH (NOLOCK) ON SVD.idGuiaHouseDetalle = D.idGuiaHouseDetalle
					LEFT JOIN SolicitudDeVenta SV WITH (NOLOCK) ON SV.id = SVD.idSolicitud
					LEFT JOIN UbicacionPiezas UP WITH (NOLOCK) ON D.idGuiaHouseDetalle = UP.idGuiaHouseDetalle
					LEFT JOIN Ubicaciones U WITH (NOLOCK) ON UP.idUbicacion = U.id
					LEFT JOIN UbicacionesBodega UB WITH (NOLOCK) ON U.idUbicacionBodega = UB.id
					LEFT JOIN Bodegas BG WITH (NOLOCK) ON D.idBodega = BG.id
					LEFT JOIN Bodegas BP WITH (NOLOCK) ON UB.idBodega = BP.id
				WHERE D.shipToId = @ShipToId AND (
								@ConsigneeName IS NULL OR D.consigneeId IN (
									SELECT id
									FROM #TMP_Consignee
									)
								) AND (
								@BillToName IS NULL OR D.entityId IN (
									SELECT id
									FROM #TMP_BillTo
									)
								) AND (@po IS NULL OR D.po LIKE @po) AND (@truckId IS NULL OR D.truckId LIKE @truckId) AND (@nroDocumento IS NULL OR D.nroGuia LIKE @nroDocumento) AND (
								@nombreExportador IS NULL OR EX.id IN (
									SELECT id
									FROM #TMP_Exportadores
									)
								) AND ISNULL(MAN.id, @idSinManifiesto) = ISNULL(@idManifiesto, ISNULL(MAN.id, @idSinManifiesto)) AND (@palletLabel IS NULL OR PL.pallet LIKE @palletLabel) AND (@puerta IS NULL OR ED.puerta LIKE @puerta) AND (@nroDespacho IS NULL OR ED.truckId LIKE @nroDespacho) AND (@idBodega IS NULL OR UB.idBodega = @idBodega OR D.idBodega = @idBodega) AND (@idOrdenVenta IS NULL OR SV.id = @idOrdenVenta) AND (@camion IS NULL OR VE.placa LIKE @camion) AND (
								@chofer IS NULL OR CONCAT (
									EMP.nombres,
									' ',
									EMP.apellidos
									) LIKE @chofer
								)
					AND CASE WHEN @esInventario IS NULL THEN 1 WHEN @esInventario = 0
							AND SV.id IS NULL THEN 1 WHEN @esInventario = 0
							AND SV.tipoVenta = 5
							AND SVD.tipoPieza = 2 THEN 1 WHEN @esInventario = 0
							AND SV.tipoVenta = 4 THEN 1 WHEN @esInventario = 1
							AND SV.tipoVenta = 5
							AND SVD.tipoPieza = 1 THEN 1 WHEN @esInventario = 1
							AND SV.tipoVenta < 4 THEN 1 ELSE 0 END = 1
			END
			ELSE
			BEGIN
				SELECT D.idGuiaHouseDetalle id,
					D.idGuiaHouse,
					D.nroGuia,
					D.fechaDespacho,
					ISNULL(UB.idBodega, D.idBodega) idBodega,
					ISNULL(BP.nombre, BG.nombre) nombreBodega,
					T.id idCarrier,
					T.nombre nombreCarrier,
					PCL.id idPaisAlt,
					PCL.nombre nombrePaisAlt,
					PCL.codigoISO codigoIsoPaisAlt,
					ECL.id idEstadoAlt,
					ECL.codigoISO codigoIsoEstadoAlt,
					ECL.nombre estadoAlt,
					SHI.id idClienteFinal,
					SHI.nombre NombreClienteFinal,
					P.id idPais,
					P.nombre nombrePais,
					P.codigoISO codigoIsoPais,
					E.id idEstado,
					E.codigoISO codigoIsoEstado,
					E.nombre estado,
					MAN.id idManifiesto,
					MAN.nroManifiesto,
					PRTE.codigoAduana descripcionPuertoFronterizo,
					D.estadoPieza [status],
					U.cargaTransito cargaTransitoNull,
					DD.nombreArchivo,
					DD.id idDocumentosDespacho,
					DD.mailEnviado,
					TEX.enviado transportExportMailEnviado,
					TEX.fechaEnvio,
					CASE WHEN EM.id IS NOT NULL THEN ISNULL(EM.nombres + ' ' + EM.apellidos, '') ELSE ISNULL(UCL.nombre, '') END usuarioEnvia,
					D.truckId,
					D.PO,
					D.consigneeId idClienteConsignee,
					CON.nombre NombreClienteConsignee,
					D.house,
					D.idGuia,
					D.largoIn,
					D.altoIn,
					D.anchoIn,
					(D.largoIn * D.altoIn * D.anchoIn) multiplicacionDimensiones,
					PL.pallet,
					SV.id idOrdenVenta,
					CASE WHEN SVD.picking = 1 THEN 1 WHEN D.idUsuarioPicking IS NOT NULL THEN 1 ELSE 0 END AS picking,
					CASE WHEN PM.nota = 'Escaner picking' THEN 1 ELSE 0 END despachoEscaner,
					DD.esPOD,
					D.fechaRecepcion,
					CAST(CASE WHEN SV.tipoVenta = 5
								AND SVD.tipoPieza = 1 THEN 1 WHEN SV.tipoVenta < 4 THEN 1 ELSE 0 END AS BIT) esInventario
				FROM #TMP_Data D
					INNER JOIN v_ClientsEntities SHI WITH (NOLOCK) ON D.shipToId = SHI.id
					INNER JOIN v_ClientsEntities CON WITH (NOLOCK) ON D.entityId = CON.id
					INNER JOIN Transportes T WITH (NOLOCK) ON D.idCarrier = T.id
					INNER JOIN Exportadores EX WITH (NOLOCK) ON D.idExportador = EX.id
					LEFT JOIN DetalleDespacho DLD WITH (NOLOCK) ON D.idGuiaHouseDetalle = DLD.idGuiaHouseDetalle
					LEFT JOIN EncabezadoDespacho ED WITH (NOLOCK) ON DLD.idEncabezadoDespacho = ED.id
					LEFT JOIN Empleados EMP WITH (NOLOCK) ON ED.idEmpleado = EMP.id
					LEFT JOIN VehiculosExportadores VE WITH (NOLOCK) ON (ED.idVehiculo = VE.id)
					LEFT JOIN Paises P WITH (NOLOCK) ON SHI.idPais = P.id
					LEFT JOIN Estados E WITH (NOLOCK) ON SHI.idEstado = E.id
					LEFT JOIN Paises PCL WITH (NOLOCK) ON CON.idPais = PCL.id
					LEFT JOIN Estados ECL WITH (NOLOCK) ON CON.idEstado = ECL.id
					LEFT JOIN ProgramacionManifiesto PM WITH (NOLOCK) ON D.idPC = PM.idProgramacionCarrier
					LEFT JOIN ManifiestosDespacho MAN WITH (NOLOCK) ON PM.idManifiestoDespacho = MAN.id
					OUTER APPLY (
						SELECT TOP 1 nombreArchivo,
							mailEnviado,
							id,
							esPOD
						FROM DocumentosDespacho
						WHERE MAN.id = idManifiesto
							AND idDocumento = 'DOC052395'
						ORDER BY IIF(nombreArchivo LIKE '%POD%', 1, 0) DESC
						) DD
					LEFT JOIN ProgramacionTE PTE WITH (NOLOCK) ON D.idPC = PTE.idProgramacionCarrier
					LEFT JOIN TransportacionExportacion TEX WITH (NOLOCK) ON PTE.idTE = TEX.id
					LEFT JOIN Puertos PRTE WITH (NOLOCK) ON TEX.idPuerto = PRTE.id
					LEFT JOIN Usuarios US WITH (NOLOCK) ON TEX.idUsuarioEnvio = US.id
					LEFT JOIN Empleados EM WITH (NOLOCK) ON US.idEntidad = EM.id
					LEFT JOIN v_ClientsEntities UCL WITH (NOLOCK) ON US.EntityTypeId = UCL.id
					LEFT JOIN PalletsDetalles PD WITH (NOLOCK) ON D.idGuiaHouseDetalle = PD.idGuiasHouseDetalle
					LEFT JOIN Pallets PL WITH (NOLOCK) ON PD.idPallet = PL.id
					LEFT JOIN SolicitudDeVentaDetalles SVD WITH (NOLOCK) ON SVD.idGuiaHouseDetalle = D.idGuiaHouseDetalle
					LEFT JOIN SolicitudDeVenta SV WITH (NOLOCK) ON SV.id = SVD.idSolicitud
					LEFT JOIN UbicacionPiezas UP WITH (NOLOCK) ON D.idGuiaHouseDetalle = UP.idGuiaHouseDetalle
					LEFT JOIN Ubicaciones U WITH (NOLOCK) ON UP.idUbicacion = U.id
					LEFT JOIN UbicacionesBodega UB WITH (NOLOCK) ON U.idUbicacionBodega = UB.id
					LEFT JOIN Bodegas BG WITH (NOLOCK) ON D.idBodega = BG.id
					LEFT JOIN Bodegas BP WITH (NOLOCK) ON UB.idBodega = BP.id
				WHERE ( @ShipToName IS NULL OR D.shipToId IN (
							SELECT id
							FROM #TMP_ShipTo
							)
						) AND (
						@ConsigneeName IS NULL OR D.consigneeId IN (
							SELECT id
							FROM #TMP_Consignee
							)
						) AND (
						@BillToName IS NULL OR D.entityId IN (
							SELECT id
							FROM #TMP_BillTo
							)
						) AND (@po IS NULL OR D.po LIKE @po) AND (@truckId IS NULL OR D.truckId LIKE @truckId) AND (@nroDocumento IS NULL OR D.nroGuia LIKE @nroDocumento) AND (
						@nombreExportador IS NULL OR EX.id IN (
							SELECT id
							FROM #TMP_Exportadores
							)
						) AND ISNULL(MAN.id, @idSinManifiesto) = ISNULL(@idManifiesto, ISNULL(MAN.id, @idSinManifiesto)) AND (@palletLabel IS NULL OR PL.pallet LIKE @palletLabel) AND (@puerta IS NULL OR ED.puerta LIKE @puerta) AND (@nroDespacho IS NULL OR ED.truckId LIKE @nroDespacho) AND (@idBodega IS NULL OR UB.idBodega = @idBodega OR D.idBodega = @idBodega) AND (@idOrdenVenta IS NULL OR SV.id = @idOrdenVenta) AND (@camion IS NULL OR VE.placa LIKE @camion) AND (
						@chofer IS NULL OR CONCAT (
							EMP.nombres,
							' ',
							EMP.apellidos
							) LIKE @chofer
						)
					AND CASE WHEN @esInventario IS NULL THEN 1 WHEN @esInventario = 0
							AND SV.id IS NULL THEN 1 WHEN @esInventario = 0
							AND SV.tipoVenta = 5
							AND SVD.tipoPieza = 2 THEN 1 WHEN @esInventario = 0
							AND SV.tipoVenta = 4 THEN 1 WHEN @esInventario = 1
							AND SV.tipoVenta = 5
							AND SVD.tipoPieza = 1 THEN 1 WHEN @esInventario = 1
							AND SV.tipoVenta < 4 THEN 1 ELSE 0 END = 1
			END
		END
	END TRY

	BEGIN CATCH
		EXEC [dbo].[pro_LogError]
	END CATCH
END
/* 

exec dbo.pro_ObtenerPiezasClientesDetalle  @idEmpresa=N'EMP014',  @fechaDesde='20260103 00:00:00',  @fechaHasta='20260107 00:00:00',@po=NULL,@truckId=NULL,  @idClienteFinal=NULL,  @nroDocumento=NULL,@nombreExportador=NULL,@nombreCLienteConsignee=NULL,  @nombreCLienteFinal=NULL,@idManifiesto=NULL,@palletLabel=NULL,@chofer=NULL,@camion=NULL,@puerta=NULL,  @nroDespacho=NULL,@idBodega=NULL,@idOrdenVenta=NULL,@fechaDespacho=NULL,@esInventario=NULL,@idCarrier=NULL  
exec dbo.AC_pro_GetClientsPiecesDetails  @idEmpresa=N'EMP014',  @fechaDesde='20260103 00:00:00',  @fechaHasta='20260107 00:00:00',@po=NULL,@truckId=NULL,  @ShipToId=NULL,  @nroDocumento=NULL,@nombreExportador=NULL,@ConsigneeName=NULL,  @ShipToName=NULL,@idManifiesto=NULL,@palletLabel=NULL,@chofer=NULL,@camion=NULL,@puerta=NULL,  @nroDespacho=NULL,@idBodega=NULL,@idOrdenVenta=NULL,@fechaDespacho=NULL,@esInventario=NULL,@idCarrier=NULL,  @BillToId=NULL, @BillToName = null

*/