/*
VERSION		MODIFIEDBY			MODIFIEDDATE	HU			MODIFICATION
1			Jordan Chango       2026-02-02		57730		Initial Code - Based on pro_Despacho_DespachoPorCliente
*/
CREATE OR ALTER PROCEDURE [dbo].[AC_pro_GetDispatchesByClient] (
	@FechaDesde DATETIME,
	@FechaHasta DATETIME,
	@idEmpresa VARCHAR(16),
	@ConsigneeName VARCHAR(512) = NULL,
	@ShipToName VARCHAR(512) = NULL,
	@NombreExportador VARCHAR(512) = NULL,
	@TruckId VARCHAR(50) = NULL,
	@PO VARCHAR(MAX) = NULL,
	@IdBodega VARCHAR(50) = NULL,
	@NroDocumento VARCHAR(MAX) = NULL,
	@EsDelivery BIT = 1,
	@Pendientes BIT = 1,
	@PalletLabel VARCHAR(MAX) = NULL,
	@NroDespacho VARCHAR(32) = NULL,
	@Camion VARCHAR(32) = NULL,
	@Puerta VARCHAR(64) = NULL,
	@Chofer VARCHAR(128) = NULL,
	@ShipToId VARCHAR(16) = NULL,
	@ConsigneeId VARCHAR(16) = NULL,
	@idTransporte VARCHAR(16) = NULL,
	@BillToId VARCHAR(16) = NULL,
	@BillToName VARCHAR(512) = NULL
	)
AS
BEGIN
	BEGIN TRY
		DECLARE @sql_script NVARCHAR(MAX),
			@nombreChofer NVARCHAR(MAX),
			@parametros NVARCHAR(MAX) = N' @FechaDesde DATETIME, @FechaHasta DATETIME, @ConsigneeName VARCHAR(512), @ShipToName VARCHAR(512),
			@NombreExportador VARCHAR(512), @TruckId VARCHAR(50), @PO VARCHAR(64), @IdBodega VARCHAR(16), @NroDocumento VARCHAR(32),
			@PalletLabel VARCHAR(16), @NroDespacho VARCHAR(32), @Camion VARCHAR(32), @Puerta VARCHAR(64), @Chofer VARCHAR(128), @idEmpresa VARCHAR(16), @BillToId VARCHAR(16), @BillToName VARCHAR(512)'

		CREATE TABLE #TablaAgrupacionGuiasHouse (
			id INT IDENTITY(1, 1),
			idBodega VARCHAR(16) NULL,
			estadoPieza VARCHAR(16) NULL,
			tieneFechaRecepcion BIT,
			ShipToId VARCHAR(16) NULL,
			truckId VARCHAR(16) NULL,
			capacidadCarga DECIMAL(18, 3) NULL,
			idCarrier VARCHAR(16) NOT NULL,
			fechaDespacho DATETIME NOT NULL,
			totalPiezas INT NOT NULL,
			idManifiesto UNIQUEIDENTIFIER NULL,
			nroManifiesto VARCHAR(16) NULL,
			idTE UNIQUEIDENTIFIER NULL,
			idOrdenVenta UNIQUEIDENTIFIER,
			picking INT,
			totalVenta INT,
			despachoEscaner INT,
			totalSinPOD INT,
			esInventario BIT
			);

		CREATE TABLE #TMP_ShipTo (id VARCHAR(16))

		CREATE TABLE #TMP_Consignee (id VARCHAR(16))

		CREATE TABLE #TMP_BillTo (id VARCHAR(16))

		CREATE TABLE #TMP_Exportadores (id VARCHAR(16))

		CREATE TABLE #TMP_CarrierNoDelivery (
			id VARCHAR(16),
			valor VARCHAR(16)
			)

		INSERT INTO #TMP_CarrierNoDelivery
		SELECT T.id,
			PC.Valor
		FROM Transportes T
			INNER JOIN ParametrosCatalogos PC ON T.idTransportePrincipal = PC.IdEntidad
			INNER JOIN ParametrosLista PL ON PC.IdParametroLista = PL.Id AND PL.codigo = 'EsDelivery'
		WHERE PC.valor = 'NO'
			AND PL.Actor IN (
				'CARRIER',
				'TERRESTRE'
				)
			AND PL.idEmpresa = @idEmpresa

		SELECT @sql_script = 
			N'INSERT INTO #TablaAgrupacionGuiasHouse 
			SELECT 
				   CASE
						WHEN (ub.idBodega IS NULL OR ub.idBodega = '''')
						THEN guia.idBodega ELSE ub.idBodega
				   END AS idBodega,
			       det.estadoPieza,
				   CASE WHEN det.fechaRecepcion IS NOT NULL THEN 1 ELSE 0 END tieneFechaRecepcion,				   
				   det.ShipToId,
				   det.truckId,
			       (SUM(det.largoIn * det.altoIn * det.anchoIn)) capacidadCarga, 
			       prog.idCarrier,
				   prog.fechaDespacho,
				   COUNT(1) totalPiezas,
			       man.id idManifiesto,
				   man.nroManifiesto,
				   te.idTE,
				   svc.id,
				   SUM(CASE WHEN svd.picking = 1 THEN 1 WHEN prog.idUsuarioLogPicking IS NOT NULL THEN 1 ELSE 0 END),
				   SUM(CASE WHEN svd.id IS NOT NULL THEN 1 ELSE 0 END),
				   SUM(CASE WHEN progMan.nota = ''Escaner picking'' THEN 1 ELSE 0 END),
				   SUM(CASE WHEN det.esPOD = 1 THEN 0 ELSE 1 END),
				   CASE WHEN svc.tipoVenta = 5 AND svd.tipoPieza = 1 THEN 1
					WHEN svc.tipoVenta < 4 THEN 1 ELSE 0 
					END  esInventario
			FROM ProgramacionCarrier prog WITH (NOLOCK) 
				INNER JOIN GuiasHouseDetalles det WITH (NOLOCK) ON  det.id = prog.idGuiaHouseDetalle
				INNER JOIN GuiasHouse guia WITH (NOLOCK) ON det.idGuiaHouse = guia.id
				LEFT JOIN ProgramacionTe te WITH (NOLOCK) ON prog.id = te.idProgramacionCarrier  
				LEFT JOIN ProgramacionManifiesto progMan WITH (NOLOCK) ON progMan.idProgramacionCarrier = prog.id 
				LEFT JOIN ManifiestosDespacho man WITH (NOLOCK) ON man.id = progMan.idManifiestoDespacho
				#FILTROS#
				OUTER APPLY (	SELECT TOP (1) solicitud.id, solicitud.tipoVenta
								FROM SolicitudDeVentaDetalles solicitudDetalle WITH (NOLOCK)
									LEFT JOIN dbo.SolicitudDeVenta solicitud WITH (NOLOCK) ON solicitud.id = solicitudDetalle.idSolicitud
								WHERE solicitudDetalle.idGuiaHouseDetalle = det.id
								ORDER BY solicitud.fechaSolicitud DESC) AS svc
				LEFT JOIN UbicacionPiezas ubicacionPiezas WITH (NOLOCK) ON det.id = ubicacionPiezas.idGuiaHouseDetalle
				LEFT JOIN Ubicaciones ubicaciones WITH (NOLOCK) ON ubicacionPiezas.idUbicacion = ubicaciones.id
				LEFT JOIN UbicacionesBodega ub WITH (NOLOCK) ON ubicaciones.idUbicacionBodega = ub.id
				LEFT JOIN SolicitudDeVentaDetalles svd  WITH (NOLOCK) ON det.id = svd.idGuiaHouseDetalle AND svd.idSolicitud = svc.id
				WHERE prog.idCarrier NOT IN (SELECT id FROM #TMP_CarrierNoDelivery)  					
					AND prog.fechaDespacho BETWEEN @FechaDesde AND @FechaHasta 	
					AND guia.idEmpresa = @idEmpresa
					#CONDICION#
				GROUP BY 
				CASE
					WHEN (ub.idBodega IS NULL OR ub.idBodega = '''')
					THEN guia.idBodega ELSE ub.idBodega
				END,
				det.estadoPieza,
				CASE WHEN det.fechaRecepcion IS NOT NULL THEN 1 ELSE 0 END,
				det.ShipToId, 
				det.truckId, 
				prog.idCarrier, 
				prog.fechaDespacho, 
				man.id, 
				man.nroManifiesto, 
				te.idTE, 
				svc.id, 
				svd.picking,
				CASE WHEN svc.tipoVenta = 5 AND svd.tipoPieza = 1 THEN 1
					WHEN svc.tipoVenta < 4 THEN 1 ELSE 0 END'

		SELECT @ConsigneeName = dbo.fnPrevenirInyeccion(@ConsigneeName)

		IF (@ConsigneeName IS NOT NULL)
		BEGIN
			IF @ConsigneeId IS NOT NULL
			BEGIN
				INSERT INTO #TMP_Consignee
				VALUES (@ConsigneeId)
			END
			ELSE
			BEGIN
				INSERT INTO #TMP_Consignee
				SELECT id
				FROM f_SearchEntities(@ConsigneeName, 'Consignee')
			END

			SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', ' AND ISNULL(guia.BillToConsigneeId, guia.ConsigneeId) IN (SELECT id FROM #TMP_Consignee)
				#CONDICION#')
		END

		SELECT @ShipToName = dbo.fnPrevenirInyeccion(@ShipToName)

		IF (@ShipToName IS NOT NULL)
		BEGIN
			IF @ShipToId IS NOT NULL
			BEGIN
				INSERT INTO #TMP_ShipTo
				VALUES (@ShipToId)
			END
			ELSE
			BEGIN
				INSERT INTO #TMP_ShipTo
				SELECT id
				FROM f_SearchEntities(@ShipToName, 'ShipTo')
			END

			SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', ' AND det.ShipToId IN (SELECT id FROM #TMP_ShipTo)
				#CONDICION#')
		END

		SELECT @BillToName = dbo.fnPrevenirInyeccion(@BillToName)

		IF (@BillToName IS NOT NULL)
		BEGIN
			IF @BillToId IS NOT NULL
			BEGIN
				INSERT INTO #TMP_BillTo
				SELECT id
				FROM v_ClientsEntities
				WHERE BillToId = @BillToId
			END
			ELSE
			BEGIN
				INSERT INTO #TMP_BillTo
				SELECT id
				FROM f_SearchEntities(@BillToName, 'BillTo')
			END

			SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', 'AND guia.BillToConsigneeId IN (SELECT id FROM #TMP_BillTo)
				#CONDICION#')
		END

		SELECT @NombreExportador = dbo.fnPrevenirInyeccion(@NombreExportador)

		IF (@NombreExportador IS NOT NULL)
		BEGIN
			IF @idTransporte IS NOT NULL
			BEGIN
				INSERT INTO #TMP_Exportadores
				VALUES (@idTransporte)
			END
			ELSE
			BEGIN
				SELECT @nombreExportador = '%' + @nombreExportador + '%'

				INSERT INTO #TMP_Exportadores
				SELECT EX.id
				FROM Exportadores EX
				WHERE EX.nombreComercial LIKE @nombreExportador
			END

			SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', ' AND guia.idExportador IN (SELECT id FROM #TMP_Exportadores)
				#CONDICION#')
		END

		SELECT @TruckId = dbo.fnPrevenirInyeccion(@TruckId)

		IF (@TruckId IS NOT NULL)
		BEGIN
			SELECT @TruckId = '%' + @TruckId + '%'

			SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', 'AND det.truckId LIKE @TruckId
				#CONDICION#')
		END

		SELECT @PO = dbo.fnPrevenirInyeccion(@PO)

		IF (@PO IS NOT NULL)
		BEGIN
			SELECT @PO = '%' + @PO + '%'

			SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', 'AND det.po LIKE @PO
				#CONDICION#')
		END

		SELECT @NroDocumento = dbo.fnPrevenirInyeccion(@NroDocumento)

		IF (@NroDocumento IS NOT NULL)
		BEGIN
			SELECT @NroDocumento = '%' + @NroDocumento + '%'

			SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', 'AND guia.nroGuia LIKE @NroDocumento
				#CONDICION#')
		END

		SELECT @PalletLabel = dbo.fnPrevenirInyeccion(@PalletLabel)

		IF (@PalletLabel IS NOT NULL)
		BEGIN
			SELECT @PalletLabel = '%' + @PalletLabel + '%'

			SELECT @sql_script = REPLACE(@sql_script, '#FILTROS#', 'INNER JOIN dbo.PalletsDetalles pld WITH (NOLOCK) ON det.id = pld.idGuiasHouseDetalle
				INNER JOIN dbo.Pallets pal WITH (NOLOCK) ON pld.idPallet = pal.id
				#FILTROS#')

			SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', 'AND pal.pallet LIKE @PalletLabel
				#CONDICION#')
		END

		SELECT @Camion = dbo.fnPrevenirInyeccion(@Camion)

		SELECT @Puerta = dbo.fnPrevenirInyeccion(@Puerta)

		SELECT @NroDespacho = dbo.fnPrevenirInyeccion(@NroDespacho)

		SELECT @Chofer = dbo.fnPrevenirInyeccion(@Chofer)

		IF (
				@Camion IS NOT NULL
				OR @Puerta IS NOT NULL
				OR @NroDespacho IS NOT NULL
				OR @Chofer IS NOT NULL
				)
		BEGIN
			SELECT @sql_script = REPLACE(@sql_script, '#FILTROS#', 'INNER JOIN DetalleDespacho dd WITH (NOLOCK) ON det.id = dd.idGuiaHouseDetalle
				INNER JOIN EncabezadoDespacho ed WITH (NOLOCK) ON dd.idEncabezadoDespacho = ed.id
				INNER JOIN VehiculosExportadores ve ON ed.idVehiculo = ve.id
				#FILTROS#')

			IF (@Camion IS NOT NULL)
			BEGIN
				SELECT @Camion = '%' + @Camion + '%'

				SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', 'AND ve.placa LIKE @Camion
					#CONDICION#')
			END

			IF (@Puerta IS NOT NULL)
			BEGIN
				SELECT @Puerta = '%' + @Puerta + '%'

				SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', 'AND ed.puerta LIKE @Puerta
					#CONDICION#')
			END

			IF (@NroDespacho IS NOT NULL)
			BEGIN
				SELECT @NroDespacho = '%' + @NroDespacho + '%'

				SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', 'AND ed.truckId LIKE @NroDespacho
					#CONDICION#')
			END

			IF (@Chofer IS NOT NULL)
			BEGIN
				SELECT @sql_script = REPLACE(@sql_script, '#FILTROS#', 'INNER JOIN Empleados emp WITH (NOLOCK) ON ed.idEmpleado = emp.id
				INNER JOIN FuncionesDepartamento fd WITH (NOLOCK) ON (emp.idFuncionDepartamento = fd.id AND fd.funcion = ''CHOFER'')
				#FILTROS#')

				SELECT @Chofer = '%' + @Chofer + '%'

				SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', 'AND CONCAT(emp.nombres, '' '', emp.apellidos) LIKE @Chofer 
					#CONDICION#')
			END
		END

		SELECT @sql_script = REPLACE(@sql_script, '#FILTROS#', '')

		SELECT @sql_script = REPLACE(@sql_script, '#CONDICION#', '')

		EXEC SP_EXECUTESQL @sql_script,
			@parametros,
			@FechaDesde = @FechaDesde,
			@FechaHasta = @FechaHasta,
			@ConsigneeName = @ConsigneeName,
			@ShipToName = @ShipToName,
			@NombreExportador = @NombreExportador,
			@TruckId = @TruckId,
			@PO = @PO,
			@IdBodega = @IdBodega,
			@NroDocumento = @NroDocumento,
			@PalletLabel = @PalletLabel,
			@NroDespacho = @NroDespacho,
			@Camion = @Camion,
			@Puerta = @Puerta,
			@Chofer = @Chofer,
			@idEmpresa = @idEmpresa,
			@BillToId = @BillToId,
			@BillToName = @BillToName

		SELECT TMP.id Id,
			TMP.idBodega IdBodega,
			TMP.idCarrier IdCarrier,
			TRA.nombre NombreCarrier,
			TMP.fechaDespacho FechaDespacho,
			TMP.estadoPieza [Status],
			TMP.tieneFechaRecepcion,
			TMP.ShipToId IdClienteFinal,
			TMP.capacidadCarga CapacidadCarga,
			TMP.idManifiesto IdManifiestoGuid,
			TMP.nroManifiesto NroManifiesto,
			TMP.truckId TruckId,
			TMP.totalPiezas TotalPiezas,
			TMP.idTE IdTEGuid,
			TMP.picking,
			TMP.totalVenta,
			TMP.despachoEscaner,
			TMP.totalSinPOD,
			COR.codigo CodigoCarrier,
			BOD.nombre NombreBodega,
			SHI.nombre NombreClienteFinalAlt,
			SHI.nombre NombreClienteFinal,
			PS.id IdPaisAlt,
			PS.nombre NombrePaisAlt,
			PS.codigoISO CodigoIsoPaisAlt,
			ES.id IdEstadoAlt,
			ES.codigoISO CodigoIsoEstadoAlt,
			ES.nombre EstadoAlt,
			PSF.id IdPais,
			PSF.nombre NombrePais,
			ESF.id IdEstado,
			ESF.codigoISO CodigoIsoEstado,
			ESF.nombre Estado,
			PSF.codigoISO CodigoIsoPais,
			DDE.id IdDocumentosDespachoGuid,
			DDE.NombreArchivo NombreDocumentoDespacho,
			IIF(DDE.mailEnviado IS NULL, CONVERT(BIT, 0), DDE.mailEnviado) EmailEnviado,
			IIF(DD.modificado IS NULL, CONVERT(BIT, 0), DD.modificado) Modificado,
			tmp.idOrdenVenta,
			tmp.esInventario
		FROM #TablaAgrupacionGuiasHouse TMP
			INNER JOIN dbo.v_ClientsEntities SHI ON TMP.ShipToId = SHI.id
			INNER JOIN dbo.Bodegas BOD ON tmp.idBodega = BOD.id
			INNER JOIN dbo.Transportes TRA ON tmp.idCarrier = TRA.id
			INNER JOIN dbo.Paises PS ON SHI.idPais = PS.id
			INNER JOIN dbo.Estados ES ON SHI.idEstado = ES.id
			INNER JOIN dbo.CodigosRelacionSistemas COR ON idCarrier = COR.idEntidad
				AND COR.tipoEntidad = 'CARRIER'
				AND COR.idSistemaEntidad = 100
			OUTER APPLY (
				SELECT TOP 1 nombreArchivo,
					mailEnviado,
					id
				FROM DocumentosDespacho
				WHERE tmp.idManifiesto = idManifiesto
					AND idDocumento = 'DOC052395'
				ORDER BY esPOD DESC
				) DDE
			LEFT JOIN dbo.DocumentosDespacho DD ON tmp.idManifiesto = DD.idManifiesto
				AND DD.idDocumento = 'DOC052395'
				AND DD.nombreArchivo NOT LIKE 'POD%'
			LEFT JOIN dbo.Estados PSF ON SHI.idEstado = PSF.id
			LEFT JOIN dbo.Paises ESF ON SHI.idPais = ESF.id
		WHERE @IdBodega IS NULL
			OR tmp.idBodega = @IdBodega

		DROP TABLE #TablaAgrupacionGuiasHouse
	END TRY

	BEGIN CATCH
		EXEC [dbo].[pro_LogError]
	END CATCH;
END

/*  

exec dbo.pro_Despacho_DespachoPorCliente @FechaDesde='20260103',@FechaHasta='20260103',@idEmpresa=N'EMP014',@NombreClienteConsignee=N'INTERAXION FLORAL MANAGEMENT',@NombreClienteFinal=NULL,@NombreExportador=NULL,@TruckId=NULL,@PO=NULL,@IdBodega=NULL,@NroDocumento=NULL,@EsDelivery=1,@Pendientes=1,@PalletLabel=NULL,@NroDespacho=NULL,@Camion=NULL,@Puerta=NULL,@Chofer=NULL
exec dbo.AC_pro_GetDispatchesByClient @FechaDesde='20260103',@FechaHasta='20260103',@idEmpresa=N'EMP014',@ConsigneeName=N'INTERAXION FLORAL MANAGEMENT',@ShipToName=NULL,@NombreExportador=NULL,@TruckId=NULL,@PO=NULL,@IdBodega=NULL,@NroDocumento=NULL,@EsDelivery=1,@Pendientes=1,@PalletLabel=NULL,@NroDespacho=NULL,@Camion=NULL,@Puerta=NULL,@Chofer=NULL, @BillToId=null, @BillToName = null

*/