/*
VERSION		MODIFIEDBY				MODIFIEDDATE	HU				MODIFICATION
1			Cristhian Cuichan		2026-01-20		57724			Initial code, store procedure based on pro_OrdenesLocales_ListaPendientesCompletadosEmpleado
*/

CREATE OR ALTER   PROCEDURE [dbo].[AC_pro_GetLocalOrdersByEmployee](
	@FechaDesde DATETIME,
	@FechaHasta DATETIME,
	@IdEmpresa VARCHAR(16),
	@Pendientes BIT,
	@IdBodega VARCHAR(64) = NULL,
	@IdClienteConsignatario VARCHAR(16) = NULL,
	@NroOrden VARCHAR(16) = NULL,
	@IdExportador VARCHAR(16) = NULL,
	@IdClienteFinal VARCHAR(16) = NULL,
	@NroPo VARCHAR(64) = NULL,
	@listaIdCatalogo VARCHAR(MAX) = NULL,
	@PalletLabel VARCHAR(32) = NULL,
	@IdBillTo VARCHAR(16) = NULL
) 
AS 
BEGIN 
BEGIN TRY

	SELECT  @IdBodega = IIF(@IdBodega = '', NULL, @IdBodega),
			@IdClienteConsignatario = IIF(  @IdClienteConsignatario = '', NULL,@IdClienteConsignatario  ),
			@NroOrden = IIF(@NroOrden = '', NULL, @NroOrden),
			@IdExportador = IIF(@IdExportador = '', NULL, @IdExportador),
			@IdClienteFinal = IIF(@IdClienteFinal = '', NULL, @IdClienteFinal),
			@NroPo = IIF(@NroPo = '', NULL, @NroPo),
			@PalletLabel = IIF(@PalletLabel = '', NULL, @PalletLabel),
			@IdExportador = IIF(@IdExportador = '', NULL, @IdExportador),
			@listaIdCatalogo = IIF(@listaIdCatalogo = '', NULL, @listaIdCatalogo),
			@IdBillTo = IIF(@IdBillTo = '', NULL, @IdBillTo)

	DECLARE @IdCatRequerida UNIQUEIDENTIFIER,
			@IdCatRecibida UNIQUEIDENTIFIER,
			@IdCatConfirmada UNIQUEIDENTIFIER,
			@IdCatCancelado UNIQUEIDENTIFIER,
			@IdCatRequeridaOrden UNIQUEIDENTIFIER,
			@IdCatOrdenada UNIQUEIDENTIFIER,
			@IdCatConfirmadaParcialOrden UNIQUEIDENTIFIER,
			@IdCatConfirmadaOrden UNIQUEIDENTIFIER,
			@IdCatRecibidaOrden UNIQUEIDENTIFIER,
			@IdCatCanceladaOrden UNIQUEIDENTIFIER 

	CREATE TABLE #CatalogoOrdenLocal(
		id UNIQUEIDENTIFIER,
		codigo VARCHAR(64) NULL,
		identificador VARCHAR(32) NULL,
	) 

	CREATE TABLE #OrdenDetalle(
		id UNIQUEIDENTIFIER,
		nroOrden VARCHAR(64) NULL,
		fechaEntrega DATETIME NULL,
		NombreClienteConsignatario VARCHAR(128) NULL,
		idClienteConsignatario VARCHAR(16) NULL,
		CodigoStatusOrden VARCHAR(64) NULL,
		ordenEstado INT NULL,
		IdExportador VARCHAR(16) NULL,
		nombreExportador VARCHAR(128) NULL,
		idPoEncabezado UNIQUEIDENTIFIER,
		nroPo VARCHAR(64) NULL,
		idBodega VARCHAR(16) NULL,
		notas VARCHAR(128) NULL,
		nombreBodega VARCHAR(128) NULL,
		usuarioFechaCambio VARCHAR(128) NULL,
		idCatalogoStatus UNIQUEIDENTIFIER,
		Nc INT NULL,
		Pa INT NULL,
		Rw INT NULL,
		Sb INT NULL,
		Dw INT NULL,
		tipoNubeDocs VARCHAR(32) NULL,
		colorIconoNube VARCHAR(32) NULL,
		emailsEnviados BIT DEFAULT 0,
		totalPcsCarrier INT NULL,
		totalPcsGuia INT NULL,
		pcsNoProgramadas INT NULL,
		pcsProgramadas INT NULL
	) 

	CREATE TABLE #DocumentoOrden(
		id UNIQUEIDENTIFIER,
		idPo UNIQUEIDENTIFIER,
		idEntidad UNIQUEIDENTIFIER,
		idOrdenLocal UNIQUEIDENTIFIER,
		nroPo VARCHAR(64) NULL,
		idDocumento VARCHAR(16) NULL,
		mailEnviado BIT,
		totalPcsCarrier INT NULL,
		totalPcsGuia INT NULL
	) 

	CREATE TABLE #OrdenLocalUpdate(
		id UNIQUEIDENTIFIER,
		idPo UNIQUEIDENTIFIER
	)

	CREATE TABLE #ObjetoEstadosOrdenLocal(
		idEstadoCatalogo UNIQUEIDENTIFIER NULL
	)
	CREATE TABLE #BillTo ( 
		id VARCHAR(16)
	)

	INSERT INTO #ObjetoEstadosOrdenLocal
	SELECT
		idEstadoCatalogo
	FROM
		OPENJSON (@listaIdCatalogo) WITH (
			idEstadoCatalogo UNIQUEIDENTIFIER '$.idEstadoCatalogo'
		)

	INSERT #CatalogoOrdenLocal( id, codigo, identificador)
	SELECT
		CAT.id,
		CAT.codigo,
		CAT.identificador
	FROM Catalogos CAT
	WHERE codigo IN('EstadosPOs', 'EstadosOrdenesLocales')

	SELECT @IdCatRequerida = ID
	FROM #CatalogoOrdenLocal 
	WHERE codigo = 'EstadosPOs' AND identificador = 'REQUERIDA'

	SELECT @IdCatRecibida = ID
	FROM #CatalogoOrdenLocal 
	WHERE codigo = 'EstadosPOs' AND identificador = 'RECIBIDA_ORIGEN'

	SELECT @IdCatConfirmada = ID
	FROM #CatalogoOrdenLocal 
	WHERE codigo = 'EstadosPOs' AND identificador = 'CONFIRMADA'

	SELECT @IdCatCancelado = ID
	FROM #CatalogoOrdenLocal 
	WHERE codigo = 'EstadosPOs' AND identificador = 'CANCELADO'

	SELECT @IdCatRequeridaOrden = ID
	FROM #CatalogoOrdenLocal 
	WHERE codigo = 'EstadosOrdenesLocales' AND identificador = 'REQUERIDA'

	SELECT @IdCatOrdenada = ID
	FROM #CatalogoOrdenLocal 
	WHERE codigo = 'EstadosOrdenesLocales' AND identificador = 'ORDENADA'

	SELECT @IdCatConfirmadaParcialOrden = ID
	FROM #CatalogoOrdenLocal 
	WHERE codigo = 'EstadosOrdenesLocales' AND identificador = 'CONFIRMADAPARCIAL'

	SELECT @IdCatConfirmadaOrden = ID
	FROM #CatalogoOrdenLocal 
	WHERE codigo = 'EstadosOrdenesLocales' AND identificador = 'CONFIRMADA'

	SELECT @IdCatRecibidaOrden = ID
	FROM #CatalogoOrdenLocal 
	WHERE codigo = 'EstadosOrdenesLocales' AND identificador = 'RECIBIDA'

	SELECT @IdCatCanceladaOrden = ID
	FROM #CatalogoOrdenLocal 
	WHERE codigo = 'EstadosOrdenesLocales' AND identificador = 'CANCELLED'

	IF (@IdBillTo IS NOT NULL)
	BEGIN
		INSERT INTO #BillTo 
		SELECT id FROM v_ClientsEntities
		WHERE BillToId = @IdBillTo
	END

	IF(@Pendientes = 1)
	BEGIN 	
		IF(
			@listaIdCatalogo IS NULL
			AND @IdBodega IS NULL
			AND @IdClienteConsignatario IS NULL
			AND @NroOrden IS NULL
			AND @IdClienteFinal IS NULL
			AND @NroPo IS NULL
			AND @PalletLabel IS NULL
			AND @IdExportador IS NULL
			AND @IdBillTo IS NULL
		) 
		BEGIN
			INSERT INTO #OrdenDetalle(
					id,
					nroOrden,
					fechaEntrega,
					NombreClienteConsignatario,
					idClienteConsignatario,
					CodigoStatusOrden,
					ordenEstado,
					IdExportador,
					nombreExportador,
					idBodega,
					notas,
					nombreBodega,
					usuarioFechaCambio,
					idCatalogoStatus,
					Nc,
					Pa,
					Rw,
					Sb,
					Dw,
					PcsNoProgramadas,
					PcsProgramadas
				)
			SELECT
				OL.id,
				OL.nroOrden,
				OL.fechaEntrega,
				REPLACE(COALESCE(FSB.[Name],FSC.[Name]), '"', ' '),
				COALESCE(FSB.id,FSC.id),
				CAT.codigo,
				CAT.Orden,
				E.Id,
				E.NombreComercial,
				B.Id,
				OL.Nota,
				B.Nombre,
				ISNULL(U.Nombre + ' ', '') + UPPER(FORMAT(OL.FechaCambio, 'ddd, dd MMM yyy HH:mm'))
				,OL.idCatalogoStatus
				,COUNT(CASE WHEN (PD.idCatalogoStatus = @IdCatRequerida AND GHD.id IS NULL) OR  (PD.idCatalogoStatus  = @IdCatCancelado) THEN 1 END) NC
				,COUNT(CASE WHEN GHD.estadoPieza = 'PENDING' THEN 1 END) PA
				,COUNT(CASE WHEN GHD.estadoPieza = 'RECEIVED WH' THEN 1 END) RW
				,COUNT(CASE WHEN GHD.estadoPieza = 'STANDBY' THEN 1 END) SB
				,COUNT(CASE WHEN GHD.estadoPieza = 'DISPATCHED WH' THEN 1 END) DW
				,COUNT(CASE WHEN pc.fechaDespacho IS NULL AND pc.idCarrier IS NULL THEN 1 END) AS PcsNoProgramadas
				,COUNT(CASE WHEN pc.fechaDespacho IS NOT NULL AND pc.idCarrier IS NOT NULL THEN 1 END) AS PcsProgramadas
			FROM OrdenesLocales OL WITH (NOLOCK) 
				INNER JOIN Catalogos CAT WITH (NOLOCK) ON OL.idCatalogoStatus = CAT.id
				INNER JOIN Exportadores E WITH (NOLOCK) ON OL.idExportador = E.id
				INNER JOIN Bodegas B WITH (NOLOCK) ON OL.idBodega = B.id
				INNER JOIN Usuarios U WITH (NOLOCK) ON OL.idUsuarioLog = U.id
				LEFT JOIN dbo.f_SearchEntities('','BillTo') FSB ON OL.BillToConsigneeId = FSB.Id
				LEFT JOIN dbo.f_SearchEntities('','Consignee') FSC ON OL.ConsigneeId = FSC.Id
				LEFT JOIN PoEncabezado PE WITH (NOLOCK) ON OL.id = PE.idOrdenLocal
				LEFT JOIN PoDetalles PD WITH (NOLOCK) ON PE.id = PD.idPo
				LEFT JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON PD.id = GHD.idPoDetalle
				LEFT JOIN ProgramacionCarrier PC WITH(NOLOCK) ON GHD.id = PC.idGuiaHouseDetalle
			WHERE OL.fechaEntrega BETWEEN @FechaDesde AND @FechaHasta
				AND OL.idEmpresa = @IdEmpresa
				AND CAT.id IN (
					@IdCatRequeridaOrden,
					@IdCatOrdenada,
					@IdCatConfirmadaParcialOrden,
					@IdCatConfirmadaOrden,
					@IdCatRecibidaOrden
				)
			GROUP BY
				OL.id,
				OL.nroOrden,
				OL.fechaEntrega,
				FSB.[Name],
				FSB.id,
				FSC.[Name],
				FSC.id,
				CAT.codigo,
				CAT.Orden,
				E.Id,
				E.NombreComercial,
				B.Id,
				OL.Nota,
				B.Nombre,
				U.Nombre,
				OL.FechaCambio,
				OL.idCatalogoStatus
		END
		ELSE 
		BEGIN 
			IF(@listaIdCatalogo IS NOT NULL) 
			BEGIN
				INSERT INTO
					#OrdenDetalle(
						id,
						nroOrden,
						fechaEntrega,
						NombreClienteConsignatario,
						idClienteConsignatario,
						CodigoStatusOrden,
						ordenEstado,
						IdExportador,
						nombreExportador,
						idBodega,
						notas,
						nombreBodega,
						usuarioFechaCambio,
						idCatalogoStatus,
						Nc,
						Pa,
						Rw,
						Sb,
						Dw,
						PcsNoProgramadas,
						PcsProgramadas
					)
				SELECT
					OL.id,
					OL.nroOrden,
					OL.fechaEntrega,
					REPLACE(COALESCE(FSB.[Name],FSC.[Name]), '"', ' '),
					COALESCE(FSB.id,FSC.id),
					CAT.codigo,
					CAT.Orden,
					E.Id,
					E.NombreComercial,
					B.Id,
					OL.Nota,
					B.Nombre,
					ISNULL(U.Nombre + ' ', '') + UPPER(FORMAT(OL.FechaCambio, 'ddd, dd MMM yyy HH:mm'))
					,OL.idCatalogoStatus
					,COUNT(CASE WHEN (PD.idCatalogoStatus = @IdCatRequerida AND GHD.id IS NULL) OR (PD.idCatalogoStatus = @IdCatCancelado) THEN 1 END) NC
					,COUNT(CASE WHEN GHD.estadoPieza = 'PENDING' THEN 1 END) PA
					,COUNT(CASE WHEN GHD.estadoPieza = 'RECEIVED WH' THEN 1 END) RW
					,COUNT(CASE WHEN GHD.estadoPieza = 'STANDBY' THEN 1 END) SB
					,COUNT(CASE WHEN GHD.estadoPieza = 'DISPATCHED WH' THEN 1 END) DW
					,COUNT(CASE WHEN pc.fechaDespacho IS NULL AND pc.idCarrier IS NULL THEN 1 END) AS PcsNoProgramadas
					,COUNT(CASE WHEN pc.fechaDespacho IS NOT NULL AND pc.idCarrier IS NOT NULL THEN 1 END) AS PcsProgramadas
				FROM
					OrdenesLocales OL WITH (NOLOCK) 
					INNER JOIN Catalogos CAT WITH (NOLOCK) ON OL.idCatalogoStatus = CAT.id
					INNER JOIN #ObjetoEstadosOrdenLocal OEOL WITH (NOLOCK) ON CAT.Id = OEOL.idEstadoCatalogo
					INNER JOIN Exportadores E WITH (NOLOCK) ON OL.idExportador = E.id
					INNER JOIN Bodegas B WITH (NOLOCK) ON OL.idBodega = B.id
					INNER JOIN Usuarios U WITH (NOLOCK) ON OL.idUsuarioLog = U.id
					LEFT JOIN dbo.f_SearchEntities('','BillTo') FSB ON OL.BillToConsigneeId = FSB.Id
					LEFT JOIN dbo.f_SearchEntities('','Consignee') FSC ON OL.ConsigneeId = FSC.Id
					LEFT JOIN #BillTo BT WITH (NOLOCK) ON OL.BillToConsigneeId = BT.id
					LEFT JOIN PoEncabezado PE WITH (NOLOCK) ON OL.id = PE.idOrdenLocal
					LEFT JOIN PoDetalles PD WITH (NOLOCK) ON PE.id = PD.idPo
					LEFT JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON PD.id = GHD.idPoDetalle
					LEFT JOIN PalletsDetalles PAD WITH (NOLOCK) ON GHD.id = PAD.idGuiasHouseDetalle
					LEFT JOIN Pallets PA WITH (NOLOCK) ON PAD.idPallet = PA.id
					LEFT JOIN ProgramacionCarrier PC WITH(NOLOCK) ON GHD.id = PC.idGuiaHouseDetalle
				WHERE OL.fechaEntrega BETWEEN @FechaDesde AND @FechaHasta
					AND OL.idEmpresa = @IdEmpresa
					AND (@IdBodega IS NULL OR B.id = @IdBodega)
					AND (@IdClienteConsignatario IS NULL OR FSC.Id = @IdClienteConsignatario)
					AND (@NroOrden IS NULL OR OL.nroOrden LIKE '%' + @NroOrden + '%')
					AND (@IdExportador IS NULL OR E.Id = @IdExportador)
					AND (@IdClienteFinal IS NULL OR PD.IdClienteFinal = @IdClienteFinal)
					AND (@IdBillTo IS NULL OR BT.id IS NOT NULL)
					AND (@NroPo IS NULL OR PE.NroPo LIKE '%' + @NroPo + '%')
					AND (@PalletLabel IS NULL OR PA.pallet LIKE '%' + @PalletLabel + '%')
					AND CAT.id IN (
						@IdCatRequeridaOrden,
						@IdCatOrdenada,
						@IdCatConfirmadaParcialOrden,
						@IdCatConfirmadaOrden,
						@IdCatRecibidaOrden
					)
				GROUP BY
					OL.id,
					OL.nroOrden,
					OL.fechaEntrega,
					FSB.[Name],
					FSB.id,
					FSC.[Name],
					FSC.id,
					CAT.codigo,
					CAT.Orden,
					E.Id,
					E.NombreComercial,
					B.Id,
					OL.Nota,
					B.Nombre,
					U.Nombre,
					OL.FechaCambio,
					OL.idCatalogoStatus
			END
			ELSE 
			BEGIN
				INSERT INTO
					#OrdenDetalle(
						id,
						nroOrden,
						fechaEntrega,
						NombreClienteConsignatario,
						idClienteConsignatario,
						CodigoStatusOrden,
						ordenEstado,
						IdExportador,
						nombreExportador,
						idBodega,
						notas,
						nombreBodega,
						usuarioFechaCambio,
						idCatalogoStatus,
						Nc,
						Pa,
						Rw,
						Sb,
						Dw,
						PcsNoProgramadas,
						PcsProgramadas
					)
				SELECT
					OL.id,
					OL.nroOrden,
					OL.fechaEntrega,
					REPLACE(COALESCE(FSB.[Name],FSC.[Name]), '"', ' '),
					COALESCE(FSB.id,FSC.id),
					CAT.codigo,
					CAT.Orden,
					E.Id,
					E.NombreComercial,
					B.Id,
					OL.Nota,
					B.Nombre,
					ISNULL(U.Nombre + ' ', '') + UPPER(FORMAT(OL.FechaCambio, 'ddd, dd MMM yyy HH:mm'))
					,OL.idCatalogoStatus
					,COUNT(CASE WHEN (PD.idCatalogoStatus = @IdCatRequerida AND GHD.id IS NULL) OR (PD.idCatalogoStatus = @IdCatCancelado) THEN 1 END) NC
					,COUNT(CASE WHEN GHD.estadoPieza = 'PENDING' THEN 1 END) PA
					,COUNT(CASE WHEN GHD.estadoPieza = 'RECEIVED WH' THEN 1 END) RW
					,COUNT(CASE WHEN GHD.estadoPieza = 'STANDBY' THEN 1 END) SB
					,COUNT(CASE WHEN GHD.estadoPieza = 'DISPATCHED WH' THEN 1 END) DW
					,COUNT(CASE WHEN pc.fechaDespacho IS NULL AND pc.idCarrier IS NULL THEN 1 END) AS PcsNoProgramadas
					,COUNT(CASE WHEN pc.fechaDespacho IS NOT NULL AND pc.idCarrier IS NOT NULL THEN 1 END) AS PcsProgramadas
				FROM
					OrdenesLocales OL WITH (NOLOCK) 
					INNER JOIN Catalogos CAT WITH (NOLOCK) ON OL.idCatalogoStatus = CAT.id
					INNER JOIN Exportadores E WITH (NOLOCK) ON OL.idExportador = E.id
					INNER JOIN Bodegas B WITH (NOLOCK) ON OL.idBodega = B.id
					INNER JOIN Usuarios U WITH (NOLOCK) ON OL.idUsuarioLog = U.id
					LEFT JOIN dbo.f_SearchEntities('','BillTo') FSB ON OL.BillToConsigneeId = FSB.Id
					LEFT JOIN dbo.f_SearchEntities('','Consignee') FSC ON OL.ConsigneeId = FSC.Id
					LEFT JOIN #BillTo BT WITH (NOLOCK) ON OL.BillToConsigneeId = BT.id
					LEFT JOIN PoEncabezado PE WITH (NOLOCK) ON OL.id = PE.idOrdenLocal
					LEFT JOIN PoDetalles PD WITH (NOLOCK) ON PE.id = PD.idPo
					LEFT JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON PD.id = GHD.idPoDetalle
					LEFT JOIN PalletsDetalles PAD WITH (NOLOCK) ON GHD.id = PAD.idGuiasHouseDetalle
					LEFT JOIN Pallets PA WITH (NOLOCK) ON PAD.idPallet = PA.id 
					LEFT JOIN ProgramacionCarrier PC WITH(NOLOCK) ON GHD.id = PC.idGuiaHouseDetalle
				WHERE OL.fechaEntrega BETWEEN @FechaDesde AND @FechaHasta		
					AND OL.idEmpresa = @IdEmpresa
					AND (@IdBodega IS NULL OR B.id = @IdBodega)
					AND (@IdClienteConsignatario IS NULL OR FSC.Id = @IdClienteConsignatario)
					AND (@NroOrden IS NULL OR OL.nroOrden LIKE '%' + @NroOrden + '%' )
					AND (@IdExportador IS NULL OR E.Id = @IdExportador)
					AND (@IdClienteFinal IS NULL OR PD.IdClienteFinal = @IdClienteFinal )
					AND (@IdBillTo IS NULL OR BT.id IS NOT NULL)
					AND (@NroPo IS NULL OR PE.NroPo LIKE '%' + @NroPo + '%')
					AND (@PalletLabel IS NULL OR PA.pallet LIKE '%' + @PalletLabel + '%')
					AND CAT.id in (
						@IdCatRequeridaOrden,
						@IdCatOrdenada,
						@IdCatConfirmadaParcialOrden,
						@IdCatConfirmadaOrden,
						@IdCatRecibidaOrden
					)
				GROUP BY
					OL.id,
					OL.nroOrden,
					OL.fechaEntrega,
					FSB.[Name],
					FSB.id,
					FSC.[Name],
					FSC.id,
					CAT.codigo,
					CAT.Orden,
					E.Id,
					E.NombreComercial,
					B.Id,
					OL.Nota,
					B.Nombre,
					U.Nombre,
					OL.FechaCambio,
					OL.idCatalogoStatus
			END
		END

		INSERT INTO #DocumentoOrden(
				id,
				idPo,
				idOrdenLocal,
				nroPo,
				idEntidad,
				mailEnviado,
				idDocumento,
				totalPcsCarrier,
				totalPcsGuia
			)
		SELECT DISTINCT
			DO.id,
			PE.id,
			PE.idOrdenLocal,
			PE.nroPo,
			DO.idEntidad,
			DO.mailEnviado,
			DO.idDocumento,
			GH.totalPcsCarrier,
			GH.totalPcsHouse
		FROM
			#OrdenDetalle OD
			LEFT JOIN DocumentosOrdenPo DO WITH (NOLOCK) ON OD.id = DO.idEntidad
			LEFT JOIN PoEncabezado PE WITH (NOLOCK) ON OD.id = PE.idOrdenLocal
			LEFT JOIN PoDetalles PD WITH (NOLOCK) ON PE.id = PD.idPo
			LEFT JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON PD.id = GHD.idPoDetalle
			LEFT JOIN GuiasHouse GH WITH (NOLOCK) ON GHD.idGuiaHouse = GH.id

		INSERT INTO #OrdenLocalUpdate (
				id, 
				idPo
			)
		SELECT DISTINCT
			idOrdenLocal,
			idPo
		FROM #DocumentoOrden

		--Actualiza los totales 
		UPDATE #OrdenDetalle
		SET
			totalPcsCarrier = s.totalPcsCarrier,
			totalPcsGuia = s.totalPcsGuia
		FROM #OrdenDetalle as OD
			INNER JOIN (
				SELECT
					OD.id,
					DO.totalPcsCarrier,
					DO.totalPcsGuia,
					COUNT(1) s
				FROM #OrdenDetalle OD
					LEFT JOIN #DocumentoOrden DO ON OD.id = DO.idOrdenLocal
				WHERE
					(
						DO.totalPcsCarrier IS NOT NULL
						OR DO.totalPcsGuia IS NOT NULL
					)
					AND DO.totalPcsCarrier = DO.totalPcsGuia
				GROUP BY
					OD.id,
					DO.totalPcsCarrier,
					DO.totalPcsGuia
			) s ON OD.id = s.id 

		--Actualiza cuando tienes varias po		
		UPDATE
			#OrdenDetalle
		SET
			nroPo = 'Varios',
			idPoEncabezado = NULL
		FROM
			#OrdenDetalle as OD
			INNER JOIN (
				SELECT
					OD.id,
					COUNT(1) Cnt
				FROM
					#OrdenDetalle OD
					LEFT JOIN #OrdenLocalUpdate DO ON OD.id = DO.id
				GROUP BY
					OD.id
				HAVING
					COUNT(1) > 1
			) s ON OD.id = s.id 

		--Actualiza cuando tienes una po
		UPDATE #OrdenDetalle
		SET
			nroPo = DO.nroPo,
			idPoEncabezado = DO.idPo
		FROM
			#OrdenDetalle OD
			INNER JOIN (
				SELECT
					OD.id,
					COUNT(1) Cnt
				FROM
					#OrdenDetalle OD
					LEFT JOIN #OrdenLocalUpdate DO ON OD.id = DO.id
				GROUP BY
					OD.id
				HAVING
					COUNT(1) = 1
			) s ON OD.id = s.id
			INNER JOIN #DocumentoOrden DO ON  s.id = DO.idOrdenLocal

		--Actualiza si tiene doc y enviado 0		
		UPDATE #OrdenDetalle
		SET
			tipoNubeDocs = 'fas fa-cloud-download',
			colorIconoNube = '#353535',
			emailsEnviados = 0
		FROM
			#OrdenDetalle as OD
			INNER JOIN (
				SELECT
					DISTINCT OD.id idOrden
				FROM
					#OrdenDetalle OD
					LEFT JOIN #DocumentoOrden DO ON OD.id = DO.idEntidad
				WHERE
					DO.id IS NOT NULL
					AND DO.mailEnviado = 0
			) s ON OD.id = s.idOrden 

		--Actualiza si tiene doc y enviado 1	
		UPDATE
			#OrdenDetalle
		SET
			tipoNubeDocs = 'fas fa-cloud-upload',
			colorIconoNube = '#84bd00',
			emailsEnviados = 1
		FROM
			#OrdenDetalle as OD
			INNER JOIN (
				SELECT
					DISTINCT OD.id idOrden
				FROM
					#OrdenDetalle OD
					LEFT JOIN #DocumentoOrden DO ON OD.id = DO.idEntidad
				WHERE
					DO.id IS NOT NULL
					AND DO.mailEnviado = 1
			) s ON OD.id = s.idOrden
		
		--Actualiza si  no tiene doc
		UPDATE
			#OrdenDetalle
		SET
			tipoNubeDocs = 'far fa-cloud',
			colorIconoNube = '#bbbbbb'
		FROM
			#OrdenDetalle as OD
			INNER JOIN (
				SELECT
					DISTINCT OD.id idOrden
				FROM
					#OrdenDetalle OD
					LEFT JOIN #DocumentoOrden DO ON OD.id = DO.idEntidad
				WHERE
					DO.id IS NULL
			) s ON OD.id = s.idOrden

		SELECT
			total = OD.Pa + OD.Rw + OD.Sb +  OD.dw,
			OD.id, OD.nroOrden, OD.fechaEntrega,OD.NombreClienteConsignatario, OD.idClienteConsignatario,
			OD.CodigoStatusOrden, OD.ordenEstado, OD.IdExportador, OD.nombreExportador, OD.idPoEncabezado,
			OD.nroPo, OD.idBodega, OD.notas, OD.nombreBodega, OD.usuarioFechaCambio,OD.idCatalogoStatus,
			OD.Nc, OD.Pa, OD.Rw, OD.Sb, OD.Dw, OD.tipoNubeDocs, OD.colorIconoNube, OD.emailsEnviados, OD.totalPcsCarrier, OD.totalPcsGuia,
			CASE
				WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw = OD.Nc 
							AND OD.idCatalogoStatus NOT IN (@IdCatOrdenada, @IdCatCanceladaOrden))
						THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatRequeridaOrden)
					WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw = 0
							AND OD.Nc > 0
							AND OD.idCatalogoStatus NOT IN (@IdCatOrdenada, @IdCatCanceladaOrden))
						THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatRequeridaOrden)
					WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw + OD.Nc = OD.Pa)
							AND OD.idCatalogoStatus != @IdCatCanceladaOrden 
						THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatConfirmadaOrden)
					WHEN (OD.Rw > 0) THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatRecibidaOrden)
					WHEN (OD.Nc > 0 AND OD.Pa > 0) THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatConfirmadaParcialOrden)
				ELSE CA.nombre
				END nombreStatusOrden,
				CASE 
					WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw = OD.Nc 
							AND OD.idCatalogoStatus NOT IN (@IdCatOrdenada, @IdCatCanceladaOrden))
						THEN (SELECT nombreIngles FROM Catalogos WHERE id = @IdCatRequeridaOrden)
					WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw = 0
							AND OD.Nc > 0
							AND OD.idCatalogoStatus NOT IN (@IdCatOrdenada, @IdCatCanceladaOrden))
						THEN (SELECT nombreIngles FROM Catalogos WHERE id = @IdCatRequeridaOrden)
					WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw + OD.Nc = OD.Pa) 
							AND OD.idCatalogoStatus != @IdCatCanceladaOrden 
						THEN (SELECT nombreIngles FROM Catalogos WHERE id = @IdCatConfirmadaOrden)
					WHEN (OD.Rw > 0) THEN (SELECT nombreIngles FROM Catalogos WHERE id = @IdCatRecibidaOrden)
					WHEN (OD.Nc > 0 AND OD.Pa > 0) THEN (SELECT nombreIngles FROM Catalogos WHERE id = @IdCatConfirmadaParcialOrden)
				ELSE CA.nombreIngles
			END nombreInglesStatusOrden,
			CAST(CASE 
				WHEN EXISTS (
					SELECT 1
					FROM ParametrosLista pl WITH(NOLOCK)
					JOIN ParametrosCatalogos pc WITH(NOLOCK) ON pl.Id = pc.IdParametroLista
					WHERE 
						pl.Codigo = 'TipoServicio' 
						AND pc.IdEntidad = OD.idClienteConsignatario 
						AND pc.Valor = 'Inventario'
				) THEN 1
				ELSE 0
			END AS BIT) AS esClienteInventario,
			ISNULL(OD.pcsNoProgramadas, 0) AS pcsNoProgramadas,
			ISNULL(OD.pcsProgramadas, 0) AS pcsProgramadas
		FROM
			#OrdenDetalle OD
			LEFT JOIN Catalogos CA WITH(NOLOCK) ON CA.id = OD.idCatalogoStatus
		WHERE ( OD.Pa + OD.Rw + OD.Sb + OD.dw ) = 0
			OR (Nc + Pa + Sb) > 0

	END 

	IF(@Pendientes = 0) 
	BEGIN
		IF(
			@listaIdCatalogo IS NULL
			AND @IdBodega IS NULL
			AND @IdClienteConsignatario IS NULL
			AND @NroOrden IS NULL
			AND @IdClienteFinal IS NULL
			AND @NroPo IS NULL
			AND @PalletLabel IS NULL
			AND @IdExportador IS NULL
			AND @IdBillTo IS NULL
		) 
		BEGIN
			INSERT INTO
				#OrdenDetalle(
					id,
					nroOrden,
					fechaEntrega,
					NombreClienteConsignatario,
					idClienteConsignatario,
					CodigoStatusOrden,
					ordenEstado,
					IdExportador,
					nombreExportador,
					idBodega,
					notas,
					nombreBodega,
					usuarioFechaCambio,
					idCatalogoStatus,
					Nc,
					Pa,
					Rw,
					Sb,
					Dw
				)
			SELECT
				OL.id,
				OL.nroOrden,
				OL.fechaEntrega,
				REPLACE(COALESCE(FSB.[Name],FSC.[Name]), '"', ' '),
				COALESCE(FSB.id,FSC.id),
				CAT.codigo,
				CAT.Orden,
				E.Id,
				E.NombreComercial,
				B.Id,
				OL.Nota,
				B.Nombre,
				ISNULL(U.Nombre + ' ', '') + UPPER(FORMAT(OL.FechaCambio, 'ddd, dd MMM yyy HH:mm'))
				,OL.idCatalogoStatus
				,COUNT(CASE WHEN (PD.idCatalogoStatus = @IdCatRequerida AND GHD.id IS NULL) OR (PD.idCatalogoStatus = @IdCatCancelado) THEN 1 END) NC
				,COUNT(CASE WHEN GHD.estadoPieza = 'PENDING' THEN 1 END) PA
				,COUNT(CASE WHEN GHD.estadoPieza = 'RECEIVED WH' THEN 1 END) RW
				,COUNT(CASE WHEN GHD.estadoPieza = 'STANDBY' THEN 1 END) SB
				,COUNT(CASE WHEN GHD.estadoPieza = 'DISPATCHED WH' THEN 1 END) DW
			FROM
				OrdenesLocales OL  WITH (NOLOCK) 
				INNER JOIN Catalogos CAT  WITH (NOLOCK) ON OL.idCatalogoStatus = CAT.id
				INNER JOIN Exportadores E  WITH (NOLOCK) ON OL.idExportador = E.id
				INNER JOIN Bodegas B  WITH (NOLOCK) ON OL.idBodega = B.id
				INNER JOIN Usuarios U  WITH (NOLOCK) ON OL.idUsuarioLog = U.id
				LEFT JOIN dbo.f_SearchEntities('','BillTo') FSB ON OL.BillToConsigneeId = FSB.Id
				LEFT JOIN dbo.f_SearchEntities('','Consignee') FSC ON OL.ConsigneeId = FSC.Id
				LEFT JOIN PoEncabezado PE WITH (NOLOCK) ON OL.id = PE.idOrdenLocal
				LEFT JOIN PoDetalles PD WITH (NOLOCK) ON PE.id = PD.idPo
				LEFT JOIN Catalogos PCAT WITH (NOLOCK) ON PD.idCatalogoStatus = PCAT.id
				LEFT JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON PD.id = GHD.idPoDetalle
			WHERE OL.fechaEntrega BETWEEN @FechaDesde AND @FechaHasta		
				AND OL.idEmpresa = @IdEmpresa
				AND CAT.id in (@IdCatCanceladaOrden, @IdCatRecibidaOrden)
			GROUP BY
				OL.id,
				OL.nroOrden,
				OL.fechaEntrega,
				FSB.[Name],
				FSB.id,
				FSC.[Name],
				FSC.id,
				CAT.codigo,
				CAT.Orden,
				E.Id,
				E.NombreComercial,
				B.Id,
				OL.Nota,
				B.Nombre,
				U.Nombre,
				OL.FechaCambio,
				OL.idCatalogoStatus
		END
		ELSE 
		BEGIN 
			IF(@listaIdCatalogo IS NOT NULL) 
			BEGIN
				INSERT INTO
					#OrdenDetalle(
						id,
						nroOrden,
						fechaEntrega,
						NombreClienteConsignatario,
						idClienteConsignatario,
						CodigoStatusOrden,
						ordenEstado,
						IdExportador,
						nombreExportador,
						idBodega,
						notas,
						nombreBodega,
						usuarioFechaCambio,
						idCatalogoStatus,
						Nc,
						Pa,
						Rw,
						Sb,
						Dw
					)
				SELECT
					OL.id,
					OL.nroOrden,
					OL.fechaEntrega,
					REPLACE(COALESCE(FSB.[Name],FSC.[Name]), '"', ' '),
					COALESCE(FSB.id,FSC.id),
					CAT.codigo,
					CAT.Orden,
					E.Id,
					E.NombreComercial,
					B.Id,
					OL.Nota,
					B.Nombre,
					ISNULL(U.Nombre + ' ', '') + UPPER(FORMAT(OL.FechaCambio, 'ddd, dd MMM yyy HH:mm'))
					,OL.idCatalogoStatus
					,COUNT(CASE WHEN (PD.idCatalogoStatus = @IdCatRequerida AND GHD.id IS NULL) OR  (PD.idCatalogoStatus  = @IdCatCancelado) THEN 1 END) NC
					,COUNT(CASE WHEN GHD.estadoPieza = 'PENDING' THEN 1 END) PA
					,COUNT(CASE WHEN GHD.estadoPieza = 'RECEIVED WH' THEN 1 END) RW
					,COUNT(CASE WHEN GHD.estadoPieza = 'STANDBY' THEN 1 END) SB
					,COUNT(CASE WHEN GHD.estadoPieza = 'DISPATCHED WH' THEN 1 END) DW
				FROM
					OrdenesLocales OL WITH (NOLOCK) 
					INNER JOIN Catalogos CAT WITH (NOLOCK) ON OL.idCatalogoStatus = CAT.id
					INNER JOIN #ObjetoEstadosOrdenLocal OEOL WITH (NOLOCK) ON CAT.Id = OEOL.idEstadoCatalogo
					INNER JOIN Exportadores E WITH (NOLOCK) ON OL.idExportador = E.id
					INNER JOIN Bodegas B WITH (NOLOCK) ON OL.idBodega = B.id
					INNER JOIN Usuarios U WITH (NOLOCK) ON OL.idUsuarioLog = U.id
					LEFT JOIN dbo.f_SearchEntities('','BillTo') FSB ON OL.BillToConsigneeId = FSB.Id
					LEFT JOIN dbo.f_SearchEntities('','Consignee') FSC ON OL.ConsigneeId = FSC.Id
					LEFT JOIN #BillTo BT WITH (NOLOCK) ON OL.BillToConsigneeId = BT.id
					LEFT JOIN PoEncabezado PE WITH (NOLOCK) ON OL.id = PE.idOrdenLocal
					LEFT JOIN PoDetalles PD WITH (NOLOCK) ON PE.id = PD.idPo
					LEFT JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON PD.id = GHD.idPoDetalle
					LEFT JOIN PalletsDetalles PAD WITH (NOLOCK) ON GHD.id = PAD.idGuiasHouseDetalle
					LEFT JOIN Pallets PA WITH (NOLOCK) ON PAD.idPallet = PA.id
				WHERE OL.fechaEntrega BETWEEN @FechaDesde AND @FechaHasta	
					AND OL.idEmpresa = @IdEmpresa
					AND (@IdBodega IS NULL OR B.id = @IdBodega)
					AND (@IdClienteConsignatario IS NULL OR FSC.Id = @IdClienteConsignatario)
					AND (@NroOrden IS NULL OR OL.nroOrden LIKE '%' + @NroOrden + '%')
					AND (@IdExportador IS NULL OR E.Id = @IdExportador)
					AND (@IdClienteFinal IS NULL OR PD.IdClienteFinal = @IdClienteFinal)
					AND (@IdBillTo IS NULL OR BT.id IS NOT NULL)
					AND (@NroPo IS NULL OR PE.NroPo LIKE '%' + @NroPo + '%')
					AND (@PalletLabel IS NULL OR PA.pallet LIKE '%' + @PalletLabel + '%')
					AND CAT.id in (@IdCatCanceladaOrden, @IdCatRecibidaOrden)
				GROUP BY
					OL.id,
					OL.nroOrden,
					OL.fechaEntrega,
					FSB.[Name],
					FSB.id,
					FSC.[Name],
					FSC.id,
					CAT.codigo,
					CAT.Orden,
					E.Id,
					E.NombreComercial,
					B.Id,
					OL.Nota,
					B.Nombre,
					U.Nombre,
					OL.FechaCambio,
					OL.idCatalogoStatus
			END
			ELSE 
			BEGIN
				INSERT INTO
				#OrdenDetalle(
					id,
					nroOrden,
					fechaEntrega,
					NombreClienteConsignatario,
					idClienteConsignatario,
					CodigoStatusOrden,
					ordenEstado,
					IdExportador,
					nombreExportador,
					idBodega,
					notas,
					nombreBodega,
					usuarioFechaCambio,
					idCatalogoStatus,
					Nc,
					Pa,
					Rw,
					Sb,
					Dw
				)
				SELECT
					OL.id,
					OL.nroOrden,
					OL.fechaEntrega,
					REPLACE(COALESCE(FSB.[Name],FSC.[Name]), '"', ' '),
					COALESCE(FSB.id,FSC.id),
					CAT.codigo,
					CAT.Orden,
					E.Id,
					E.NombreComercial,
					B.Id,
					OL.Nota,
					B.Nombre,
					ISNULL(U.Nombre + ' ', '') + UPPER(FORMAT(OL.FechaCambio, 'ddd, dd MMM yyy HH:mm'))
					,OL.idCatalogoStatus
					,COUNT(CASE WHEN (PD.idCatalogoStatus = @IdCatRequerida AND GHD.id IS NULL) OR  (PD.idCatalogoStatus  = @IdCatCancelado) THEN 1 END) NC
					,COUNT(CASE WHEN GHD.estadoPieza = 'PENDING' THEN 1 END) PA
					,COUNT(CASE WHEN GHD.estadoPieza = 'RECEIVED WH' THEN 1 END) RW
					,COUNT(CASE WHEN GHD.estadoPieza = 'STANDBY' THEN 1 END) SB
					,COUNT(CASE WHEN GHD.estadoPieza = 'DISPATCHED WH' THEN 1 END) DW
				FROM
					OrdenesLocales OL WITH (NOLOCK) 
					INNER JOIN Catalogos CAT WITH (NOLOCK) ON OL.idCatalogoStatus = CAT.id				
					INNER JOIN Exportadores E WITH (NOLOCK) ON OL.idExportador = E.id
					INNER JOIN Bodegas B WITH (NOLOCK) ON OL.idBodega = B.id
					INNER JOIN Usuarios U WITH (NOLOCK) ON OL.idUsuarioLog = U.id
					LEFT JOIN dbo.f_SearchEntities('','BillTo') FSB ON OL.BillToConsigneeId = FSB.Id
					LEFT JOIN dbo.f_SearchEntities('','Consignee') FSC ON OL.ConsigneeId = FSC.Id
					LEFT JOIN #BillTo BT WITH (NOLOCK) ON OL.BillToConsigneeId = BT.id
					LEFT JOIN PoEncabezado PE WITH (NOLOCK) ON OL.id = PE.idOrdenLocal
					LEFT JOIN PoDetalles PD WITH (NOLOCK) ON PE.id = PD.idPo
					LEFT JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON PD.id = GHD.idPoDetalle
					LEFT JOIN PalletsDetalles PAD WITH (NOLOCK) ON GHD.id = PAD.idGuiasHouseDetalle
					LEFT JOIN Pallets PA WITH (NOLOCK) ON PAD.idPallet = PA.id 
				WHERE OL.fechaEntrega BETWEEN @FechaDesde AND @FechaHasta	
					AND OL.idEmpresa = @IdEmpresa
					AND (@IdBodega IS NULL OR B.id = @IdBodega)
					AND (@IdClienteConsignatario IS NULL OR FSC.Id = @IdClienteConsignatario)
					AND (@NroOrden IS NULL OR OL.nroOrden LIKE '%' + @NroOrden + '%' )
					AND (@IdExportador IS NULL OR E.Id = @IdExportador)
					AND (@IdClienteFinal IS NULL OR PD.IdClienteFinal = @IdClienteFinal )
					AND (@IdBillTo IS NULL OR BT.id IS NOT NULL)
					AND (@NroPo IS NULL OR PE.NroPo LIKE '%' + @NroPo + '%')
					AND (@PalletLabel IS NULL OR PA.pallet LIKE '%' + @PalletLabel + '%')
					AND CAT.id in (@IdCatCanceladaOrden, @IdCatRecibidaOrden)
				GROUP BY
					OL.id,
					OL.nroOrden,
					OL.fechaEntrega,
					FSB.[Name],
					FSB.id,
					FSC.[Name],
					FSC.id,
					CAT.codigo,
					CAT.Orden,
					E.Id,
					E.NombreComercial,
					B.Id,
					OL.Nota,
					B.Nombre,
					U.Nombre,
					OL.FechaCambio,
					OL.idCatalogoStatus
			END
		END
	
		INSERT INTO
			#DocumentoOrden(
			id,
			idPo,
			idOrdenLocal,
			nroPo,
			idEntidad,
			mailEnviado,
			idDocumento,
			totalPcsCarrier,
			totalPcsGuia
		)
		SELECT DISTINCT
			DO.id,
			PE.id,
			PE.idOrdenLocal,
			PE.nroPo,
			DO.idEntidad,
			DO.mailEnviado,
			DO.idDocumento,
			GH.totalPcsCarrier,
			GH.totalPcsHouse
		FROM
			#OrdenDetalle OD
			LEFT JOIN DocumentosOrdenPo DO WITH (NOLOCK) ON OD.id = DO.idEntidad
			LEFT JOIN PoEncabezado PE WITH (NOLOCK) ON OD.id = PE.idOrdenLocal
			LEFT JOIN PoDetalles PD WITH (NOLOCK) ON PE.id = PD.idPo
			LEFT JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON PD.id = GHD.idPoDetalle
			LEFT JOIN GuiasHouse GH WITH (NOLOCK) ON GHD.idGuiaHouse = GH.id

		INSERT INTO #OrdenLocalUpdate (id, idPo)
		SELECT DISTINCT
			idOrdenLocal,
			idPo
		FROM #DocumentoOrden

		--Actualiza los totales 
		UPDATE
			#OrdenDetalle
		SET
			totalPcsCarrier = s.totalPcsCarrier,
			totalPcsGuia = s.totalPcsGuia
		FROM
			#OrdenDetalle OD
			INNER JOIN (
				SELECT
					OD.id,
					DO.totalPcsCarrier,
					DO.totalPcsGuia,
					COUNT(1) s
				FROM
					#OrdenDetalle OD
					LEFT JOIN #DocumentoOrden DO ON OD.id = DO.idOrdenLocal
				WHERE
					(
						DO.totalPcsCarrier IS NOT NULL
						OR DO.totalPcsGuia IS NOT NULL
					)
					OR DO.totalPcsCarrier = DO.totalPcsGuia
				GROUP BY
					OD.id,
					DO.totalPcsCarrier,
					DO.totalPcsGuia
			) s ON OD.id = s.id 

		--Actualiza cuando tienes varias po		
		UPDATE
			#OrdenDetalle
		SET
			nroPo = 'Varios',
			idPoEncabezado = NULL
		FROM
			#OrdenDetalle OD
			INNER JOIN (
				SELECT
					OD.id,
					COUNT(1) Cnt
				FROM
					#OrdenDetalle OD
					LEFT JOIN #OrdenLocalUpdate DO ON OD.id = DO.id
				GROUP BY
					OD.id
				HAVING
					COUNT(1) > 1
			) s ON OD.id = s.id 

		--Actualiza cuando tienes una po
		UPDATE
			#OrdenDetalle
		SET
			nroPo = DO.nroPo,
			idPoEncabezado = DO.idPo
		FROM
			#OrdenDetalle OD
			INNER JOIN (
				SELECT
					OD.id,
					COUNT(1) Cnt
				FROM
					#OrdenDetalle OD
					LEFT JOIN #OrdenLocalUpdate DO ON OD.id = DO.id
				GROUP BY
					OD.id
				HAVING
					COUNT(1) = 1
			) s ON OD.id = s.id
			INNER JOIN #DocumentoOrden DO ON  s.id = DO.idOrdenLocal

		--Actualiza si tiene doc y enviado 0		
		UPDATE
			#OrdenDetalle
		SET
			tipoNubeDocs = 'fas fa-cloud-download',
			colorIconoNube = '#353535',
			emailsEnviados = 0
		FROM
			#OrdenDetalle OD
			INNER JOIN (
				SELECT DISTINCT
					OD.id idOrden
				FROM 
					#OrdenDetalle OD
					LEFT JOIN #DocumentoOrden DO ON OD.id = DO.idEntidad
				WHERE
					DO.id IS NOT NULL
					AND DO.mailEnviado = 0
			) s ON OD.id = s.idOrden 

		--Actualiza si tiene doc y enviado 1	
		UPDATE
			#OrdenDetalle
		SET
			tipoNubeDocs = 'fas fa-cloud-upload',
			colorIconoNube = '#84bd00',
			emailsEnviados = 1
		FROM
			#OrdenDetalle OD
			INNER JOIN (
				SELECT DISTINCT
					OD.id idOrden
				FROM
					#OrdenDetalle OD
					LEFT JOIN #DocumentoOrden DO ON OD.id = DO.idEntidad
				WHERE
					DO.id IS NOT NULL
					AND DO.mailEnviado = 1
			) s ON OD.id = s.idOrden 

		--Actualiza si  no tiene doc
		UPDATE
			#OrdenDetalle
		SET
			tipoNubeDocs = 'far fa-cloud',
			colorIconoNube = '#bbbbbb'
		FROM
			#OrdenDetalle OD
			INNER JOIN (
				SELECT DISTINCT
					OD.id idOrden
				FROM
					#OrdenDetalle OD
					LEFT JOIN #DocumentoOrden DO ON OD.id = DO.idEntidad
				WHERE
					DO.id IS NULL
			) s ON OD.id = s.idOrden


		SELECT
			total = OD.Pa + OD.Rw + OD.Sb + OD.dw,
			OD.id, OD.nroOrden, OD.fechaEntrega,OD.NombreClienteConsignatario, OD.idClienteConsignatario,
			OD.CodigoStatusOrden, OD.ordenEstado, OD.IdExportador, OD.nombreExportador, OD.idPoEncabezado,
			OD.nroPo, OD.idBodega, OD.notas, OD.nombreBodega, OD.usuarioFechaCambio,OD.idCatalogoStatus,
			OD.Nc, OD.Pa, OD.Rw, OD.Sb, OD.Dw, OD.tipoNubeDocs, OD.colorIconoNube, OD.emailsEnviados, OD.totalPcsCarrier, OD.totalPcsGuia,
			CASE
				WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw = OD.Nc 
						AND OD.idCatalogoStatus NOT IN (@IdCatOrdenada, @IdCatCanceladaOrden))
					THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatRequeridaOrden)
				WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw = 0
						AND OD.Nc > 0
						AND OD.idCatalogoStatus NOT IN (@IdCatOrdenada, @IdCatCanceladaOrden))
					THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatRequeridaOrden)
				WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw + OD.Nc = OD.Pa)
						AND OD.idCatalogoStatus != @IdCatCanceladaOrden 
					THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatConfirmadaOrden)
				WHEN (OD.Rw > 0) THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatRecibidaOrden)
				WHEN (OD.Nc > 0 AND OD.Pa > 0) THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatConfirmadaParcialOrden)
			ELSE CA.nombre
			END nombreStatusOrden,
			CASE 
				WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw = OD.Nc 
						AND OD.idCatalogoStatus NOT IN (@IdCatOrdenada, @IdCatCanceladaOrden))
					THEN (SELECT nombreIngles FROM Catalogos WHERE id = @IdCatRequeridaOrden)
				WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw = 0
						AND OD.Nc > 0
						AND OD.idCatalogoStatus NOT IN (@IdCatOrdenada, @IdCatCanceladaOrden))
					THEN (SELECT nombreIngles FROM Catalogos WHERE id = @IdCatRequeridaOrden)
				WHEN (OD.Pa + OD.Rw + OD.Sb + OD.dw + OD.Nc = OD.Pa) 
						AND OD.idCatalogoStatus != @IdCatCanceladaOrden 
					THEN (SELECT nombreIngles FROM Catalogos WHERE id = @IdCatConfirmadaOrden)
				WHEN (OD.Rw > 0) THEN (SELECT nombreIngles FROM Catalogos WHERE id = @IdCatRecibidaOrden)
				WHEN (OD.Nc > 0 AND OD.Pa > 0) THEN (SELECT nombre FROM Catalogos WHERE id = @IdCatConfirmadaParcialOrden)
			ELSE CA.nombreIngles
			END nombreInglesStatusOrden,
			CAST(0 AS BIT) AS esClienteInventario,
			0 AS pcsNoProgramadas,
			0 AS pcsProgramadas
		FROM
			#OrdenDetalle OD
			LEFT JOIN Catalogos CA WITH(NOLOCK) ON CA.id = OD.idCatalogoStatus
			WHERE
				OD.Nc + OD.Pa = 0
				OR OD.Pa + OD.Rw + OD.Sb + OD.dw = 0

	END 

END TRY 
BEGIN CATCH 
	EXEC dbo.pro_LogError
END CATCH;
END

/*

EXEC [AC_pro_GetLocalOrdersByEmployee] @FechaDesde= '2026-01-06T00:00:00',@FechaHasta= '2026-01-27T00:00:00',@IdEmpresa= N'EMP014',@Pendientes= 1,@IdBodega= NULL,@IdClienteConsignatario= NULL,@NroOrden= NULL,@IdExportador= NULL,@IdClienteFinal= NULL,@NroPo= NULL,@listaIdCatalogo= NULL,@PalletLabel= NULL,@IdBillTo=NULL;
EXEC [AC_pro_GetLocalOrdersByEmployee] @FechaDesde = '2026-02-01T00:00:00',@FechaHasta = '2026-02-16T00:00:00',@IdEmpresa = N'EMP014',@Pendientes = 1,@IdBodega = NULL,@IdClienteConsignatario = N'ETY00018061',@NroOrden = NULL,@IdExportador = NULL,@IdClienteFinal = NULL,@NroPo = NULL,@listaIdCatalogo = NULL,@PalletLabel = NULL,@IdBillTo = NULL;
EXEC [AC_pro_GetLocalOrdersByEmployee] @FechaDesde = '2025-12-11T00:00:00',@FechaHasta = '2025-12-16T00:00:00',@IdEmpresa = N'EMP014',@Pendientes = 0,@IdBodega = NULL,@IdClienteConsignatario = NULL,@NroOrden = NULL,@IdExportador = NULL,@IdClienteFinal = NULL,@NroPo = NULL,@listaIdCatalogo = NULL,@PalletLabel = NULL,@IdBillTo = NULL;
EXEC [AC_pro_GetLocalOrdersByEmployee] @FechaDesde = '2026-02-01T00:00:00',@FechaHasta = '2026-02-16T00:00:00',@IdEmpresa = N'EMP014',@Pendientes = 1,@IdBodega = NULL,@IdClienteConsignatario = NULL,@NroOrden = NULL,@IdExportador = NULL,@IdClienteFinal = NULL,@NroPo = NULL,@listaIdCatalogo = NULL,@PalletLabel = NULL,@IdBillTo = 'ETY077';
EXEC [AC_pro_GetLocalOrdersByEmployee] @FechaDesde = '2026-02-01T00:00:00',@FechaHasta = '2026-02-20T00:00:00',@IdEmpresa = N'EMP014',@Pendientes = 1,@IdBodega = NULL,@IdClienteConsignatario = NULL,@NroOrden = NULL,@IdExportador = NULL,@IdClienteFinal = NULL,@NroPo = NULL,@listaIdCatalogo = NULL,@PalletLabel = NULL,@IdBillTo = 'ETY0000000038998';
EXEC [AC_pro_GetLocalOrdersByEmployee] @FechaDesde = '2025-12-01T00:00:00',@FechaHasta = '2026-02-20T00:00:00',@IdEmpresa = N'EMP014',@Pendientes = 0,@IdBodega = NULL,@IdClienteConsignatario = NULL,@NroOrden = NULL,@IdExportador = NULL,@IdClienteFinal = NULL,@NroPo = NULL,@listaIdCatalogo = NULL,@PalletLabel = NULL,@IdBillTo = NULL;
EXEC [AC_pro_GetLocalOrdersByEmployee] @FechaDesde = '2025-12-01T00:00:00',@FechaHasta = '2026-02-20T00:00:00',@IdEmpresa = N'EMP014',@Pendientes = 0,@IdBodega = NULL,@IdClienteConsignatario = NULL,@NroOrden = NULL,@IdExportador = NULL,@IdClienteFinal = NULL,@NroPo = NULL,@listaIdCatalogo = NULL,@PalletLabel = NULL,@IdBillTo = 'ETY0000000019585';

*/