/*
VERSION		MODIFIEDBY				MODIFIEDDATE	HU				MODIFICATION
1			Cristhian Cuichan		2026-03-02		58767			Initial code, store procedure based on pro_ConfirmacionOrdenLocalCoordinacion
*/

CREATE OR ALTER   PROCEDURE [dbo].[AC_pro_ConfirmLocalOrderCoordination]
(
    @listaIdEncabezado VARCHAR(MAX),
    @tipo VARCHAR(30)
)
AS
BEGIN
    BEGIN TRY
        /*Declara las variables a usar*/
        DECLARE @contadorConfirmadas INT,
                @poDetalleYaCreados INT,
                @poDetalleYaConfirmado INT,
                @idCatalogoStatusPendiente VARCHAR(128),
                @idCatalogoStatusConfirmado VARCHAR(128),
				@cantidadPiezasRequeridas INT,
				@contadorPodRequeridas INT;

		CREATE TABLE #idConsultaTemporalPoDetalleConfirmados
        (
            idTemporal INT IDENTITY(1, 1) NOT NULL,
            idPoDetalleInsertado VARCHAR(128) COLLATE DATABASE_DEFAULT NULL
        );

        CREATE TABLE #idConsultaTemporalGuiasHouseDetalleInsertadas
        (
            idTemporal INT IDENTITY(1, 1) NOT NULL,
            idGuiasHouseDetalle VARCHAR(128) COLLATE DATABASE_DEFAULT NULL
        );

        CREATE TABLE #codigosBarras
        (
            idTemporal INT IDENTITY(1, 1) NOT NULL,
            valor VARCHAR(128) COLLATE DATABASE_DEFAULT NULL
        );

		CREATE TABLE #piezasModificarPoDetalle
		(
			idPoDetalle UNIQUEIDENTIFIER,
			idPo UNIQUEIDENTIFIER,
			idDetalleMercancia VARCHAR(128),
			descripcion VARCHAR(128),
			idTipoPieza VARCHAR(128),
			unidadesPorPieza INT,
			precioTallo DECIMAL(18,3),
			largoCm DECIMAL(18,3),
			anchoCm DECIMAL(18,3),
			altoCm DECIMAL(18,3),
			largoIn DECIMAL(18,3),
			anchoIn DECIMAL(18,3),
			altoIn DECIMAL(18,3),
			shiptoId VARCHAR(128)
		)

        CREATE TABLE #ObjetoPoDetalle
        (
            idTemporal INT IDENTITY(1, 1) NOT NULL,
            idPO VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            idPoDetalle VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            idClienteFinal VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            idExportador VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            codigoBarra VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            descripcion VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            idTipoPieza VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            idDetalleMercancia VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            UnidadesPorPieza INT NULL,
            IdUsuarioLog VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            FechaCreacion VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            FechaCambio VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            IdCatalogoStatus VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            LargoCm DECIMAL(18,3)
                DEFAULT (0) NULL,
            AnchoCm DECIMAL(18,3)
                DEFAULT (0) NULL,
            AltoCm DECIMAL(18,3)
                DEFAULT (0) NULL,
            LargoIn DECIMAL(18,3)
                DEFAULT (0) NULL,
            AnchoIn DECIMAL(18,3)
                DEFAULT (0) NULL,
            AltoIn DECIMAL(18,3)
                DEFAULT (0) NULL,
            PesoNeto DECIMAL(18, 3)
                DEFAULT (0) NULL,
            UnidadMedida VARCHAR(128) COLLATE DATABASE_DEFAULT NULL,
            PrecioTallo DECIMAL(18, 3)
                DEFAULT (0) NULL,
            cantidadPiezas INT NULL,
            cantidadPiezasRequeridas INT NULL,
            cantidadPiezasCoordinadas INT NULL,
            IdDimension VARCHAR(16) NULL,
            creadoDesdeCoordinacion BIT NOT NULL,
			idCarrier VARCHAR(64)
        );

        SELECT @idCatalogoStatusConfirmado = c.id
        FROM dbo.Catalogos c
        WHERE c.codigo = 'EstadosPos'
              AND c.identificador = 'CONFIRMADA';
        
        SELECT @idCatalogoStatusPendiente = c.id
        FROM dbo.Catalogos c
        WHERE c.codigo = 'EstadosPos'
              AND c.identificador = 'REQUERIDA';

        
        INSERT INTO #ObjetoPoDetalle
        (
            idPO,
            idPoDetalle,
            idClienteFinal,
            idExportador,
            codigoBarra,
            descripcion,
            idTipoPieza,
            idDetalleMercancia,
            UnidadesPorPieza,
            IdUsuarioLog,
            FechaCreacion,
            FechaCambio,
            IdCatalogoStatus,
            LargoCm,
            AnchoCm,
            AltoCm,
            LargoIn,
            AnchoIn,
            AltoIn,
            PesoNeto,
            UnidadMedida,
            PrecioTallo,
            cantidadPiezas,
            cantidadPiezasRequeridas,
            cantidadPiezasCoordinadas,
            IdDimension,
			creadoDesdeCoordinacion,
			idCarrier
        )
        SELECT idPO,
               idPoDetalle,
               idClienteFinal,
               idExportador,
               codigoBarra,
               descripcion,
               idTipoPieza,
               idDetalleMercancia,
               UnidadesPorPieza,
               IdUsuarioLog,
               FechaCreacion,
               FechaCambio,
               IdCatalogoStatus,
               LargoCm,
               AnchoCm,
               AltoCm,
               LargoIn,
               AnchoIn,
               AltoIn,
               PesoNeto,
               UnidadMedida,
               PrecioTallo,
               cantidadPiezas,
               cantidadPiezasRequeridas,
               cantidadPiezasCoordinadas,
               IdDimension,
			   creadoDesdeCoordinacion,
			   idCarrier
        FROM
            OPENJSON(@listaIdEncabezado)
            WITH
            (
                idPO VARCHAR(50) '$.IdPo',
                idPoDetalle VARCHAR(128) '$.IdPoDetalle',
                idClienteFinal VARCHAR(50) '$.IdClienteFinal',
                idExportador VARCHAR(50) '$.IdExportador',
                codigoBarra VARCHAR(50) '$.CodigoBarra',
                descripcion VARCHAR(50) '$.Descripcion',
                idTipoPieza VARCHAR(50) '$.IdTipoPieza',
                idDetalleMercancia VARCHAR(50) '$.IdDetalleMercancia',
                UnidadesPorPieza VARCHAR(50) '$.UnidadesPorPieza',
                IdUsuarioLog VARCHAR(50) '$.IdUsuarioLog',
                FechaCreacion VARCHAR(50) '$.FechaCreacion',
                FechaCambio VARCHAR(50) '$.FechaCambio',
                IdCatalogoStatus VARCHAR(50) '$.IdCatalogoStatus',
                LargoCm VARCHAR(50) '$.LargoCm',
                AnchoCm VARCHAR(50) '$.AnchoCm',
                AltoCm VARCHAR(50) '$.AltoCm',
                LargoIn VARCHAR(50) '$.LargoIn',
                AnchoIn VARCHAR(50) '$.AnchoIn',
                AltoIn VARCHAR(50) '$.AltoIn',
                PesoNeto VARCHAR(50) '$.PesoNeto',
                UnidadMedida VARCHAR(50) '$.UnidadMedida',
                PrecioTallo DECIMAL(18, 3) '$.PrecioTallo',
                cantidadPiezas VARCHAR(50) '$.cantidadPiezas',
                cantidadPiezasRequeridas VARCHAR(50) '$.cantidadPiezasRequeridas',
                cantidadPiezasCoordinadas VARCHAR(50) '$.cantidadPiezasCoordinadas',
                IdDimension VARCHAR(16) '$.idDimension',
				creadoDesdeCoordinacion BIT '$.creadoDesdeCoordinacion',
				idCarrier VARCHAR(64) '$.idCarrier'
            );

		INSERT INTO #piezasModificarPoDetalle
		(
			idPoDetalle,
			idPo,
			idDetalleMercancia,
			descripcion,
			idTipoPieza,
			unidadesPorPieza,
			precioTallo,
			largoCm,
			anchoCm,
			altoCm,
			largoIn,
			anchoIn,
			altoIn,
			shiptoId
		)
		SELECT 
			pod.id,
			pod.idPo,
			pod.idDetalleMercancia,
			pod.descripcion,
			pod.idTipoPieza,
			pod.unidadesPorPieza,
			pod.precioTallo,
			pod.largoCm,
			pod.anchoCm,
			pod.altoCm,
			pod.largoIn,
			pod.anchoIn,
			pod.altoIn,
			pod.ShipToId
			FROM PoDetalles pod (NOLOCK)
			INNER JOIN #ObjetoPoDetalle otpod ON pod.id = otpod.idPoDetalle

        SELECT @poDetalleYaCreados = COUNT(p.id)
        FROM dbo.PoDetalles p
        WHERE EXISTS
        (
            SELECT op.idPO FROM #ObjetoPoDetalle op WHERE op.idPO = p.idPo
        );

		BEGIN TRANSACTION;

        IF (@tipo = 'OrdenLocal')
        BEGIN
            -- ACTUALIZA CON LOS NUEVOS DATOS A LOS YA EXISTENTES EN ESTADO PENDIENTE
            IF EXISTS (SELECT 1 FROM #ObjetoPoDetalle WHERE idPoDetalle IS NOT NULL)
            BEGIN

                UPDATE POD
                SET POD.largoCm = TPOD.LargoCm,
                    POD.largoIn = TPOD.LargoIn,
                    POD.anchoCm = TPOD.AnchoCm,
                    POD.anchoIn = TPOD.AnchoIn,
                    POD.altoCm = TPOD.AltoCm,
                    POD.altoIn = TPOD.AltoIn,
                    POD.pesoNeto = (TPOD.LargoCm*TPOD.AnchoCm*TPOD.AltoCm)/6000,
                    POD.unidadesPorPieza = TPOD.UnidadesPorPieza,
                    POD.precioTallo = IIF(TPOD.PrecioTallo = 0, OPD.PrecioTallo, TPOD.PrecioTallo),
                    POD.idUsuarioLog = TPOD.IdUsuarioLog,
                    POD.fechaCambio = GETDATE(),
                    POD.IdDimension = TPOD.IdDimension,
                    POD.descripcion = TPOD.descripcion,
                    POD.idTipoPieza = TPOD.idTipoPieza,
					POD.ShipToId = OPD.shiptoId
				FROM dbo.PoDetalles POD
                    INNER JOIN #piezasModificarPoDetalle OPD ON POD.idPo = OPD.idPo
					INNER JOIN #ObjetoPoDetalle TPOD ON OPD.idPo = TPOD.idPO
				WHERE POD.idDetalleMercancia = OPD.idDetalleMercancia
					AND ISNULL(POD.descripcion, '') = ISNULL(OPD.descripcion, '')
					AND ISNULL(POD.idTipoPieza, '') = ISNULL(OPD.idTipoPieza, '')
					AND POD.unidadesPorPieza = OPD.UnidadesPorPieza
					AND POD.precioTallo = OPD.PrecioTallo
					AND POD.largoCm = OPD.largoCm 
					AND POD.largoIn = OPD.LargoIn
					AND POD.anchoCm = OPD.AnchoCm 
					AND POD.anchoIn = OPD.AnchoIn
					AND POD.altoCm = OPD.AltoCm 
					AND POD.altoIn = OPD.AltoIn;
                /*ACTUALIZAR DATOS DE GUIASHOUSEDETALLE CUANDO YA EXISTEN PIEZAS CONFIRMADAS*/
                UPDATE GHD
                SET GHD.largoCm = TPOD.LargoCm,
                    GHD.largoIn = TPOD.LargoIn,
                    GHD.anchoCm = TPOD.AnchoCm,
                    GHD.anchoIn = TPOD.AnchoIn,
                    GHD.altoCm = TPOD.AltoCm,
                    GHD.altoIn = TPOD.AltoIn,
                    GHD.peso = (TPOD.LargoCm*TPOD.AnchoCm*TPOD.AltoCm)/6000,
                    GHD.totalTallos = TPOD.UnidadesPorPieza,
					GHD.precioTallo = IIF(TPOD.PrecioTallo = 0, OPD.precioTallo, TPOD.PrecioTallo),
                    GHD.idUsuarioLog = TPOD.IdUsuarioLog,
                    GHD.fechaCambio = GETDATE(),
                    GHD.productoDescripcion = TPOD.descripcion,
                    GHD.idTipoDePieza = TPOD.idTipoPieza,
					GHD.ShipToId = POD.ShipToId,
					GHD.BilltoConsigneeId = TPOD.idClienteFinal
				FROM dbo.PoDetalles POD
                    INNER JOIN #piezasModificarPoDetalle OPD ON POD.idPo = OPD.idPo
					INNER JOIN dbo.GuiasHouseDetalles GHD ON POD.id = GHD.idPoDetalle
					INNER JOIN #ObjetoPoDetalle TPOD ON OPD.idPo = TPOD.idPO
				WHERE GHD.idDetalleMercancia = OPD.idDetalleMercancia
					AND ISNULL(GHD.productoDescripcion, '') = ISNULL(OPD.descripcion, '')
					AND ISNULL(GHD.idTipoDePieza, '') = ISNULL(OPD.idTipoPieza, '')
					AND GHD.precioTallo = OPD.precioTallo
					AND GHD.largoCm = OPD.largoCm 
					AND GHD.largoIn = OPD.LargoIn
					AND GHD.anchoCm = OPD.AnchoCm 
					AND GHD.anchoIn = OPD.AnchoIn
					AND GHD.altoCm = OPD.AltoCm 
					AND GHD.altoIn = OPD.AltoIn;
            END;
			/*CONSULTAR LA CANTIDAD DE PIEZAS QUE YA ESTAN CONFIRMADAS EN PODETALLES*/
            SELECT @poDetalleYaConfirmado = COUNT(POD.id)
            FROM dbo.PoDetalles POD
                    INNER JOIN #piezasModificarPoDetalle OPD ON POD.idPo = OPD.idPo
					INNER JOIN #ObjetoPoDetalle TPOD ON OPD.idPo = TPOD.idPO
				WHERE POD.idDetalleMercancia = OPD.idDetalleMercancia
					AND POD.descripcion = OPD.descripcion
					AND POD.idTipoPieza = OPD.idTipoPieza
					AND POD.unidadesPorPieza = OPD.UnidadesPorPieza
					AND POD.precioTallo = OPD.PrecioTallo
					AND POD.largoCm = OPD.largoCm 
					AND POD.largoIn = OPD.LargoIn
					AND POD.anchoCm = OPD.AnchoCm 
					AND POD.anchoIn = OPD.AnchoIn
					AND POD.altoCm = OPD.AltoCm 
					AND POD.altoIn = OPD.AltoIn
					AND POD.idCatalogoStatus = @idCatalogoStatusConfirmado;

            SELECT @contadorConfirmadas
                = IIF(o.idPoDetalle IS NULL,
                      o.cantidadPiezasCoordinadas,
                      o.cantidadPiezasCoordinadas - @poDetalleYaConfirmado
					  ),
                   @cantidadPiezasRequeridas = o.cantidadPiezasRequeridas
            FROM #ObjetoPoDetalle o; 

            DECLARE @numPcsRequeridasInsertar INT;
            SELECT  @numPcsRequeridasInsertar = SUM(@cantidadPiezasRequeridas - @poDetalleYaCreados);
			
            IF (@numPcsRequeridasInsertar > 0)
               OR (@contadorConfirmadas > 0)
            BEGIN
                /*----------------INICIO-GENERACION DE CODIGOS DE BARRA-----------------------*/
                DECLARE @Prefijo VARCHAR(8),
                        @Id INT,
                        @CantidadCerosIzquierda INT,
                        @Identificador VARCHAR(32),
                        @CodigoBarraActual BIGINT;
				
                /*Calculando el codigo de barras actual*/
                SELECT @Prefijo = COALESCE(prefijo, ''),
                       @Id = contador,
                       @CantidadCerosIzquierda = cantidadCerosIzquierda
                FROM dbo.Contadores
                WHERE tabla = 'NumeroCodigoBarra'
                      AND idEmpresa = 'EMP014';

                SELECT @Identificador
                    = CAST(RIGHT(YEAR(GETDATE()), 2) AS VARCHAR(16))
                      + CAST(REPLICATE('0', @CantidadCerosIzquierda - LEN(@Id)) AS VARCHAR(16))
                      + CAST(@Id AS VARCHAR(16));
                SELECT @CodigoBarraActual = CONVERT(BIGINT, RTRIM(@Prefijo) + @Identificador);
                --======================================
				
                /*Reservando los codigos de barra dependiendo de la cantidad pasada...*/
                UPDATE dbo.Contadores
                SET contador = contador + ABS(@numPcsRequeridasInsertar) --23890 Se corrige cajas que usan el mismo codigo de barra y se evita la duplicidad de piezas
                WHERE tabla = 'NumeroCodigoBarra'
                      AND idEmpresa = 'EMP014';

                /*----------------FIN-GENERACION DE CODIGOS DE BARRA-----------------------*/
                --INSERTA PIEZAS EN ESTADO REQUERIDO         
                INSERT INTO [dbo].[PoDetalles]
                (
                    [id],
                    [idPo],
                    [idClienteFinal],
                    [idExportador],
                    [idCarrier],
                    [fechaDespacho],
                    [codigoBarra],
                    [descripcion],
                    [idTipoPieza],
                    [idDetalleMercancia],
                    [unidadesPorPieza],
                    [idPoGuiasAsignadas],
                    [idCoordinacion],
                    [idUsuarioLog],
                    [fechaCreacion],
                    [fechaCambio],
                    [nota],
                    [idCatalogoStatus],
                    [cambiarCarrierPorDestino],
                    [largoCm],
                    [anchoCm],
                    [altoCm],
                    [largoIn],
                    [anchoIn],
                    [altoIn],
                    [pesoNeto],
                    [unidadMedida],
                    [precioTallo],
                    [status],
                    [IdDimension],
					[creadoDesdeCoordinacion],
					[idExportadorOriginal],
					[esOrdenLocal],
					[ShipToId]
                )
                SELECT  NEWID(),									    --[id]      
                        CONVERT(UNIQUEIDENTIFIER, idPO),                --<idPo, uniqueidentifier,>      
                        idClienteFinal,                                 --<idClienteFinal, varchar(16),>      
                        idExportador,                                   --<idExportador, varchar(16),>      
                        NULL,                                           --<idCarrier, varchar(16),>      
                        NULL,                                           --<fechaDespacho, datetime,>      
                        (@CodigoBarraActual + vscj.Id) AS codigoBarras, --<codigoBarra, varchar(16),      
                        descripcion,                                    -- <descripcion, varchar(128),>      
                        idTipoPieza,                                    --<idTipoPieza, varchar(16),>      
                        idDetalleMercancia,                             --<idDetalleMercancia, varchar(16),>      
                        UnidadesPorPieza,                               --<unidadesPorPieza, int,>      
                        NULL,                                           --<idPoGuiasAsignadas, uniqueidentifier,>      
                        NULL,                                           --<idCoordinacion, varchar(16),>      
                        IdUsuarioLog,                                   --<idUsuarioLog, varchar(16),>      
                        GETDATE(),                                      --<fechaCreacion, datetime,>      
                        GETDATE(),                                      --<fechaCambio, datetime,>      
                        NULL,                                           --<nota, varchar(128),>      
                        @idCatalogoStatusPendiente,                     --<idCatalogoStatus, uniqueidentifier,>      
                        0,                                              --<cambiarCarrierPorDestino, bit,>      
                        LargoCm,                                        --<largoCm, decimal(18,3),>      
                        AnchoCm,                                        --<anchoCm, decimal(18,3),>      
                        AltoCm,                                         --<altoCm, decimal(18,3),>      
                        LargoIn,                                        --<largoIn, decimal(18,3),>      
                        AnchoIn,                                        --<anchoIn, decimal(18,3),>      
                        AltoIn,                                         --<altoIn, decimal(18,3),>      
                        PesoNeto,                                       --<pesoNeto, decimal(18,3),>      
                        UnidadMedida,                                   --<unidadMedida, varchar(16),>      
                        PrecioTallo,                                    --<precioTallo, decimal(18,3),>      
                        NULL,
                        IdDimension ,                                    --<status, varchar(16),>      
                        creadoDesdeCoordinacion,
                        idExportador ,
						1,
						idClienteFinal
                FROM #ObjetoPoDetalle
                    CROSS JOIN dbo.ValoresSecuencialesCrossJoin AS vscj
                WHERE vscj.Id <= @numPcsRequeridasInsertar
                ORDER BY vscj.Id;
				
				IF (SELECT COUNT(idPoDetalle) FROM #piezasModificarPoDetalle) > 0
				BEGIN
				--INSERTA PIEZAS EN ESTADO CONFIRMADO
					WITH podRequeridas
					AS (
					SELECT TOP (@contadorConfirmadas)
							   pod.id
						FROM dbo.PoDetalles POD (NOLOCK)
							INNER JOIN #piezasModificarPoDetalle PMD ON pod.idPo = PMD.idPo
						WHERE PMD.idDetalleMercancia = pod.idDetalleMercancia
							AND ISNULL(PMD.descripcion, '') = ISNULL(pod.descripcion, '')
							AND ISNULL(PMD.idTipoPieza, '') = ISNULL(pod.idTipoPieza, '')
							AND PMD.unidadesPorPieza = pod.UnidadesPorPieza
							AND PMD.precioTallo = pod.PrecioTallo
							AND PMD.largoCm = pod.largoCm
							AND PMD.largoIn = pod.LargoIn
							AND PMD.anchoCm = pod.AnchoCm
							AND PMD.anchoIn = pod.AnchoIn
							AND PMD.altoCm = pod.AltoCm
							AND PMD.altoIn = pod.AltoIn
							AND NOT EXISTS (
								SELECT GHD.id FROM GuiasHouseDetalles ghd (NOLOCK)
								WHERE pod.id = GHD.idPoDetalle
							)
						ORDER BY pod.codigoBarra DESC
						)

						SELECT @contadorPodRequeridas = COUNT(podr.id) FROM podRequeridas podr;

						IF (@contadorPodRequeridas = 0)
						BEGIN
							WITH podRequeridas
							AS (
							SELECT TOP (@contadorConfirmadas)
									   pod.id
								FROM dbo.PoDetalles pod (NOLOCK)
									INNER JOIN #ObjetoPoDetalle PMD ON pod.idPo = PMD.idPo
								WHERE PMD.idDetalleMercancia = pod.idDetalleMercancia
									AND ISNULL(PMD.descripcion, '') = ISNULL(pod.descripcion, '')
									AND ISNULL(PMD.idTipoPieza, '') = ISNULL(pod.idTipoPieza, '')
									AND PMD.unidadesPorPieza = pod.UnidadesPorPieza
									AND PMD.precioTallo = pod.PrecioTallo
									AND PMD.largoCm = pod.largoCm
									AND PMD.largoIn = pod.LargoIn
									AND PMD.anchoCm = pod.AnchoCm
									AND PMD.anchoIn = pod.AnchoIn
									AND PMD.altoCm = pod.AltoCm
									AND PMD.altoIn = pod.AltoIn
									AND NOT EXISTS (
										SELECT GHD.id FROM GuiasHouseDetalles ghd (NOLOCK)
										WHERE pod.id = GHD.idPoDetalle
									)
								ORDER BY pod.codigoBarra DESC
								)

								INSERT INTO #idConsultaTemporalPoDetalleConfirmados
								(
									idPoDetalleInsertado
								)
								SELECT podr.id
								FROM podRequeridas podr;
						END
						ELSE
						BEGIN
							WITH podRequeridas
							AS (
							SELECT TOP (@contadorConfirmadas)
									   pod.id
								FROM dbo.PoDetalles POD (NOLOCK)
									INNER JOIN #piezasModificarPoDetalle PMD ON pod.idPo = PMD.idPo
								WHERE PMD.idDetalleMercancia = pod.idDetalleMercancia
									AND ISNULL(PMD.descripcion, '') = ISNULL(pod.descripcion, '')
									AND ISNULL(PMD.idTipoPieza, '') = ISNULL(pod.idTipoPieza, '')
									AND PMD.unidadesPorPieza = pod.UnidadesPorPieza
									AND PMD.precioTallo = pod.PrecioTallo
									AND PMD.largoCm = pod.largoCm
									AND PMD.largoIn = pod.LargoIn
									AND PMD.anchoCm = pod.AnchoCm
									AND PMD.anchoIn = pod.AnchoIn
									AND PMD.altoCm = pod.AltoCm
									AND PMD.altoIn = pod.AltoIn
									AND NOT EXISTS (
										SELECT GHD.id FROM GuiasHouseDetalles ghd (NOLOCK)
										WHERE pod.id = GHD.idPoDetalle
									)
								ORDER BY pod.codigoBarra DESC
								)

							INSERT INTO #idConsultaTemporalPoDetalleConfirmados
							(
								idPoDetalleInsertado
							)
							SELECT podr.id
							FROM podRequeridas podr;
						END
					
				END
				ELSE
				BEGIN
					WITH podRequeridas
					AS (
					SELECT TOP (@contadorConfirmadas)
							   pod.id
						FROM dbo.PoDetalles POD (NOLOCK)
							INNER JOIN #ObjetoPoDetalle OPD ON OPD.idPO = pod.idPo
						WHERE pod.idDetalleMercancia = OPD.idDetalleMercancia
							  AND ISNULL(pod.unidadesPorPieza, '') = ISNULL(OPD.UnidadesPorPieza, '')
							  AND ISNULL(pod.precioTallo, 0) = ISNULL(OPD.PrecioTallo, 0)
							  AND ISNULL(pod.IdDimension, '') = ISNULL(OPD.IdDimension, '')
							  AND ISNULL(pod.descripcion, '') = ISNULL(OPD.descripcion, '')
							  AND pod.idTipoPieza = OPD.idTipoPieza
							  AND pod.creadoDesdeCoordinacion = OPD.creadoDesdeCoordinacion
							  AND NOT EXISTS (
								SELECT GHD.id FROM GuiasHouseDetalles ghd (NOLOCK)
								WHERE pod.id = GHD.idPoDetalle
							  )
						ORDER BY OPD.codigoBarra DESC
						)
					INSERT INTO #idConsultaTemporalPoDetalleConfirmados
					(
						idPoDetalleInsertado
					)
					SELECT podr.id
					FROM podRequeridas podr;
				END;
				
                --Actualizando a confirmados...
                UPDATE pod
                SET pod.idCatalogoStatus = @idCatalogoStatusConfirmado,
				pod.fechaCambio = GETDATE(),
				pod.idUsuarioLog = obj.IdUsuarioLog
                FROM dbo.PoDetalles pod
                    INNER JOIN #idConsultaTemporalPoDetalleConfirmados podr
                        ON podr.idPoDetalleInsertado = pod.id
						INNER JOIN #ObjetoPoDetalle obj ON pod.idPo = obj.idPO;
            END;
        END; /*Fin If Orden Local*/
		
        IF EXISTS (SELECT 1 FROM #idConsultaTemporalPoDetalleConfirmados)
        BEGIN /*inicio tabla temporal consulta temporal*/
            INSERT INTO #codigosBarras
            (
                valor
            )
            SELECT DISTINCT(POD.codigoBarra)
            FROM dbo.PoDetalles POD (NOLOCK)
                INNER JOIN #idConsultaTemporalPoDetalleConfirmados i (NOLOCK)
                    ON i.idPoDetalleInsertado = POD.id
                LEFT JOIN dbo.GuiasHouseDetalles ghd (NOLOCK)
                    ON POD.codigoBarra = GHD.codigoBarra
            WHERE POD.idCatalogoStatus = @idCatalogoStatusConfirmado;
        END; /*end if tabla consultatemporal*/
  --      ----=========================================================================
        DECLARE @GuiasHouseDetallesIngresadas INT,
        @CantidadCodigosBarra INT;
        --    
        SELECT @CantidadCodigosBarra = COUNT(1)
        FROM #codigosBarras;

        /*Se guarda en la tabla GuiasHouseDetalles lo consultado en GuiasHouse*/
        INSERT INTO [dbo].[GuiasHouseDetalles]
        (
            [id],
            [idGuiaHouse],
            [codigoBarra],
            [idClienteConsignee],
            [idDetalleMercancia],
            [idTipoDePieza],
            [fechaRecepcion],
            [productoDescripcion],
            [largoCm],
            [anchoCm],
            [altoCm],
            [largoIn],
            [anchoIn],
            [altoIn],
            [totalTallos],
            [precioTallo],
            [peso],
            [po],
            [recepcionEscaner],
            [estadoPieza],
            [inventarioVentas],
            [status],
            [nota],
            [idUsuarioLog],
            [fechaCreacion],
            [fechaCambio],
            [checkError],
            [scanDespacho],
            [impresion],
            [noPermitirVenta],
            [idClienteFinal],
            [idCodigoDeBarra],
            [idPoDetalle],
			[BilltoConsigneeId],
			[ShipToId]
        )
        SELECT NEWID(),               --[id]      
               gh.id,                 --,[idGuiaHouse]      
               POD.codigoBarra,        --,[codigoBarra]      
               gh.idCliente,          --,[idClienteConsignee]      
               POD.idDetalleMercancia, --,[idDetalleMercancia]      
               POD.idTipoPieza,        --,[idTipoDePieza]      
               NULL,                  --,[fechaRecepcion]      
               POD.descripcion,        --,[productoDescripcion]      
               POD.largoCm,            --,[largoCm]      
               POD.anchoCm,            --,[anchoCm]      
               POD.altoCm,             --,[altoCm]      
               POD.largoIn,            --,[largoIn]      
               POD.anchoIn,            --,[anchoIn]      
               POD.altoIn,             --,[altoIn]      
               POD.unidadesPorPieza,   --,[totalTallos]      
               POD.precioTallo,        --,[precioTallo]      
               (POD.LargoCm*POD.AnchoCm*POD.AltoCm)/6000,                     --,[peso]      
               POE.nroPo,              --,[po]      
               0,                     --,[recepcionEscaner]      
               'PENDING',             --,[estadoPieza]      
               0,                     --,[inventarioVentas]      
               'PENDING',             --,[status]      
               NULL,                  --,[nota]      
               POD.idUsuarioLog,       --[idUsuarioLog]      
               GETDATE(),             --,[fechaCreacion]      
               GETDATE(),             --,[fechaCambio]      
               0,                     --,[checkError]      
               0,                     --,[scanDespacho]      
               0,                     --,[impresion]      
               0,                     --,[noPermitirVenta]      
               POD.idClienteFinal,     --,[idClienteFinal]      
               NULL,                  --[idCodigoDeBarra]      
               POD.id,                  --,[idPoDetalle])  
			   ER.Id,
			   POD.ShipToId
        FROM dbo.OrdenesLocales OL (NOLOCK)
            INNER JOIN dbo.PoEncabezado POE (NOLOCK) ON OL.id = POE.idOrdenLocal
            INNER JOIN dbo.PoDetalles POD (NOLOCK) ON POE.id = POD.idPo
			INNER JOIN #idConsultaTemporalPoDetalleConfirmados cc (NOLOCK) ON POD.id = cc.idPoDetalleInsertado
            INNER JOIN dbo.GuiasHouse gh (NOLOCK) ON CONVERT(VARCHAR(128), OL.id) = gh.idGuia
			INNER JOIN EntityRelations ER WITH(NOLOCK) ON POD.ShipToId = ER.ChildEntityTypeId
        WHERE EXISTS
        (
            SELECT c.valor FROM #codigosBarras c WHERE c.valor = POD.codigoBarra
        )
              AND gh.house IS NOT NULL
		AND NOT EXISTS
		(
			SELECT GHD.id FROM GuiasHouseDetalles ghd (NOLOCK)
			WHERE cc.idPoDetalleInsertado = GHD.idPoDetalle
		)

        --Validando que la cantidad de PoDetalles insertados sea igual que la cantidad de GuiasHouseDetalle insertados    
        IF @CantidadCodigosBarra <> @GuiasHouseDetallesIngresadas
            RAISERROR(
                         'La cantidad de Guias House Detalle insertados no es igual a la cantidad de PoDetalles insertados.',
                         16,
                         1
                     );
        --=========================================================================
        COMMIT TRANSACTION;

        SELECT id,
               idPo,
               idClienteFinal,
               idExportador,
               idCarrier,
               fechaDespacho,
               codigoBarra,
               descripcion,
               idTipoPieza,
               idDetalleMercancia,
               unidadesPorPieza,
               idPoGuiasAsignadas,
               idCoordinacion,
               idUsuarioLog,
               fechaCreacion,
               fechaCambio,
               nota,
               idCatalogoStatus,
               cambiarCarrierPorDestino,
               largoCm,
               anchoCm,
               altoCm,
               largoIn,
               anchoIn,
               altoIn,
               pesoNeto,
               unidadMedida,
               precioTallo,
               status,
               IdDimension,
               NULL AS IdPoNavigation,
			   creadoDesdeCoordinacion,
               idExportadorOriginal,
			   codigoDetalleCliente,
			   esOrdenLocal,
			   idPodetallesReasignacion,
			   noProgramable,
			   farmName,
			   ShipToId
        FROM dbo.PoDetalles POD
        WHERE EXISTS
        (
            SELECT i.idPoDetalleInsertado
            FROM #idConsultaTemporalPoDetalleConfirmados i
            WHERE i.idPoDetalleInsertado = POD.id
        );

        --Eliminando tablas...    
        DROP TABLE #idConsultaTemporalPoDetalleConfirmados;
        DROP TABLE #codigosBarras;
        DROP TABLE #ObjetoPoDetalle;
		DROP TABLE #piezasModificarPoDetalle;
		
    END TRY
    BEGIN CATCH
        IF (@@TRANCOUNT > 0)
            ROLLBACK TRAN;
        EXEC [dbo].[pro_LogError];
    END CATCH;
END;

/*
declare @listaIdEncabezado varchar(max) = '{"IdPo":"bc2532e1-f575-41f0-8cb1-d518f4b8ea60","IdPoDetalle":"bc2532e1-f575-41f0-8cb1-d518f4b8ea60","IdClienteFinal":null,"IdExportador":"EXP051623","CodigoBarra":"","Descripcion":null,"IdTipoPieza":"1","IdDetalleMercancia":"DME0146","UnidadesPorPieza":10,"IdUsuarioLog":"bmSF1rgz","FechaCreacion":"","FechaCambio":"","IdCatalogoStatus":"00000000-0000-0000-0000-000000000000","LargoCm":101.6000000,"AnchoCm":121.9200000,"AltoCm":243.8400000,"LargoIn":40.00000,"AnchoIn":48.00000,"AltoIn":96.00000,"PesoNeto":503.410606080000000000000,"UnidadMedida":"INCH","PrecioTallo":0.0,"cantidadPiezas":10,"cantidadPiezasRequeridas":10,"cantidadPiezasCoordinadas":10,"idDimension":"wxqEroT6","creadoDesdeCoordinacion":false,"idCarrier":"ows2hxQD"}',
	 @tipo varchar(32) = 'OrdenLocal';

exec AC_pro_ConfirmLocalOrderCoordination @listaIdEncabezado, @tipo;
  
*/



