/*
VERSION		MODIFIEDBY				MODIFIEDDATE	HU				MODIFICATION
1			Cristhian Cuichan		2026-03-02		58767			Initial code, store procedure based on pro_ConfirmarOrdenLocal
*/

CREATE OR ALTER   PROCEDURE [dbo].[AC_pro_ConfirmLocalOrder](
	@listaIdOrdenLocal NVARCHAR(MAX),
	@listaIdPoDetalle NVARCHAR(MAX),
	@idUsuarioLog VARCHAR(16)
)
AS
BEGIN
	DECLARE
	@estadoPendiente UNIQUEIDENTIFIER,
	@estadoConfirmado UNIQUEIDENTIFIER,
	@numTablaTemporalDetallePo INT,
	@numOrdenesLocales INT,
	@numPoEncabezado INT,
	@mensajeError VARCHAR(MAX) = '',
	@houseOrdenLocal VARCHAR(16)='LOCAL',
	@estadoPending VARCHAR(16)='PENDING'

	CREATE TABLE #TablaTemporalIdOrdenLocal
	(
		IdOrdenLocal UNIQUEIDENTIFIER
	)
	CREATE TABLE #TablaTemporalPoDetalles
	(
		IdPoDetalle UNIQUEIDENTIFIER
	)
	CREATE TABLE #TablaTemporalOrdenLocal
	(
		IdOrdenLocal VARCHAR(128)
	)
	CREATE TABLE #TablaTempPoEncabezado 
	( 
		IdPo UNIQUEIDENTIFIER
	)
	CREATE TABLE #TablaTemporalOrdenLocalPoEncabezado
	(
		IdOrdenLocal VARCHAR(128),
		IdPOEncabezado UNIQUEIDENTIFIER,
		IdPODetalle UNIQUEIDENTIFIER
	)
	CREATE TABLE #TMP_IdGuiasHouse
	(
		IdOrdenLocal UNIQUEIDENTIFIER,
		IdGuia UNIQUEIDENTIFIER
	)
	CREATE TABLE #TMP_IdCiudadEmpresa
	(
		IdOrdenLocal UNIQUEIDENTIFIER,
		idCiudad VARCHAR(16),
		idEmpresa VARCHAR(16)
	);
	CREATE TABLE #TMP_IdAgenciaOrigen
	(
		IdOrdenLocal UNIQUEIDENTIFIER,
		idAgenciaOrigen VARCHAR(16)
	);
	BEGIN TRY
		BEGIN

			SELECT @estadoPendiente = MAX(CASE WHEN identificador = 'REQUERIDA' THEN id END),
					@estadoConfirmado = MAX(CASE WHEN identificador = 'CONFIRMADA' THEN id END)
			FROM Catalogos WITH (NOLOCK)
			WHERE codigo = 'EstadosPOs';

			-- Inserción de IdOrdenLocal
			INSERT INTO #TablaTemporalIdOrdenLocal
			SELECT IdOrdenLocal
			FROM OPENJSON(@listaIdOrdenLocal)
			WITH (IdOrdenLocal UNIQUEIDENTIFIER '$.IdOrdenLocal');

			-- Inserción de IdPoDetalle
			INSERT INTO #TablaTemporalPoDetalles
			SELECT IdPoDetalle
			FROM OPENJSON(@listaIdPoDetalle)
			WITH (IdPoDetalle UNIQUEIDENTIFIER '$.IdPoDetalle');

			INSERT INTO #TablaTempPoEncabezado
			SELECT pod.idPo
			FROM #TablaTemporalPoDetalles ttpod
			INNER JOIN PoDetalles pod WITH(NOLOCK) ON ttpod.IdPoDetalle = pod.id;

			SELECT @numOrdenesLocales = COUNT(1) 
			FROM #TablaTemporalIdOrdenLocal;
		
			SELECT @numPoEncabezado = COUNT(1) 
			FROM #TablaTemporalPoDetalles;

			BEGIN TRANSACTION
				IF @numOrdenesLocales > 0
					BEGIN
						INSERT INTO #TablaTemporalOrdenLocalPoEncabezado
						SELECT DISTINCT
						CAST(OL.id AS VARCHAR(128)),
						POE.id,
						POD.id
						FROM #TablaTemporalIdOrdenLocal TTO
						INNER JOIN OrdenesLocales OL WITH(NOLOCK) ON OL.id=TTO.IdOrdenLocal
						INNER JOIN PoEncabezado POE WITH(NOLOCK) ON OL.id=POE.idOrdenLocal
						INNER JOIN PoDetalles POD WITH(NOLOCK) ON POE.id=POD.idPo 
						WHERE POD.idCatalogoStatus=@estadoPendiente
					END
				ELSE IF @numPoEncabezado > 0
					BEGIN
						INSERT INTO #TablaTemporalOrdenLocalPoEncabezado
						SELECT DISTINCT
						CAST(OL.id AS VARCHAR(128)),
						POE.id,
						POD.id
						FROM PoDetalles POD WITH(NOLOCK)
						INNER JOIN PoEncabezado POE WITH(NOLOCK) ON POE.id=POD.idPo
						INNER JOIN #TablaTempPoEncabezado TTE ON TTE.IdPo = POE.id
						INNER JOIN OrdenesLocales OL WITH(NOLOCK) ON OL.id=POE.idOrdenLocal
						WHERE POD.idCatalogoStatus = @estadoPendiente
					END

				INSERT #TablaTemporalOrdenLocal
				SELECT DISTINCT temp.IdOrdenLocal
				FROM #TablaTemporalOrdenLocalPoEncabezado temp

				SELECT @numTablaTemporalDetallePo = COUNT(1) 
				FROM #TablaTemporalOrdenLocal;

				IF @numTablaTemporalDetallePo > 0
					BEGIN
						INSERT INTO #TMP_IdGuiasHouse( IdOrdenLocal, IdGuia) 
						SELECT TTO.IdOrdenLocal, 
								GH.id
						FROM #TablaTemporalOrdenLocal TTO
						INNER JOIN GuiasHouse GH WITH(NOLOCK) ON GH.idGuia = TTO.IdOrdenLocal
						WHERE GH.house=@houseOrdenLocal;

					DECLARE @fechaActual DATETIME = GETDATE();

					IF NOT EXISTS(SELECT 1 FROM #TMP_IdGuiasHouse)
						BEGIN
							INSERT INTO #TMP_IdCiudadEmpresa(IdOrdenLocal, idCiudad, idEmpresa) 
							SELECT TTO.IdOrdenLocal ,
									P.idCiudad,
									OL.idEmpresa
							FROM #TablaTemporalOrdenLocal TTO 
							INNER JOIN OrdenesLocales OL WITH(NOLOCK) ON OL.id = TTO.IdOrdenLocal
							INNER JOIN Empresas	E WITH(NOLOCK) ON E.id = OL.idEmpresa
							INNER JOIN Puertos P WITH(NOLOCK) ON P.codigo = E.codigoEmpresa
							
							INSERT INTO  #TMP_IdAgenciaOrigen(IdOrdenLocal, idAgenciaOrigen) 
							SELECT ttce.IdOrdenLocal ,cli.id
							FROM Clientes cli WITH (NOLOCK) 
							INNER JOIN DetalleEntidades detalle WITH (NOLOCK) ON cli.id=detalle.IdEntidad
							INNER JOIN Catalogos cat WITH (NOLOCK) ON detalle.idCatalogo =cat.id
							INNER JOIN Ciudades ciud WITH (NOLOCK) ON cli.idCiudad=ciud.id
							INNER JOIN Empresas emp WITH (NOLOCK) ON cli.codigoExterno=emp.id
							INNER JOIN #TMP_IdCiudadEmpresa ttce ON ciud.id = ttce.idCiudad
							WHERE cat.identificador='AGENCIACARGA' 
								AND cat.codigo='TipoEntidadB'
							
						-------------INSERTA GUIA MADRE(house y exportador null)
							BEGIN TRY							
								INSERT INTO GuiasHouse(id, idGuia,nroGuia,estadoGuia,fechaOrigen, fechaDestino, idCliente, idAgenciaOrigen, idCiudadPuertoOrigen, idEmpresa, idBodega,idUsuarioLog,fechaCreacion, fechaCambio,[manual], idCiudadPuertoDestino, directa, idTraficoEncabezado,numeroVueloDestino,pesoCargable,ConsigneeId,BilltoConsigneeId)
								SELECT DISTINCT
									NEWID(),
									OL.id,
									OL.nroOrden,
									@estadoPending,
									@fechaActual,
									@fechaActual,
									OL.idCliente,
									TTA.idAgenciaOrigen,
									P.idCiudad,
									OL.idEmpresa,
									OL.idBodega,
									@idUsuarioLog,
									@fechaActual,
									@fechaActual,
									0 [manual],
									P.idCiudad,
									0 directa,
									NULL idTraficoEncabezado,
									NULL numeroVueloDestino,
									0 pesoCargable,
									OL.ConsigneeId,
									OL.BillToConsigneeId
								FROM OrdenesLocales OL WITH(NOLOCK)
								INNER JOIN #TMP_IdAgenciaOrigen TTA ON OL.id = TTA.IdOrdenLocal
								INNER JOIN PoEncabezado POE WITH(NOLOCK) ON OL.id = POE.idOrdenLocal
								INNER JOIN Puertos P WITH(NOLOCK) ON POE.idPuertoDestino=P.id							
							END TRY
							BEGIN CATCH 
								SELECT @mensajeError = 'Error al insertar GuiaHouse MADRE: ' + ERROR_MESSAGE();
								GOTO FAILURE;
							END CATCH

							----------INSERTA HOUSE
							BEGIN TRY
								INSERT INTO #TMP_IdGuiasHouse(IdOrdenLocal, IdGuia)
								SELECT TTOL.IdOrdenLocal, NEWID()
								FROM #TablaTemporalOrdenLocal TTOL
							
								INSERT into GuiasHouse (id, idGuia,nroGuia,estadoGuia, house, idExportador,fechaOrigen, fechaDestino, idCliente, idAgenciaOrigen, idCiudadPuertoOrigen, idEmpresa,idBodega,idUsuarioLog,fechaCreacion, fechaCambio,[manual], idCiudadPuertoDestino, directa,idTraficoEncabezado,numeroVueloDestino,pesoCargable,ConsigneeId,BilltoConsigneeId)
								SELECT DISTINCT
								ttGH.IdGuia,
								OL.id,
								OL.nroOrden,
								@estadoPending,
								@houseOrdenLocal,
								OL.idExportador,
								@fechaActual,
								@fechaActual,
								OL.idCliente,
								TTA.idAgenciaOrigen,
								P.idCiudad,
								OL.idEmpresa,
								OL.idBodega,
								@idUsuarioLog,
								@fechaActual,
								@fechaActual,
								0 [manual],
								P.idCiudad,
								0 directa,
								NULL idTraficoEncabezado,
								NULL numeroVueloDestino,
								0 pesoCargable,
								OL.ConsigneeId,
								OL.BillToConsigneeId
								FROM OrdenesLocales OL WITH (NOLOCK)
								INNER JOIN #TMP_IdAgenciaOrigen TTA ON OL.id = TTA.IdOrdenLocal
								INNER JOIN #TMP_IdGuiasHouse ttgh ON TTA.IdOrdenLocal = ttGH.IdOrdenLocal
								INNER JOIN PoEncabezado POE WITH (NOLOCK) ON OL.id = POE.idOrdenLocal
								INNER JOIN Puertos P WITH (NOLOCK) ON POE.idPuertoDestino=P.id							
							END TRY
							BEGIN CATCH 
								SELECT @mensajeError = 'Error al insertar HOUSE: ' + ERROR_MESSAGE();
								GOTO FAILURE;
							END CATCH
						END

					--------------INSERTA PIEZAS EN GUIAHOUSEDETALLE
					BEGIN TRY
							INSERT INTO GuiasHouseDetalles(id,idGuiaHouse,codigoBarra,idClienteConsignee,idDetalleMercancia,idTipoDePieza,productoDescripcion,largoCm,anchoCm,altoCm,largoIn,anchoIn,altoIn,totalTallos, precioTallo,peso,po,recepcionEscaner,estadoPieza, inventarioVentas,[status],idUsuarioLog,fechaCreacion,fechaCambio,checkError,scanDespacho,impresion,noPermitirVenta,idClienteFinal,idPoDetalle,BilltoConsigneeId,ShipToId)
							SELECT DISTINCT
								NEWID(),
								TTG.IdGuia,
								POD.codigoBarra,
								ISNULL(POE.idCliente,'CLI9999'),
								POD.idDetalleMercancia,
								POD.idTipoPieza,
								POD.descripcion,
								POD.largoCm,
								POD.anchoCm,
								POD.altoCm,
								POD.largoIn,
								POD.anchoIn,
								POD.altoIn,
								POD.unidadesPorPieza,--totaltallos
								POD.precioTallo,
								(POD.largoCm * POD.anchoCm * POD.altoCm) / 6000 AS peso,
								POE.nroPo,
								0 po,--recepcionescaner
								@estadoPending,
								0 inventarioVentas,
								@estadoPending,
								@idUsuarioLog,
								@fechaActual,
								@fechaActual,
								0 checkError,
								0 scanDespacho,
								0 impresion,
								0 noPermitirVenta,
								POD.idClienteFinal,
								POD.id,
								ER.Id,
								POD.ShipToId
							FROM OrdenesLocales OL WITH(NOLOCK)
							INNER JOIN #TMP_IdGuiasHouse TTG ON  OL.id = TTG.IdOrdenLocal
							INNER JOIN PoEncabezado POE WITH(NOLOCK) ON OL.id = POE.idOrdenLocal
							INNER JOIN PoDetalles POD WITH(NOLOCK) ON POE.id = POD.idPo AND POD.idCatalogoStatus=@estadoPendiente
							INNER JOIN EntityRelations ER WITH(NOLOCK) ON POD.ShipToId = ER.ChildEntityTypeId
					END TRY
					BEGIN CATCH 
						SELECT @mensajeError = 'Error al insertar GuiasHouseDetalles: ' + ERROR_MESSAGE();
						GOTO FAILURE;
					END CATCH

					--------------ACTUALIZA EL ESTADO PODETALLE
					BEGIN TRY					
						UPDATE pod
						SET pod.idCatalogoStatus=@estadoConfirmado,
							pod.fechaCambio=GETDATE(),
							pod.idUsuarioLog = @idUsuarioLog 
						FROM OrdenesLocales OL WITH(NOLOCK)
							INNER JOIN #TMP_IdGuiasHouse tempOrden ON OL.id = tempOrden.idOrdenLocal
							INNER JOIN PoEncabezado POE WITH(NOLOCK) ON OL.id = POE.idOrdenLocal
							INNER JOIN PoDetalles POD WITH(NOLOCK) ON POE.id = POD.idPo AND pod.idCatalogoStatus=@estadoPendiente;
					END TRY
					BEGIN CATCH 
						SELECT @mensajeError = 'Error al actualizar PODetalle: ' + ERROR_MESSAGE();
						GOTO FAILURE;
					END CATCH
				END

			GOTO SUCCESS;
			FAILURE:
				ROLLBACK
				SELECT @mensajeError
				RETURN 0;
			SUCCESS:
				COMMIT TRANSACTION
				SELECT 
					GH.id,
					GH.idGuia,
					GH.nroGuia,
					GH.estadoGuia,
					GH.house,
					GH.idExportador,
					GH.fechaOrigen,
					GH.fechaDestino,
					GH.idCliente,
					GH.idAgenciaOrigen,
					GH.idCiudadPuertoOrigen,
					GH.idEmpresa,
					GH.idBodega,
					GH.nombreBodega,
					GH.notaInternoGuia,
					GH.notaExternoGuia,
					GH.notaHouse,
					GH.pcsPending,
					GH.pcsReceivedDr,
					GH.pcsHold,
					GH.pcsShort,
					GH.pcsLost,
					GH.pcsReceivedWh,
					GH.pcsDispatchedWh,
					GH.pcsStandby,
					GH.pesoVolumenHouse,
					GH.totalPcsHouse,
					GH.totalFullHouse,
					GH.totalPcsCarrier,
					GH.notificacion,
					GH.[status],
					GH.nota,
					GH.idUsuarioLog,
					GH.fechaCreacion,
					GH.fechaCambio,
					GH.versionFila,
					GH.[manual],
					GH.idCiudadPuertoDestino,
					GH.idBroker,
					GH.idTransporteOrigen,
					GH.idDae,
					GH.directa,
					GH.idModoTransporte,
					GH.idTraficoEncabezado,
					GH.numeroVueloDestino,
					GH.pesoCargable,
					GH.creadoPorCliente,
					GH.idTraficoEmbarque,
					GH.ConsigneeId,
					GH.BilltoConsigneeId
				FROM #TablaTemporalOrdenLocal TTO 
				INNER JOIN GuiasHouse GH WITH(NOLOCK) ON GH.idGuia=TTO.IdOrdenLocal
				WHERE GH.house=@houseOrdenLocal
				
				DROP TABLE #TablaTemporalIdOrdenLocal
				DROP TABLE #TablaTemporalPoDetalles
				DROP TABLE #TablaTemporalOrdenLocal
				DROP TABLE #TablaTempPoEncabezado
				DROP TABLE #TablaTemporalOrdenLocalPoEncabezado
				DROP TABLE #TMP_IdGuiasHouse
				DROP TABLE #TMP_IdCiudadEmpresa
				DROP TABLE #TMP_IdAgenciaOrigen
		END
	END TRY
	BEGIN CATCH
		EXEC [dbo].[pro_LogError]
	END CATCH
END
/*

EXEC AC_pro_ConfirmLocalOrder @listaIdOrdenLocal='[{"IdOrdenLocal":"2bbe6734-6a34-4bd5-a13f-15a85ac7eb59"}]', @listaIdPoDetalle=NULL, @idUsuarioLog='bmSF1rgz'
EXEC AC_pro_ConfirmLocalOrder @listaIdOrdenLocal='[{"IdOrdenLocal":"871c8eee-10d9-4c62-98da-44320fe259eb"}]', @listaIdPoDetalle=NULL, @idUsuarioLog='bmSF1rgz'
*/
