/*
VERSION		MODIFIEDBY			MODIFIEDDATE	  HU			 MODIFICATION
1			Fernando Ordoñez	2025-03-12		  41341			 Crea SP para ver discrepancias de cycle count, 30s timeout
2			Edwin Casa			2025-04-24		  48017			 se modifica el sp para remover la regla de esDiscrepane = 1 por una validaciond e si el cliente a escaneado todas sus piezas, 90s timeout
3			Edwin Casa			2025-04-30		  48017			 Se agrega condicion al where para discriminar piezas de inventario
4			Marlon Pizarro		2025-06-10		  53131			 The logic for retrieving the client ship-to was updated, and the calculation of isInventory or not was implemented.
5			Marlon Pizarro		2025-06-18		  BUG-53886		 The logic for retrieving the client consignee was updated.
6			Jonathan Merino     2026-02-02	      WMS 59486		 Change in discrepancy logic to include parts that are not in Alliance Cloud
7			Jonathan Merino     2026-03-11	      WMS 57728		 Change in Clients logic to Entities logic
*/

CREATE OR ALTER PROCEDURE [dbo].[AC_pro_GetCycleCountDiscrepancies]
	@idCompany		VARCHAR(16),
	@countNumber	INT = NULL,
	@idBillTo		VARCHAR(16) = NULL,
	@idConsignee    VARCHAR(16) NULL,
	@isPending		BIT,
	@billTo			VARCHAR(512) = NULL,
	@consignee		VARCHAR(512) NULL,
	@dateFrom		DATETIME,
	@dateTo			DATETIME
AS

BEGIN
	SET NOCOUNT ON; -- Mejora el rendimiento al no devolver mensajes de filas afectadas

	DECLARE @ValorInventario VARCHAR(16) = 'INVENTARIO',
	        @CodigoTipoServicio VARCHAR(16) = 'TipoServicio';

	-- Tablas temporales con índices primarios para mejorar JOINs
	CREATE TABLE #Status (id INT PRIMARY KEY);
	CREATE TABLE #Client (id VARCHAR(16), clientType INT, INDEX ix_client (id, clientType));
	
	CREATE TABLE #DiscrepanciesTemp (
		id UNIQUEIDENTIFIER DEFAULT NEWID(),
		CycleCountNumber INT,
		CycleCountDate DATETIME,
		IdBillTo VARCHAR(16),
		BillTo VARCHAR(1024),
		IdConsignee VARCHAR(16),
		Consignee VARCHAR(1024),
		IdUbicacionBodega UNIQUEIDENTIFIER,		
		[User] VARCHAR(128),
		ModifiedDate DATETIME,
		IsInventory BIT,
		Theoric INT,
		Physical INT,
		Area VARCHAR(128),
		CodeDiscrepancy VARCHAR(64),
		AreaCode VARCHAR(128),
		isDiscrepancy BIT
	);

	-- 1. Lógica de Estados
	INSERT INTO #Status (id)
	SELECT IdNew FROM Catalogos 
	WHERE codigo = 'EstadosCycleCount'
	AND (
		(@IsPending = 1 AND identificador NOT IN ('Finished', 'Deleted')) OR
		(@IsPending = 0 AND identificador = 'Finished')
	);

	-- 2.Filtros #Client
	-- Filtro BillTo
	IF (@idBillTo IS NOT NULL)
		--INSERT INTO #Client (id, clientType) VALUES (@idBillTo, 1);
		INSERT INTO #Client (id, 
							 clientType)
		SELECT DISTINCT BilltoConsigneeId,
			   1
		FROM f_SearchEntities(@idBillTo, 'IdBillTo') f
		JOIN GuiasHouse GH ON f.Id = GH.BilltoConsigneeId;

	ELSE IF (@billTo IS NOT NULL)

		INSERT INTO #Client (id, 
							 clientType)
		SELECT DISTINCT BilltoConsigneeId,
			   1
		FROM f_SearchEntities(@billTo, 'BillTo') f
		JOIN GuiasHouse GH ON f.Id = GH.BilltoConsigneeId;

	-- Filtro Consignee
	IF (@idConsignee IS NOT NULL)
		INSERT INTO #Client (id, clientType) VALUES (@idConsignee, 2);
	ELSE IF (@consignee IS NOT NULL)
		
		INSERT INTO #Client (id, 
							 clientType)
		SELECT DISTINCT GH.ConsigneeId,
			   2
		FROM f_SearchEntities(@billTo, 'Consignee') f
		JOIN GuiasHouse GH ON f.Id = GH.ConsigneeId;

	-- Flags para saber si existen filtros
	DECLARE @hasBillToFilter BIT = CASE WHEN EXISTS(SELECT 1 FROM #Client WHERE clientType = 1) THEN 1 ELSE 0 END;
	DECLARE @hasConsigneeFilter BIT = CASE WHEN EXISTS(SELECT 1 FROM #Client WHERE clientType = 2) THEN 1 ELSE 0 END;

	-- 3. Inserción Principal
	INSERT INTO #DiscrepanciesTemp (
		CycleCountNumber, CycleCountDate, IdBillTo, BillTo, IdConsignee, Consignee,
		IdUbicacionBodega, [User], ModifiedDate, IsInventory, Theoric, Physical, 
		Area, CodeDiscrepancy, AreaCode, isDiscrepancy
	)
	SELECT 
		CC.CycleCountNumber,
		CC.CycleCountDate,
		GH.BilltoConsigneeId,
		CLB.BillToName,
		GHD.ConsigneeId,
		CLC.nombre,
		UB.id,
		US.nombre,
		MAX(LCCD.ModifiedDate),
		ISNULL(IC.InventoryCalculated, 0),
		COUNT(CCD.id),
		SUM(CAST(CCD.scanned AS INT)),
		UB.nombre, CCD.CodeDiscrepancy,
		CASE 
			WHEN UB.nombre LIKE 'Receiving%' THEN 'AAA' 
			WHEN UB.nombre LIKE 'Inventory%' THEN 'AAB' 
			WHEN UB.nombre LIKE 'Dispatch%' THEN 'AAC' 
			WHEN UB.nombre LIKE 'Dock%'      THEN 'AAD' 
			WHEN UB.nombre IS NULL           THEN 'ZZZ' 
			ELSE UB.nombre 
		END,
		MAX(CAST(CCD.isDiscrepancy AS INT))
	FROM CycleCounts CC
		INNER JOIN CycleCountDetails CCD ON CC.id = CCD.idCycleCount
		INNER JOIN GuiasHouseDetalles GHD WITH (NOLOCK) ON CCD.idItem = GHD.id
		INNER JOIN GuiasHouse GH WITH (NOLOCK) ON GHD.idGuiaHouse = GH.id		
		INNER JOIN v_ClientsEntities CLB ON GH.BilltoConsigneeId = CLB.id
		INNER JOIN v_ClientsEntities CLC ON GHD.ConsigneeId = CLC.ConsigneeId
		LEFT JOIN UbicacionPiezas UP WITH (NOLOCK) ON CCD.idItem = UP.idGuiaHouseDetalle
		LEFT JOIN Ubicaciones U ON UP.idUbicacion = U.id
		LEFT JOIN UbicacionesBodega UB ON U.idUbicacionBodega = UB.id
		OUTER APPLY (
			SELECT TOP 1 IIF(PC.valor = @ValorInventario, 1, 0) AS InventoryCalculated
			FROM ParametrosCatalogos PC
			JOIN ParametrosLista PL ON PL.ID = PC.idParametroLista
			WHERE PC.idEntidad = GHD.idClienteFinal AND PL.codigo = @CodigoTipoServicio AND PL.idEmpresa = @idCompany
		) IC
		OUTER APPLY (
			SELECT TOP 1 CCDL.modifiedBy, CCDL.ModifiedDate
			FROM CycleCountDetails CCDL
			WHERE CCDL.idCycleCount = CCD.idCycleCount AND CCDL.codeDiscrepancy = CCD.codeDiscrepancy  
			ORDER BY CCDL.ModifiedDate DESC
		) LCCD
		LEFT JOIN Usuarios US ON LCCD.modifiedBy = US.id
	WHERE
		CC.idcompany = @idCompany
		AND CC.cycleCountDate BETWEEN @dateFrom AND @dateTo
		AND CC.cycleCountNumber = ISNULL(@countNumber, CC.cycleCountNumber)
		AND CC.idStatus IN (SELECT id FROM #Status)		
		AND (@hasBillToFilter = 0 OR GH.BilltoConsigneeId IN (SELECT id FROM #Client WHERE clientType = 1))
		AND (@hasConsigneeFilter = 0 OR GHD.ConsigneeId IN (SELECT id FROM #Client WHERE clientType = 2))
	GROUP BY 
		CC.CycleCountNumber,
		CC.CycleCountDate,
		CLB.BillToName,
		CLC.nombre,
		US.nombre,
		IC.InventoryCalculated,
		UB.nombre,
		GH.BilltoConsigneeId,
		GHD.ConsigneeId,
		UB.id,
		CCD.CodeDiscrepancy;

	-- 4. Errores (Ajustado para respetar el filtro de BillTo si existe)
	INSERT INTO #DiscrepanciesTemp (
		CycleCountNumber, CycleCountDate, IdBillTo, IdUbicacionBodega, [User], 
		ModifiedDate, IsInventory, Theoric, Physical, Area, CodeDiscrepancy, AreaCode, isDiscrepancy
	)
	SELECT 
		CC.CycleCountNumber,
		CC.CycleCountDate,
		@idBillTo,
		UB.id,
		US.nombre, 
		MAX(CCDE.modifiedDate),
		0,
		0,
		COUNT(CCDE.id),
		UB.nombre,
		CCDE.codeDiscrepancy,
		CASE 
			WHEN UB.nombre LIKE 'Receiving%' THEN 'AAA' WHEN UB.nombre LIKE 'Inventory%' THEN 'AAB'
			WHEN UB.nombre LIKE 'Dispatch%' THEN 'AAC' WHEN UB.nombre LIKE 'Dock%' THEN 'AAD'
			ELSE ISNULL(UB.nombre, 'ZZZ') 
		END,
		1
	FROM CycleCountDetailsErrors CCDE WITH (NOLOCK)
		INNER JOIN CycleCounts CC ON CCDE.idCycleCount = CC.id
		LEFT JOIN Ubicaciones U ON CCDE.idLocation = U.id
		LEFT JOIN UbicacionesBodega UB ON U.idUbicacionBodega = UB.id
		LEFT JOIN Usuarios US ON CCDE.createdBy = US.id
	WHERE
		CC.idcompany = @idCompany
		AND CC.cycleCountDate BETWEEN @dateFrom AND @dateTo
		AND CC.cycleCountNumber = ISNULL(@countNumber, CC.cycleCountNumber)
		AND CC.idStatus IN (SELECT id FROM #Status)
		AND (@hasBillToFilter = 0 OR @idBillTo IS NOT NULL) -- Solo inserta si no hay filtro de cliente o si se filtró por un BillTo específico
	GROUP BY CC.CycleCountNumber, CC.CycleCountDate, US.nombre, UB.nombre, UB.id, CCDE.codeDiscrepancy;

	-- 5. Resultado Final con lógica de visualización
	SELECT 
		T.id,
		T.CycleCountNumber,
		T.CycleCountDate,
		T.IdBillTo,
		T.BillTo,
		T.IdConsignee,
		T.Consignee,
		T.IdUbicacionBodega,
		T.[User],
		T.ModifiedDate,
		T.IsInventory,
		T.Theoric,
		T.Physical,
		T.Area,
		T.CodeDiscrepancy,
		T.AreaCode
	FROM #DiscrepanciesTemp T
	WHERE EXISTS (
		SELECT 1
		FROM #DiscrepanciesTemp DT
		WHERE ISNULL(DT.IdBillTo, 'null') = ISNULL(T.IdBillTo, 'null')
		  AND DT.CycleCountNumber = T.CycleCountNumber
		  AND DT.IdUbicacionBodega = T.IdUbicacionBodega
		  AND DT.CodeDiscrepancy = T.CodeDiscrepancy
		  AND DT.IsInventory = T.IsInventory
		HAVING CASE
				WHEN T.CodeDiscrepancy = 'msgPiecesNotFound' AND SUM(DT.Theoric) = SUM(DT.Physical) THEN 0
				ELSE 1
			   END = 1
	);

END

/*

exec [dbo].[pro_GetCycleCountDiscrepancies] @idCompany=N'EMP014',@countNumber=NULL,@idBillTo=NULL,
@isPending=1,@customer=NULL,@dateFrom='20250517',@dateTo='20250616'

exec [dbo].[pro_GetCycleCountDiscrepancies] @idCompany=N'EMP014',@countNumber=NULL,@idBillTo='CLI0114374',
@isPending=1,@customer=NULL,@dateFrom='20250316',@dateTo='20250425'

exec [dbo].[pro_GetCycleCountDiscrepancies] @idCompany=N'EMP014',@countNumber=NULL,@idBillTo='CLI013974',
@isPending=1,@customer=NULL,@dateFrom='20250316',@dateTo='20250425'

exec [dbo].[pro_GetCycleCountDiscrepancies] @idCompany=N'EMP014',@countNumber=NULL,@idBillTo='CLI015494',
@isPending=1,@customer=NULL,@dateFrom='20250316',@dateTo='20250425'

exec [dbo].[pro_GetCycleCountDiscrepancies] @idCompany=N'EMP014',@countNumber=NULL,@idBillTo=null,
@isPending=1,@customer=NULL,@dateFrom='20250316',@dateTo='20250425'

exec [dbo].[pro_GetCycleCountDiscrepancies] @idCompany=N'EMP014',@countNumber=NULL,@idBillTo=NULL,@isPending=1,
@customer=N'gala',@dateFrom='20250216',@dateTo='20250320'

*/
