/*    
VERSION       MODIFIEDBY             MODIFIEDDATE     HU             MODIFICATION
1			  Jonathan Merino        2026-03-11	      WMS 57728		 Initial code - Stored procedure based on pro_GetListOFCycleCounts
*/
CREATE OR ALTER   PROCEDURE [dbo].[AC_pro_GetListOfCycleCounts]
(
	@idCompany VARCHAR(16),
	@isPending BIT,
	@isFiltering BIT,
	@countNumber INT NULL,
	@dateTo DATETIME,
	@dateFrom DATETIME,
	@billTo VARCHAR(256) NULL,
	@idBillTo VARCHAR(16) NULL,
	@idConsignee VARCHAR(16) NULL,
	@consignee VARCHAR(256) NULL
)
AS
BEGIN
	
	CREATE TABLE #Customers(
		id [VARCHAR](16),
		clientType int
	)
	CREATE TABLE #Status(
		id [INT]
	)
	CREATE TABLE #CycleCountTemp (
		id [UNIQUEIDENTIFIER],
		countNumber [INT],
		idStatus [INT],
		cycleCountDate [DATETIME],
		requestedBy [VARCHAR](128),
		quantityTheoric [INT],
		idCycleCountReason [INT],
		idCycleCountType [INT],
		idWarehouse [VARCHAR](16),
		warehouseName [VARCHAR](1024),
		StatusEs [VARCHAR](64),
		StatusEng [VARCHAR](64),
		statusOrder [INT],
		typeEs [VARCHAR](64),
		typeEng [VARCHAR](64),
		reasonEs [VARCHAR](64),
		reasonEng [VARCHAR](64),
		createdBy [VARCHAR](512),
		modifiedBy [VARCHAR](512),
		createdDate [DATETIME],
		modifiedDate [DATETIME],
		observation [VARCHAR](256)
	);
	CREATE TABLE #PiecesGrouped(
		id [UNIQUEIDENTIFIER],
		total [INT],
		QuantityPhysical [INT],
		discrepancies [BIT]
	)
	
	IF @isPending = 1
	BEGIN
		INSERT INTO #Status
		SELECT IdNew
		FROM Catalogos 
		WHERE codigo = 'EstadosCycleCount'
		AND identificador NOT IN( 'Finished', 'Deleted')
	END
	ELSE
	BEGIN
		INSERT INTO #Status
		SELECT IdNew
		FROM Catalogos 
		WHERE codigo = 'EstadosCycleCount'
		AND identificador = 'Finished'
		
	END
	INSERT INTO #CycleCountTemp
	SELECT
		CC.id,
		CC.cycleCountNumber AS countNumber,
		CC.idStatus,
		CC.cycleCountDate,
		CC.requestedBy AS requester,
		CC.quantity AS  quantitytheoric,
		CC.idCycleCountReason,
		CC.idCycleCountType,
		CC.idWarehouse,
		B.nombre AS warehouseName,
		C.nombre AS StatusEs,
		C.nombreIngles AS StatusEng,
		C.orden AS orderStatus,
		CT.nombre AS typeEs,
		CT.nombreIngles AS typeEng,
		CR.nombre AS reasonEs,
		CR.nombreIngles AS reasonEng,
		E.nombres +' '+ E.apellidos AS createdBy,
		EM.nombres +' '+ EM.apellidos AS modifiedBy,
		CC.createdDate,
		CC.modifiedDate,
		CC.observation
	FROM CycleCounts CC
		INNER JOIN Bodegas B ON B.id =  cc.idWarehouse
		INNER JOIN Catalogos C ON C.IdNew = CC.idStatus
		INNER JOIN Catalogos CT ON CT.IdNew = CC.idCycleCountType
		INNER JOIN Catalogos CR ON CR.IdNew = CC.idCycleCountReason
		INNER JOIN Usuarios U ON U.id = cc.createdBy
		INNER JOIN Empleados E WITH (NOLOCK) ON U.idEntidad = E.id
		LEFT JOIN Usuarios UM ON UM.id = cc.modifiedBy
		LEFT JOIN Empleados EM WITH (NOLOCK) ON UM.idEntidad = EM.id
	WHERE CC.cycleCountDate BETWEEN @dateFrom AND @dateTo
	AND CC.cycleCountNumber = ISNULL(@countNumber, CC.cycleCountNumber)
	AND CC.idCompany =  @idCompany 
	AND  CC.idStatus IN ( SELECT id FROM #Status )

	IF @isFiltering = 1
	BEGIN

		IF @billTo IS NOT NULL
		BEGIN
			IF @idBillTo IS NOT NULL
			BEGIN				
				INSERT INTO #Customers (id, 
										clientType)
				SELECT DISTINCT GH.BilltoConsigneeId,
								1
				FROM f_SearchEntities(@idBillTo, 'IdBillTo') f
				JOIN GuiasHouse GH ON f.Id = GH.BilltoConsigneeId;
			END
			ELSE
			BEGIN				
				INSERT INTO #Customers (id, 
										clientType)
				SELECT DISTINCT GH.BillToConsigneeId,
								1
				FROM f_SearchEntities(@billTo, 'BillTo') f
				JOIN GuiasHouse GH ON f.Id = GH.BilltoConsigneeId;
			END
		END

		IF @consignee IS NOT NULL
		BEGIN
			IF @idConsignee IS NOT NULL
			BEGIN 
				INSERT INTO #Customers VALUES(@idConsignee, 1)
			END
			ELSE
			BEGIN 
				INSERT INTO #Customers (id, 
										clientType)
				SELECT DISTINCT GH.ConsigneeId,
								2
				FROM f_SearchEntities(@billTo, 'Consignee') f
				JOIN GuiasHouse GH ON f.Id = GH.ConsigneeId;
			END
		END

		
		INSERT INTO #PiecesGrouped
		SELECT 
			CCT.id,
			COUNT(1) AS total,
			SUM(CAST(CCD.scanned AS INT)) AS quantityPhisical,
			MAX(CAST(CCD.isDiscrepancy AS INT)) AS discrepancies
		FROM CycleCountDetails CCD WITH (NOLOCK)
		INNER JOIN #CycleCountTemp CCT ON CCT.id = CCD.idCycleCount
		INNER JOIN GuiasHouseDetalles GHD ON CCD.idItem = GHD.id
		INNER JOIN GuiasHouse GH ON GHD.idGuiaHouse = GH.id
		INNER JOIN #Customers CSB ON GH.BilltoConsigneeId = CSB.id AND CSB.clientType = 1
		INNER JOIN #Customers CSC ON GHD.ConsigneeId = CSB.id AND CSB.clientType = 2	
		GROUP BY CCT.id

		SELECT 
			CCT.id,
			CCT.countNumber,
			CCT.idStatus,
			CCT.cycleCountDate,
			CCT.requestedBy,
			ISNULL(CASE 
				WHEN @billTo IS NOT NULL 
				THEN PG.total
				ELSE CCT.quantityTheoric
			END,0) AS quantityTheoric,
			ISNULL(PG.QuantityPhysical,0) QuantityPhysical,
			ISNULL(CASE
				WHEN @billTo IS NOT NULL
				THEN PG.total-PG.QuantityPhysical
				ELSE CCT.quantityTheoric-PG.QuantityPhysical 
			END,0) AS [difference],
			CCT.idCycleCountReason,
			CCT.idCycleCountType,
			CCT.idWarehouse,
			CCT.warehouseName,
			CCT.StatusEs,
			CCT.StatusEng,
			CCT.statusOrder,
			CCT.typeEs,
			CCT.typeEng,
			CCT.reasonEs,
			CCT.reasonEng,
			CCT.createdBy,
			CCT.modifiedBy,
			CCT.createdDate,
			CCT.modifiedDate,
			CCT.observation,
			PG.discrepancies AS isDiscrepancy
		FROM #CycleCountTemp CCT
		INNER JOIN #PiecesGrouped PG ON PG.id = CCT.id;
	END
	ELSE
	BEGIN
		INSERT INTO #PiecesGrouped
		SELECT 
			CCT.id,
			COUNT(CCT.id) AS TOTAL,
			SUM(CAST(CCD.scanned AS INT)) AS quantityPhisical,
			MAX(CAST(CCD.isDiscrepancy AS INT)) AS discrepancies
		FROM CycleCountDetails CCD
			INNER JOIN #CycleCountTemp CCT ON CCT.id = CCD.idCycleCount
		GROUP BY CCT.id

		SELECT 
			CCT.id,
			CCT.countNumber,
			CCT.idStatus,
			CCT.cycleCountDate,
			CCT.requestedBy,
			ISNULL(CASE 
				WHEN @billTo IS NOT NULL 
				THEN PG.total
				ELSE CCT.quantityTheoric
			END,0) AS quantityTheoric,
			ISNULL(PG.QuantityPhysical,0) QuantityPhysical,
			ISNULL(CASE
				WHEN @billTo IS NOT NULL
				THEN PG.total-PG.QuantityPhysical
				ELSE CCT.quantityTheoric-PG.QuantityPhysical 
			END,0) AS [difference],
			CCT.idCycleCountReason,
			CCT.idCycleCountType,
			CCT.idWarehouse,
			CCT.warehouseName,
			CCT.StatusEs,
			CCT.StatusEng,
			CCT.statusOrder,
			CCT.typeEs,
			CCT.typeEng,
			CCT.reasonEs,
			CCT.reasonEng,
			CCT.createdBy,
			CCT.modifiedBy,
			CCT.createdDate,
			CCT.modifiedDate,
			CCT.observation,
			PG.discrepancies AS isDiscrepancy
		FROM #CycleCountTemp CCT
		LEFT JOIN #PiecesGrouped PG ON PG.id = CCT.id;
	END

END

/*
	EXEC @return_value = [dbo].[AC_pro_GetListOFCycleCounts]
	@idCompany = 'EMP014',
	@isPending = 1,
	@isFiltering = 0,
	@countNumber = NULL,
	@dateTo = '2026-18-03',
	@dateFrom = '2025-18-11',
	@billTo = NULL,
	@idBillTo = NULL,
	@idConsignee = NULL,
	@consignee = NULL

	EXEC @return_value = [dbo].[AC_pro_GetListOFCycleCounts]
	@idCompany = 'EMP014',
	@isPending = 1,
	@isFiltering = 0,
	@countNumber = NULL,
	@dateTo = '2026-18-03',
	@dateFrom = '2025-18-11',
	@billTo = Florisol,
	@idBillTo = NULL,
	@idConsignee = NULL,
	@consignee = NULL
*/