/*  
VERSION		MODIFIEDBY			MODIFIEDDATE		HU				MODIFICATION
1			Juan Yanza			2026-03-26			WMS 57731		Based on pro_Despacho_PickUpShipToCompleteDelivered
*/  

CREATE OR ALTER PROCEDURE [dbo].[AC_pro_GetCompletedDeliveredPickupShipTo]  
(  
    @FechaDesde                 DATE,  
    @FechaHasta                 DATE,  
    @NroDocumento               VARCHAR(32)  = NULL,  
    @Po                         VARCHAR(32)  = NULL,  
    @IdBillTo                   VARCHAR(16)  = NULL,
    @NombreBillTo               VARCHAR(512) = NULL,
    @IdConsignee                VARCHAR(16)  = NULL,  
    @NombreClienteConsignee     VARCHAR(512) = NULL,  
    @NroPOD                     VARCHAR(16)  = NULL,  
    @CodigoBarras               VARCHAR(32)  = NULL,  
    @NombreComercialExportador  VARCHAR(50)  = NULL,  
    @PalletLabel                VARCHAR(20)  = NULL,  
    @idEmpresa                  VARCHAR(16)  
)  
AS  
BEGIN  
    BEGIN TRY   
        DECLARE @idParametroDelivery VARCHAR(16);  
  
        CREATE TABLE #TablaAgrupacionGuiasHouse (  
            Id                    INT IDENTITY(1, 1) NOT NULL,  
            IdClienteFinal        VARCHAR(16),
            IdShipTo              VARCHAR(16),  
            nombreClienteFinal    VARCHAR(1024),    
            FechaPickUpProgramada DATETIME,  
            FechaPickUpEntrega    DATETIME,  
            TotalPending          INT,  
            TotalHold             INT,  
            TotalShort            INT,  
            TotalReceived         INT,  
            TotalStandBy          INT,  
            TotalDespachado       INT,  
            Total                 INT,  
            IdBodega              VARCHAR(16),  
            nombreBodega          VARCHAR(1024),    
            IdManifiesto          UNIQUEIDENTIFIER,  
            IdCarrier             VARCHAR(16),  
            NombreCarrier         VARCHAR(512),  
            EsPod                 BIT NOT NULL DEFAULT 0,   
            codigoCarrier         VARCHAR(32)  
        );  
         
        SELECT @idParametroDelivery = id
        FROM ParametrosLista parametroLista WITH(NOLOCK)   
        WHERE parametroLista.codigo = 'EsDelivery' 
            AND parametroLista.idEmpresa = @idEmpresa;  
  
        SELECT C.idEntidad, C.codigo  
        INTO #TMP_CodigosRelacionSistemas  
        FROM CodigosRelacionSistemas C WITH(NOLOCK)   
        WHERE C.tipoEntidad = 'CARRIER' 
            AND C.idSistemaEntidad = 100;  
    
        SELECT DISTINCT T.id, T.nombre  
        INTO #TMP_TRANS  
        FROM ParametrosLista PL   
        INNER JOIN ParametrosCatalogos PC WITH(NOLOCK) ON PC.idParametroLista = PL.id AND PC.valor = 'NO'  
        INNER JOIN Transportes T WITH(NOLOCK) ON T.idTransportePrincipal = PC.idEntidad  
        WHERE PL.codigo = 'EsDelivery' 
            AND PL.idEmpresa = @idEmpresa;  
  
        SELECT GHDH.idGuiaHouseDetalle, MAX(GHDH.fechaCambio) fechaCambio
        INTO #tmlGHH  
        FROM GuiasHouseDetallesHistorico GHDH WITH(NOLOCK)  
        WHERE GHDH.fechaCambio BETWEEN @FechaDesde AND @FechaHasta 
            AND GHDH.VALOR = 'DISPATCHED WH'  
        GROUP BY GHDH.idGuiaHouseDetalle;

		CREATE TABLE #TMP_Consignee		(id VARCHAR(16))
		CREATE TABLE #TMP_BillTo		(id VARCHAR(16))

		IF @IdConsignee IS NOT NULL
			INSERT INTO #TMP_Consignee VALUES (@IdConsignee)

		IF @NombreClienteConsignee IS NOT NULL
			INSERT INTO #TMP_Consignee 
				SELECT F.id FROM f_SearchEntities(@NombreClienteConsignee, 'Consignee') F

		IF @IdConsignee IS NULL AND @NombreClienteConsignee IS NULL
		BEGIN
			IF @IdBillTo IS NOT NULL
				INSERT INTO #TMP_BillTo 
					SELECT F.id FROM f_SearchEntities(@IdBillTo, 'IdBillTo') F

			IF @NombreBillTo IS NOT NULL
				INSERT INTO #TMP_BillTo 
					SELECT F.id FROM f_SearchEntities(@NombreBillTo, 'BillTo') F
		END
  
        IF (     
            @NroDocumento              IS NULL AND 
            @Po                        IS NULL AND 
            @IdBillTo                  IS NULL AND
            @NombreBillTo              IS NULL AND
            @IdConsignee               IS NULL AND
            @NombreClienteConsignee    IS NULL AND
            @NroPOD                    IS NULL AND 
            @CodigoBarras              IS NULL AND 
            @NombreComercialExportador IS NULL AND
            @PalletLabel               IS NULL
        )  
        BEGIN     
            SELECT 
                GHD.id,  
                GHD.idGuiaHouse,  
                VCE.id      AS IdClienteFinal,  
                GHD.ShipToId,  
                GHD.ConsigneeId,  
                A.fechaCambio,  
                GHD.estadoPieza,  
                PC.ID       AS idProgramacionCarrier,  
                PC.fechaDespacho,  
                T.id        AS idSubCarrier,  
                T.nombre    AS nombreSubCarrier     
            INTO #TMP_GHD_MASIVO  
            FROM #tmlGHH A   
            INNER JOIN GuiasHouseDetalles GHD WITH(NOLOCK) ON A.idGuiaHouseDetalle = GHD.id  
            INNER JOIN ProgramacionCarrier PC WITH(NOLOCK) ON PC.idGuiaHouseDetalle = GHD.id   
            INNER JOIN v_ClientsEntities VCE WITH(NOLOCK) ON GHD.ShipToId = VCE.id     
            INNER JOIN #TMP_TRANS T ON PC.idCarrier = T.id;
  
            INSERT INTO #TablaAgrupacionGuiasHouse  
            SELECT      
                VCE.id                                          AS IdClienteFinal,
                GHD.ShipToId                                    AS IdShipTo,
                ISNULL(VCE.nombre, VCE.BillToName)              AS NombreClienteFinal,  
                MAX(GHD.fechaDespacho)                          AS FechaPickUpProgramada,   
                MAX(GHD.fechaCambio)                            AS FechaPickUpEntrega, 
                SUM(IIF(GHD.estadoPieza = 'PENDING',       1, 0)) AS TotalPending,  
                SUM(IIF(GHD.estadoPieza = 'HOLD',          1, 0)) AS TotalHold,  
                SUM(IIF(GHD.estadoPieza = 'SHORT',         1, 0)) AS TotalShort,  
                SUM(IIF(GHD.estadoPieza = 'RECEIVED WH',   1, 0)) AS TotalReceived,  
                SUM(IIF(GHD.estadoPieza = 'STANDBY',       1, 0)) AS TotalStandBy,  
                SUM(IIF(GHD.estadoPieza = 'DISPATCHED WH', 1, 0)) AS TotalDespachado,  
                COUNT(1)                                        AS Total,     
                ISNULL(UB.idBodega, GH.idBodega)               AS idBodega,   
                ISNULL(BP.nombre, BG.nombre)                   AS nombreBodega,   
                MD.id                                          AS IdManifiesto,  
                GHD.idSubCarrier                               AS IdCarrier,  
                GHD.nombresubCarrier                           AS NombreCarrier,  
                CONVERT(BIT, 1)                                AS esPOD,  
                T1.codigo
            FROM #TMP_GHD_MASIVO GHD   
            INNER JOIN GuiasHouse GH WITH(NOLOCK) ON GHD.idGuiaHouse = GH.id  
            INNER JOIN v_ClientsEntities VCE WITH(NOLOCK) ON GHD.ShipToId = VCE.id     
            LEFT JOIN ProgramacionManifiesto PM WITH(NOLOCK) ON PM.idProgramacionCarrier = GHD.idProgramacionCarrier              
            LEFT JOIN ManifiestosDespacho MD WITH(NOLOCK) ON MD.id = PM.idManifiestoDespacho  
            OUTER APPLY (
                SELECT TOP 1 DD.EsPod
                FROM DocumentosDespacho DD WITH(NOLOCK)
                WHERE DD.idManifiesto = MD.id 
                    AND DD.idDocumento = 'DOC052395'
                ORDER BY EsPod DESC
            ) DCD
            LEFT JOIN PalletsDetalles pld WITH(NOLOCK) ON GHD.id = pld.idGuiasHouseDetalle  
            LEFT JOIN Pallets pal WITH(NOLOCK) ON pld.idPallet = pal.id  
            INNER JOIN #TMP_CodigosRelacionSistemas T1 WITH(NOLOCK) ON GHD.idSubCarrier = T1.idEntidad  
            LEFT JOIN UbicacionPiezas AS UP WITH(NOLOCK) ON GHD.id = UP.idGuiaHouseDetalle  
            LEFT JOIN Ubicaciones AS U WITH(NOLOCK) ON UP.idUbicacion = U.id  
            LEFT JOIN UbicacionesBodega AS UB WITH(NOLOCK) ON U.idUbicacionBodega = UB.id  
            LEFT JOIN Bodegas AS BG WITH(NOLOCK) ON GH.idBodega = BG.id  
            LEFT JOIN Bodegas AS BP WITH(NOLOCK) ON UB.idBodega = BP.id    
            WHERE GH.idEmpresa = @idEmpresa 
                AND DCD.EsPod = 1  
            GROUP BY   
                VCE.id,
                GHD.ShipToId,  
                ISNULL(VCE.nombre, VCE.BillToName),
                ISNULL(UB.idBodega, GH.idBodega),   
                ISNULL(BP.nombre, BG.nombre),   
                MD.id,  
                GHD.idSubCarrier,  
                GHD.nombresubCarrier,   
                T1.codigo  
            HAVING COUNT(1) = SUM(IIF(GHD.estadoPieza = 'DISPATCHED WH', 1, 0));
        END  
        ELSE  
        BEGIN  
            SELECT   
                GHD.id,  
                GHD.idGuiaHouse,  
                GHD.ShipToId,  
                GHD.ConsigneeId,  
                GHD.po,  
                GHD.codigoBarra,  
                VCE.id      AS IdClienteFinal,  
                A.fechaCambio,  
                GHD.estadoPieza,  
                PC.ID       AS idProgramacionCarrier,  
                PC.fechaDespacho,  
                T.id        AS idSubCarrier,  
                T.nombre    AS nombreSubCarrier  
            INTO #TMP_GHD_FILTROS  
            FROM #tmlGHH A   
            INNER JOIN GuiasHouseDetalles GHD WITH(NOLOCK) ON A.idGuiaHouseDetalle = GHD.id
            INNER JOIN ProgramacionCarrier PC WITH(NOLOCK) ON PC.idGuiaHouseDetalle = GHD.id   
            INNER JOIN v_ClientsEntities VCE WITH(NOLOCK) ON GHD.ShipToId = VCE.id     
            INNER JOIN #TMP_TRANS T ON PC.idCarrier = T.id;
  
            INSERT INTO #TablaAgrupacionGuiasHouse  
            SELECT      
                VCE.id                                                    AS IdClienteFinal,
                GHD.ShipToId                                              AS IdShipTo,     
                ISNULL(VCE.nombre, VCE.BillToName)                        AS NombreClienteFinal,  
                MAX(GHD.fechaDespacho)                                    AS FechaPickUpProgramada,  
                MAX(GHD.fechaCambio)                                      AS FechaPickUpEntrega,  
                SUM(IIF(GHD.estadoPieza = 'PENDING',       1, 0))         AS TotalPending,  
                SUM(IIF(GHD.estadoPieza = 'HOLD',          1, 0))         AS TotalHold,  
                SUM(IIF(GHD.estadoPieza = 'SHORT',         1, 0))         AS TotalShort,  
                SUM(IIF(GHD.estadoPieza = 'RECEIVED WH',   1, 0))         AS TotalReceived,  
                SUM(IIF(GHD.estadoPieza = 'STANDBY',       1, 0))         AS TotalStandBy,  
                SUM(IIF(GHD.estadoPieza = 'DISPATCHED WH', 1, 0))         AS TotalDespachado,  
                COUNT(1)                                                  AS Total,     
                ISNULL(ubicacionesBodega.idBodega, GH.idBodega)    AS idBodega,   
                ISNULL(bodegaPieza.nombre, bodegaGuia.nombre)             AS nombreBodega,   
                manifiestoDespacho.id                                     AS IdManifiesto,  
                GHD.idSubCarrier                                          AS IdCarrier,  
                GHD.nombresubCarrier                                      AS NombreCarrier,  
                CONVERT(BIT, 1)                                           AS esPOD,   
                T1.codigo    
            FROM #TMP_GHD_FILTROS GHD   
            INNER JOIN GuiasHouse GH WITH(NOLOCK) ON GHD.idGuiaHouse = GH.id  
            INNER JOIN v_ClientsEntities VCE WITH(NOLOCK) ON GHD.ShipToId = VCE.id     
            LEFT JOIN ProgramacionManifiesto programacionManifiesto WITH(NOLOCK) ON programacionManifiesto.idProgramacionCarrier = GHD.idProgramacionCarrier              
            LEFT JOIN ManifiestosDespacho manifiestoDespacho WITH(NOLOCK) ON manifiestoDespacho.id = programacionManifiesto.idManifiestoDespacho  
            OUTER APPLY (
                SELECT TOP 1 DD.EsPod
                FROM DocumentosDespacho DD WITH(NOLOCK)
                WHERE DD.idManifiesto = manifiestoDespacho.id 
                    AND DD.idDocumento = 'DOC052395'
                ORDER BY EsPod DESC
            ) dcd
            LEFT JOIN PalletsDetalles pld WITH(NOLOCK) ON GHD.id = pld.idGuiasHouseDetalle  
            LEFT JOIN Pallets pal WITH(NOLOCK) ON pld.idPallet = pal.id  
            INNER JOIN #TMP_CodigosRelacionSistemas T1 WITH(NOLOCK) ON GHD.idSubCarrier = T1.idEntidad  
            LEFT JOIN UbicacionPiezas AS ubicacionPiezas WITH(NOLOCK) ON GHD.id = ubicacionPiezas.idGuiaHouseDetalle  
            LEFT JOIN Ubicaciones AS ubicaciones WITH(NOLOCK) ON ubicacionPiezas.idUbicacion = ubicaciones.id  
            LEFT JOIN UbicacionesBodega AS ubicacionesBodega WITH(NOLOCK) ON ubicaciones.idUbicacionBodega = ubicacionesBodega.id  
            LEFT JOIN Bodegas AS bodegaGuia WITH(NOLOCK) ON GH.idBodega = bodegaGuia.id  
            LEFT JOIN Bodegas AS bodegaPieza WITH(NOLOCK) ON ubicacionesBodega.idBodega = bodegaPieza.id 
            WHERE GH.idEmpresa = @idEmpresa 
                AND dcd.EsPod = 1  
                AND (@NroDocumento IS NULL OR GH.nroGuia LIKE '%' + @NroDocumento + '%')  
                AND (@Po IS NULL OR GHD.po LIKE '%' + @Po + '%')  
				AND (
					(@IdConsignee IS NULL AND @NombreClienteConsignee IS NULL)
					OR GH.ConsigneeId IN (SELECT id FROM #TMP_Consignee)
				)
				AND (
					(@IdBillTo IS NULL AND @NombreBillTo IS NULL)
					OR (@IdConsignee IS NOT NULL OR @NombreClienteConsignee IS NOT NULL)
					OR GH.BillToConsigneeId IN (SELECT id FROM #TMP_BillTo)
				)
                AND (@NroPOD IS NULL OR manifiestoDespacho.nroManifiesto LIKE '%' + @NroPOD + '%')  
                AND (@CodigoBarras IS NULL OR GHD.codigoBarra LIKE '%' + @CodigoBarras + '%')  
                AND (@NombreComercialExportador IS NULL OR GH.idExportador IN (SELECT id FROM Exportadores WHERE nombre LIKE '%' + @NombreComercialExportador + '%'))  
                AND (@PalletLabel IS NULL OR pal.pallet LIKE '%' + @PalletLabel + '%')  
            GROUP BY   
                VCE.id,
                GHD.ShipToId,  
                ISNULL(VCE.nombre, VCE.BillToName),
                ISNULL(ubicacionesBodega.idBodega, GH.idBodega),   
                ISNULL(bodegaPieza.nombre, bodegaGuia.nombre),   
                manifiestoDespacho.id,  
                GHD.idSubCarrier,  
                GHD.nombresubCarrier,    
                T1.codigo  
            HAVING COUNT(1) = SUM(IIF(GHD.estadoPieza = 'DISPATCHED WH', 1, 0));
        END  
  
        SELECT        
            TMP.Id                                      AS Id,  
            TMP.IdClienteFinal,
            TMP.IdShipTo,  
            TMP.NombreClienteFinal,  
            TMP.IdBodega,  
            TMP.NombreBodega,  
            TMP.IdManifiesto,  
            TMP.IdCarrier,  
            TMP.NombreCarrier,  
            TMP.FechaPickUpProgramada,  
            TMP.FechaPickUpEntrega,  
            CONVERT(TIME, TMP.FechaPickUpEntrega)       AS HoraEntrega,  
            TMP.TotalPending                            AS PcsPending,  
            TMP.TotalHold                               AS PcsHold,  
            TMP.TotalShort                              AS PcsShort,  
            TMP.TotalReceived                           AS PcsReceivedWh,  
            TMP.TotalStandBy                            AS PcsStandby,  
            TMP.TotalDespachado                         AS TotalDespachado,  
            TMP.Total                                   AS Total,    
            CONVERT(BIT, 0)                             AS Enviado,  
            CONVERT(BIT, 0)                             AS Procesado,  
            NULL                                        AS TipoNubeDocs,  
            NULL                                        AS Estatus,  
            TMP.codigoCarrier  
        FROM #TablaAgrupacionGuiasHouse AS TMP;
		
    END TRY  
    BEGIN CATCH  
        EXEC [dbo].[pro_LogError];  
    END CATCH;  
END;



/*
-- Test 1 Despues: Sin filtros 1305 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 1 Antes: Sin filtros 1322 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC pro_Despacho_PickUpShipToCompleteDelivered @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 2: Con filtro Consignee | ALLURE FARMS LLC INVENTORY 513 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdConsignee VARCHAR(16) = 'ETY0000000010084', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, @IdConsignee, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 2 Antes: Con filtro Nombre Consignee | ALLURE FARMS LLC INVENTORY 523 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @NombreConsignee VARCHAR(512) = 'ALLURE FARMS LLC INVENTORY', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC pro_Despacho_PickUpShipToCompleteDelivered @FechaDesde, @FechaHasta, NULL, NULL, @NombreConsignee, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 2.1: Filtrando por nombre del consignatario 513 resultados
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @NombreConsignee VARCHAR(512) = 'ALLURE FARMS LLC INVENTORY', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, NULL, NULL, @NombreConsignee, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 3: Con filtro BillTo | ALLURE FARMS LLC GROUP 998 resultados
DECLARE @FechaDesde DATE = '20260101', @FechaHasta DATE = '20260228', @IdBillTo VARCHAR(16) = 'ETY0000000037072', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, @IdBillTo, NULL, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 3.1: Con filtro BillTo | ALLURE FARMS LLC GROUP 998 resultados
DECLARE @FechaDesde DATE = '20260101', @FechaHasta DATE = '20260228', @NombreBillTo VARCHAR(16) = 'ALLURE FARMS LLC GROUP', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, NULL, @NombreBillTo, NULL, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;

-- Test 4: Con filtro BillTo | ALLURE FARMS LLC GROUP 513 resultados toma como prioridad el consignee
DECLARE @FechaDesde DATE = '20260201', @FechaHasta DATE = '20260228', @IdBillTo VARCHAR(16) = 'ETY0000000037072', @IdConsignee VARCHAR(16) = 'ETY0000000010084', @IdEmpresa VARCHAR(16) = 'EMP014';
EXEC AC_pro_GetCompletedDeliveredPickupShipTo @FechaDesde, @FechaHasta, NULL, NULL, @IdBillTo, NULL, @IdConsignee, NULL, NULL, NULL, NULL, NULL, @IdEmpresa;
*/